@font-face {
	font-family: 'Lato-Reg';
	src: url('fonts/Lato-Regular.ttf');
}

@font-face {
	font-family: 'Lato-Bold';
	src: url('fonts/Lato-Bold.ttf');
}

body {
	font-family: 'Lato-Reg' !important;
	background: #fff;
}

h1,h2,h3,h4,h5 {
	font-family: 'Lato-Bold';
}



a {
     color: inherit;
     text-decoration: none;
 }



a:hover {
	color:  #4386F8;
	text-decoration: none;
}
/*a:visited {*/
	/*color: inherit !important;*/
	/*text-decoration: none;*/
/*}*/

.how-to-item article a, article a, section a{
    color: #4386F8;
}

a.read-more{
    color: #DD4B39;
}



#header {
	width: 100%;
	height: auto;
	padding-top: 5px;
	padding-bottom: 5px;
	background: #F1F1F1;
	display: table;
}

#how-to-section, footer{
    background: #F1F1F1;
}

.how-to-item h1{
    margin-top: 0;
}

.how-to-item h2{
    margin-top: 0;
}

.social-share-box{
    border-bottom: 1px solid #f1f1f1;
    border-top: 1px solid #f1f1f1;
    margin-bottom: 20px;
}

.margin-top{
    margin-top: 20px;
}

.margin-top-35{
    margin-top: 50px;
}

.text-white{
    color: #ffffff;
}

.top-ten-item{
    padding-bottom: 10px;
    border-bottom: 1px solid #000000;
}

.how-to-item{
    background: #ffffff;
    border-radius: 5px;
    padding: 20px;
    font-size: 19px;

}

.curve-sidebar{
    background: #ffffff;
    border-radius: 5px;
    padding-top: 20px;
}

.how-to-item article{

}


#header h1 {
	font-size: 26px;
}



.search-form {
	margin-top: 10px;
}

.search-form .search {
	width: 80%;
	height: 40px;
	border: 1px solid #CDCDCD;
	padding-left: 10px;
}

.search-form .submit {
	width: 80px;
	height: 40px;
	line-height: 40px;
	font-size: 22px;
	background: #4386F8;
	text-align: center;
	border: 0px;
	text-align: center;
	color: #fff;
	border-top-right-radius: 2px;
	border-bottom-right-radius: 2px;
}

.no-gutter{
    padding-left: 0;
    padding-right: 0;
}

#nav {
	width: 100%;
	height: 60px;
	border-bottom: 1px solid #EBEBEB;
}

#nav  ul  li {
	height: 60px;
	color: #777;
	line-height: 60px;
	float: left;
	margin-left: 10px;
	margin-right: 10px;
}

#nav ul .active {
	font-family: 'Lato-Bold';
	color: #DD4B39;
	border-bottom: 4px solid #DD4B39;
}

#nav #md-nav {
	height: 60px;
	width: 100%;
	display: none;
}

#nav #lg-nav {
	display: block;
}

.border-right{
    border-right: 1px solid #9c9c9c;
}

.padding-right{
    padding-right: 10px;
}

.content {
	padding-top: 0px;
}

.content .sideList {
	height: auto;
	margin-bottom: 30px;
}

.sideList h4  {
	font-size: 14px;
	color: #555;
}

.blue-color{
	color: #555;
}

.sideList ul  {
	color: #777;
	padding: 0px;
	font-size: 14px;
}

.sideList ul li {
	margin-bottom: 5px;
}

.sideList input[type=checkbox]  {
	border: 1px solid #dcdcdc;
}

.sideList input[type=text]  {
	width: 45px;
	height: 20px;
	margin-left: 2px;
	margin-right: 2px;
}

#go {
	padding: 0.2px 6px;
	font-size: 12px;
	border-radius: 2px;
	font-family: 'Lato-Bold';
	border: 1px solid #ccc;
}

.top-header {
	width: 100%;
	padding-top: 0.5em;
	padding-bottom: 1em;
	display: table;
}

.top-header > div {
	text-align: right;
}

.top-header .top-header-control {
	margin-right: 10px;
	color: #777;
	font-size: 14px;
}

.select {
	width: 80px;
	display: inline-block;
	position: relative;
	overflow: hidden;
	line-height: normal !important;
	margin-top: 5px;
}

.top-header .top-header-control select {
	font: 'Lato-Reg';
  	/*outline:none;  remove focus ring from Webkit*/
  	background: #fff;
  	border: 1px solid #f1f1f1;
}

.icon-bookmark {
	font-size: 16px;
	color: #4D90F0;
}


.item {
	display: table;
	margin-bottom: 20px;
	position: relative;
	cursor: pointer;
}

.item-btn-close {
	width: 32px;
	height: 32px;
	position: absolute;
	right: 0px;
	top: 0px;
	font-size: 32px;
	color: #333 !important;
	margin-top: 10px;
	margin-right: 10px;
	display: none;
	cursor: pointer;
}


.product-item-active {
	box-shadow: none !important;
	border: 0px !important;
}

.item-active {
	border: 1px solid #ccc;
	padding:1em;
	box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.4);
	display: table;
	margin-bottom: 20px;
	position: relative;
	cursor: pointer;
}

.item-active .item-big-buy-btn {
	display: block;
}

.item-active .item-about {
	display: block;
}

.item-active .item-bottom {
	display: block;
}

.item-active .item-content {
	width: 80%;
	float: right !important;
}

.item-image {
	margin-right: 20px;
}

.item-content {
	float: right;
	color: #777;
}

.item-content div {
	margin-bottom: 5px;
}

.item-content h3 {
	color: #1A0DAB;
	font-size: 18px;
	margin-top: 0px;
}

.item-about {
	display: none;
	width: 80%;
}

.item-price {
	color: #222222;
	font-size: 16px;
	font-weight: bold;
	font-family: 'Lato-Bold' !important;
}

.item-big-buy-btn {
	background-color: #4889F2;
	color: #FFF;
	padding-left: 2.5em;
	padding-right: 2.5em;
	border-radius: 2px;
	margin-right: 20px;
	display: none;
	cursor: pointer;
}

.item-big-buy-btn .buy-price {
	font-size: 1.5em;
	margin-right: 10px;
	margin-top: 5px;
	font-weight: bold;
	font-family: 'Lato-Bold' !important;
}

.item-bottom {
	width: 100%;
	margin-top: 20px;
	padding-top: 10px;
	border-top: 1px solid #ccc;
	display: none;
}

.clear {
	clear: both;
}

.btn {
	padding: 0.2em 1.0em;
	font-size: 12px;
	border-radius: 2px;
	color: #444 !important;
	font-family: 'Lato-Bold' !important;
	border: 1px solid #ccc;
}

.other-stores-table {
	width: 100%;
}

.other-stores-table-head {
	background-color: #4D90F0;
	height: 40px;
	line-height: 40px;
	border-radius: 4px;
	font-family: 'Lato-Bold' !important;
	color: #fff;
}

.other-stores-table-cell {
	width: 33.3%;

	float: left;
	padding-left: 10px;
	border-right: 1px solid #fff;
}

#fb-login{
    margin-top: 10px;
    height: 40px;
}

.other-stores-table-cell:last-child {
	border-right: 0px;
}

.other-types {
	width: 100%;
	height: 40px;
	margin-top: 5px;
}

.other-stores-table-row {
	display: block;
	height: 50px;
	line-height: 50px;
}

.other-stores-table-row .btn {
	margin-top: 12px;
	margin-right: 15px;
}

.other-stores-table-body {
	padding-top: 20px;
}


.other-stores-table-body .other-stores-table-row {
	border-bottom: 1px solid #ccc;
}

.other-stores-table-body .other-stores-table-cell {
	border: 0px;
}

.other-stores-table-body .other-stores-table-row:hover {
	box-shadow: 2px 2px 30px 2px rgba(0,0,0,0.5);
}

.other-stores-table-body .other-stores-table-row:hover .btn{
	background-color:  #4D90F0;
	border: 1px solid #4D90F0;
	color: #fff !important;
}


.reviews {
	width: 100%;
	height: auto;
	margin-top: 20px;
	border-top: 1px solid #ccc;
	padding-top: 20px;
}

.review {
	padding-top: 20px;
	padding-bottom: 20px;
	margin-bottom: 10px;
	font-size: 1em;
	font-family: 'Lato-Reg';
	border-bottom: 1px solid #ccc;
}

.review:last-child {
	border: 0px;
}

.top-border {
	border-top: 1px solid #ccc;
	padding-top: 20px;
}

.related-item {
	border-bottom: 1px solid #ccc;
	display: table;
	padding-bottom: 10px;
	margin-bottom: 20px
}

.related-item div {
	margin-bottom: 5px;
}

.related-item-about {
	width: 60%;
}

.related-item:last-child {
	border-bottom: 0px;
}

.related-item-about h3 {
	color: #1A0DAB;
	font-size: 18px;
	margin-top: 0px;
}

.product-header {
	width: 100%;
	display: table;
	background-color: #fff;
	display: none;
	padding-top: 5px;
	padding-bottom: 5px;
	z-index: 100;
}

.product-header-about h4 {
	color: #1A0DAB;
	font-size: 14px;
	margin: 0px;
}

.product-header-about {
	font-size: 12px;
}

.product-header img {
	margin-right: 30px;
	margin-left: 20px;
}

@media (min-width: 1024px) and (max-width: 1199px) {}

@media (min-width: 992px) and (max-width: 1023px) {}

@media (max-width: 992px) {
	.sideList {
		float: left;
		margin-right: 1%;
	}
	#nav #lg-nav {
		display: none;
	}
	#nav #md-nav {
		display: block;
		width: 100%;
		height: 40px;
		margin-top: 10px;
	}
}

.margin-bottom-10{
    margin-bottom: 10px;
}



@media (max-width: 768px) {
	.item-content {
		width: 60%;
	}
	.search-form .search {
		width: 100%;
		margin-top: 5px;
		float: none !important;
	}
	.search-form .submit {
		width: 100%;
		border-radius: 2px;
		border-radius: 2px;
	}
}

.custom-breadcrumb li {
    display: inline;
}
.custom-breadcrumb li+li:before {
    content:" /  ";
}


/*dropdown sub menu start*/

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}


/*dropdown sub menu end*/



/*
*sharethis button cutoff fix
*/
.stbutton {
    /*height:16px;*/
    /*box-sizing: border-box;*/
    /*padding-bottom: 10px;*/
    /*border: 1px solid black;*/
    height: 22px !important;
    line-height: 20px;
}



/**{*/
    /*box-sizing: border-box;*/
/*}*/


/*
tag styling
*/

.tag {
    font-family: Helvetica, Arial, sans-serif;
    background: #588fe5;
    display: inline-block;
    color: #fff;
    position: relative;
    padding: 10px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    margin: 0 30px 0 0;
    text-decoration: none;
}

.tag:hover {
    background-color: #739fe4;
}

.tag:before {
    background: #fff;
    width: 10px;
    height: 10px;
    content: "";
    display: inline-block;
    border-radius: 20px;
    margin: 0 5px 0 0;
}

.tag:after {
    display: inline-block;
    border: 19px solid;
    border-color: transparent transparent transparent #588fe5;
    height: 0;
    width: 0;
    position: absolute;
    right: -38px;
    top: 0;
    content: "";
    display: inline-block;
}


.tag:hover:after {
    border-color: transparent transparent transparent #739fe4;
}

.p-no-margin-no-padding{
    /*border: 1px solid black;*/
    margin-bottom: 0px;
    margin-top: 0px;
}

/*.product-image{*/
    /*max-width:150px;*/
    /*max-height:100px*/
/*}*/

.product{
    margin-bottom: 2%;
    margin-left: auto;
    margin-right: auto;
    height: 220px;
}

a.compare-prices-link{
    color: #ffffff;
}


