/*body{*/
    /*font-family: GillSans, Calibri, Trebuchet, sans-serif;*/
/*}*/

body,
.pure-g [class *= "pure-u"],
.pure-g-r [class *= "pure-u"] {
    /* Set you're content font stack here: */
    /*font-family: Georgia, Times, "Times New Roman", serif;*/
    /*font-family: GillSans, Calibri, Trebuchet, sans-serif;*/
    /*font-family:'AdelleSans', sans-serif;*/
    /*-webkit-font-smoothing: antialiased;*/
    /*line-height: 1.6em;*/
    font-family: "Aleo Regular","Palatino Linotype",Palatino;
    /*font-family: arial,sans-serif;*/
    /*font-family: verdana,arial,helvetica,sans-serif;*/

}

#layout{
    margin: 0;
    padding: 0;
    width: 100%;
    /*display: flex;*/
}


#header{
    background-color: #000000;
    height:9%;
    min-width: 100%;
    /*min-width: 100%;*/
    /*border: 3px solid green;*/
    /*margin-right: 0;*/
}

#content h1{
    margin: 0;
}

#author-bio img{
    margin-right: 5px;
}

#fourofour{
    /*position: relative;*/
    margin-top: 10px;
    min-width: 50%;
    /*background-color: red;*/
    margin-right: auto;
    margin-left: auto;
}

#fourofour table tr td b:before{
    content:"» ";
}

.margin-top-10{
    margin-top: 10px;
}

.margin-top-20{
    margin-top: 20px;
}

.margin-bottom-20{
    margin-bottom: 20px;
}
.margin-bottom-5{
    margin-bottom: 5px;
}

.margin-left-5{
    margin-left: 5px;
}
.margin-left-20{
    margin-left: 20px;
}
.margin-left-30{
    margin-left: 30px;
}

.margin-left-50{
    margin-left: 50px;
}

.padding-left-20{
    padding-left: 20%;
}
.padding-left-10{
    padding-left: 10px;
}

.padding-top-1{
    padding-top: 1%;
}



.button-red{
    color: white;
    border-radius: 0px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.button-red{
    background: #cc0000;
}

.button-orange{
    background: orange;
}

.no-margin-left{
    margin-left: 0;
}

.no-margin-right{
    margin-right: 0;
}

.no-border{
    border: 0px;
}

@media (min-width:980px){
    .pure-visible-phone{display:none}
    .pure-visible-tablet{display:none}
    .pure-hidden-desktop{display:none}
}
@media (max-width:767px){
    .pure-hidden-phone{display:none}
    .pure-visible-desktop{display:none}
    #logo{
        width: 200px;
        margin-right: auto;
        margin-left: auto;
    }
    #logo-div{
        padding-left: 5px;
    }
    #mobile-menu{
        margin-right: 10px;
    }
    #mobile-search-menu{
        margin-right: 5px;
    }
}
@media (min-width:768px) and (max-width:979px){
    .pure-hidden-tablet{display:none}
    .pure-visible-desktop{display:none}
}

.sub-menu{
    list-style: none;
    height: 40px;
}

#sub-nav{
    background: #f8f8f8;
}

.standard-red{
 color: #cc0000;
}



/*   code for the new hidden nav */

        /*.hover-menu ul{*/
            /*position: absolute;*/
            /*padding: 0px;*/
            /*display: none;*/
            /*top: 94px;*/
            /*margin-left: -10px;*/
            /*transition:1s;*/
            /*background-color: #f0f0ee;*/


        /*}*/
        /*.hover-menu:hover > .hover-menu-ul{*/
            /*display: block;*/
        /*}*/


        /*.hover-menu ul li{*/
            /*display: block;*/
            /*background-color: #f0f0ee;*/
        /*}*/


        /*.hover-menu ul li:hover{*/
            /*border-bottom-color:#cc0000;*/
            /*border-bottom-style: solid;*/
        /*}*/


/*   code for the new hidden nav */

.no-padding{
    padding: 0;
}
.no-margin{
    margin: 0px;
}
.display-block{
    display: block;
}

#home-banner{
    border: 1px solid #f0f0ee;
    background: #f8f8f8;
    height: 280px;
    background: url("/images/v2/banalogo.png") no-repeat;
    background-position: right 10px top;

}

#home-banner-note{

}

.note-font-style{
    color: #cc0000;
    font-size: 50px;
}

.has-gutter > div > * {
    margin-right:0.5rem;
}

#box-container > div {
    margin-right: 1.1rem;
}

.remove-background-color a:hover{
    background-color: #000000 !important;
    color: #fff;
}

.section-header-bar{
    background: #f8f8f8;
    padding: 10px 10px 5px 5px;
}

.section-header-bar h2, .section-header-bar h3{
    margin-top: 0px;
    margin-bottom: 0px;
    display: inline-block;
}


.negative-margin-top-6{
    margin-top: -6px;
}

.standard-padding{
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;

}

.float-right{
    float: right;
}

.inline-block{
    display: inline-block;
}

.undecorated-link{
    text-decoration: none;
    color: #000000;
}

.float-left{
    float: left;
}

.unstyled-list{
    list-style: none;
}


.product-display-box{
    padding-top: 2%;
    border:1px solid #f8f8f8;
    text-align: center;
    margin-top: 10px;
    height: 300px;
    position: relative;
}

/*#product-display-box-detail{*/
    /*position: absolute;*/
    /*position: absolute;*/
    /*margin-top: auto;*/
    /*bottom: 0px;*/
    /*vertical-align: text-bottom;*/
    /*background-color: purple;*/
/*}*/

/*.product-display-box .compare-prices{*/

   /*bottom: 0;*/
    /*vertical-align: text-bottom;*/
/*}*/

.product-display-box:hover{
    border-color: orange;
}

.product-display-box img{
   /*width: 100%;*/
}

.product-display-box h1{
    font-size: 18px;
    margin: 0px;
    margin-top: 10px;
    margin-bottom: 3px;
}

.product-display-box h3{
   font-size: 17px;
    margin: 0px;
    color: #cc0000;
}

.product-display-box p{
   font-size: 15px;
    margin: 0px;
    margin-top: 2px;
}

.product-display-box div.compare-prices{
    background-color: orange;
    width: 100%;
    /*margin-top: 5px;*/
    /*padding-top: 5px;*/
    position: absolute;
    bottom: 0px;
    /*vertical-position: ;*/
}

div.compare-prices a{
    font-size: 18px;
    color: #fff;

}

.product-display > div{
    margin-right:2.0rem;
    /*width: 100%;*/
}

.product-display > div:last-child{
    margin-right: 0rem;
    /*background-color: orange;*/
}

.product-display-in-categories > div{
    margin-right: 1.5rem;
}
.product-display-in-categories > div:last-child{
    margin-right: 0rem;
}

#footer{
    margin-top: 3%;
    padding: 2%;
    background-color: #f8f8f8;
}


#footer ul{
    list-style: none;
    padding: 0px;
}

#footer ul li{
    padding: 3px;
}

#footer span{
    font-weight: bold;
}

#about{
    color: #5e5e5e;
}

#featured, #box-container, #product-detail-display{
    border: 1px solid #f8f8f8;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 92%;
}

#product-detail-display h1{
    margin: 0px 10px 0px 0px;
}


#breadcrumb{
    list-style: none;
    margin-top: 0px;
}
#breadcrumb li{
    display: inline-block;

}

#breadcrumb li+li:before {
    content:" » ";
}

#product-detail-nav-bar{
    list-style: none;
    background-color: #f8f8f8;
    padding-left: 0px;
    border-top: 1px solid #cecece;
    border-bottom: 1px solid #cecece;
}
#product-detail-nav-bar li{
    display: inline-block;
    /*background-color: #cecece;*/


}

#product-detail-display li a{
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    margin-right: -5px;
    border-right: 1px solid #cecece;
    cursor: pointer;
    transition:0.33s;
}
#product-detail-display li a:hover{
    background-color: #cc0000;
    color: #FFFFFF;
}

img.product-store-logo{
    width: 100px;
}

img.product-store-trusted{
    width: 20%;
}

.go-to-store-button:active{
    transition:0.33s;
    -webkit-transform:scale(0.95);
}

.product-image-box{
    text-align: center;
    border-right: 1px solid #f8f8f8;
}

.table-borderless{
    border: 0px;
}

thead th{
    background-color: #8B0000;
    color: #FFFFFF;
}

.text-color-red{
    color: #cc0000;
}


.product-review-box-header, .news-box-header{
    padding: 10px;
    border-bottom: 1px solid #f8f8f8;
    border-top: 1px solid #f8f8f8;

}

.product-review-box-header h2, .news-box-header h2{
    margin: 0px;
}

.news-item{
    margin-right:2.0rem;
}

.news-item img{
    width: 100%;
}

.news-item p{
    text-align: justify;
}

.left-navigation{
   border: 1px solid #f8f8f8;;
}

.left-navigation-header{
    background-color: #f8f8f8;
}

.left-navigation-header > *{
    margin-top: 0px;
}

.left-navigation-list{
    list-style: none;
    padding-left: 0px;
}

.left-navigation-list li{
    width: 100%;
}

.left-navigation-list li a{
    padding-top: 5px;
    padding-bottom: 5px;
    display: block;
    position: relative;
    width: inherit;
    border-top: 1px dotted #f8f8f8;
    border-bottom: 1px dotted #f8f8f8;
}

.left-navigation-list li a:hover{
    background-color: #f8f8f8;
}

.left-navigation-list li img{
    vertical-align: middle;
    width: 70px;
    margin-right: 5px;
}

.center-align{
    text-align: center;
}



.sidebar-content ul{
   padding: 0px;
}
.sidebar-content ul li{
    display: table;
    padding-bottom: 10px;
    margin-bottom: 10px;

    border-bottom: 1px solid #f5f8fc;
}

.sidebar-content ul li img{
    width: 100px;
}

.sidebar-content ul li a:hover{
    text-decoration: underline;
}

.sidebar-content ul li a,img,h4{
    display: table-cell;
    vertical-align: middle;
}

.sidebar-title{
    background-color: orange;
    color: #fff;
    padding: 10px;
    border-left: 5px solid #cc0000;
}

.sidebar-title h3{
    padding: 0px;
    margin: 0px;
}
.sidebar-title h4{
    padding: 0px;
    margin: 0px;
    width: 100px;
}




#recommended-products li #recommended{
display: table-cell;
vertical-align: middle;
width: 400px;
padding-left: 10px;
}
#recommended-products li #recommended h4{
font-size: 20px;
margin-bottom: 10px;
}

#recommended-products li #recommended span{
display: block;

}
#recommended-products li #recommended span:nth-child(2){
display: block;
color: #cc0000;

}

#recommended-products li #recommended a{
padding: 5px;
background-color: #cc0000;
text-align: center;
color: #fff;
    width: 50%;

}

#recommended-products li #recommended a:hover{
text-decoration: none;

}


#recommended-products li>img{
    height: 100px;
    width: 130px;
    max-width: 130px;
    min-width: 130px;
    max-height: 100px;
    min-height: 70px;
}























#large-subscribe-box{
    display: table;
    margin-top: 40px;
    background-color: #f8f8f8;
    padding-left: 20px;
    padding-top: 5px;
}

#large-subscribe-box>div{
    display: table-cell;
    vertical-align: middle;
}
#large-subscribe-box>div span{
    display: block;
    font-size: 40px;
    padding-left: 20px;
    color: #cc0000;
    word-spacing: 2px;
    letter-spacing: 2px;
}

#large-subscribe-box>div p{
    font-size: 18px;
     padding-left: 20px;
}

#large-subscribe-box>div form{
     padding-left: 20px;
}

#featured .featured-title{
    background-color: #f0f0ee;
    text-align: center;
    padding: 5px;
    color: #000;
    font-size: 26px;
    font-weight: bolder;


}

#featured{
    border: 2px solid #f0f0ee;
    /*margin-top: 10px;*/
}


#featured .featured-content ul{
    padding: 0px;

}

#featured .featured-content ul li:nth-child(1){

    margin-left: 2rem;


}
#featured .featured-content ul li{
    width: 11.90rem;
    display: inline-block;
    margin-right: 1rem;
    text-align: left;

}
#featured .featured-content ul li img{
    width: 100%;

}
#featured .featured-content ul li a:hover{
    text-decoration: underline;

}



.post-section-title{
    background-color: #f8f8f8;
    color: #000;
    padding: 9px;
}
.post-section-title h1{
    margin: 0px;
    font-size: 20px;
}

.post-results .post-results-item{
    margin-top: 10px;
}

.post-results > div{
    margin-right: 1.9rem;
}

.post-results > div:nth-child(even){
    margin-right: 0rem;
}

.post-results .post-results-item img{
    width: 100%;
    height: 197px;
    position: relative;
}

.post-results-item h2{
    margin-top: 0px;
    font-size: 20px;
 }
    .post-results-item h2:hover{
        text-decoration: underline;
    }

.post-results-item span{
    font-size: 20px;
    background-color: #000;
    color: #fff;
    padding: 5px;
    position: relative;
    top:-30px;

}

.compare-prices-component{
    /*background-color: #f8f8f8;*/
    margin-top: 20px;
}

.compare-prices-component table{
    border: 0px;
    background-color: #fff;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;

}

.compare-prices-component table td{
    border: 0px;
    border-bottom: 1px dotted #e0e0dd;
}


.compare-prices-component table td > img{
    width: 20px;
}

.compare-prices-component p:nth-child(1){
    background-color:#cc0000;
    margin: 0px;
    padding: 5px;
    color: #fff;
}



.compare-prices-component h4{
    margin-left: 3%;
    margin-top: 5px;
    margin-bottom: 0px;
    font-size: 20px;
    font-weight: normal;
}

#social-embed-component{
    min-width: 100%;
    /*border-radius: 5px;*/
    background-color: red;
}

#social-embed-component div{
    /*background-color: #f8f8f8;*/
    border-radius: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}

#social-embed-component p{
    text-align: center;
}



.sub-menu > li{
    display: inline-block;
    /*height: auto;*/
    margin-right: -4px;
    /*padding-left: 10px;*/
    padding-right: 10px;
    padding-bottom: 9px;
    padding-top: 9px;
    border-right-style: solid;
    border-right-color: #f0f0ee;
    border-right-width: 1px;
    cursor: pointer;

}



.sub-menu > li  a{
    display: inline-block;
    padding-left: 10px;
}



.sub-menu>li:hover{
    border-bottom-color:#cc0000;
    border-bottom-style: solid;

}

.sub-menu > li > a{
    text-decoration: none;
    color: inherit;
}

.sub-menu > li:hover ul{
    z-index: 1;
    display: block;
}


/*----- Bottom Level -----*/
.drop-down-menu li{
    display: block;
    margin-left: 0px;
    padding-left: 10px;
    border-bottom: 1px solid #f0f0ee;
    position: relative;
    width: 100%;
    background-color: #f8f8f8;

    /*background-color: brown;*/
    /*width: 100%;*/
    /*top: 100%;*/
}

.drop-down-menu li a{
    display: block;
    padding: 10px;
    color: inherit;
    text-decoration: none;
}

.drop-down-menu li:hover{
    border-bottom: 1px solid #cc0000;
}

.drop-down-menu{
    /*z-index: -10;*/
    display: none;
    position: absolute;
    /*width: inherit;*/
    margin-left: 0;
    padding-left: 0;
    background-color: #f8f8f8;
    margin-top: 12px;
}

/*pagination*/
.pagination {
    text-align: center;
    margin-top: 20px
}

.pagination > a{
color: #4A4A4A;
border: 0; outline: 0;
}
.pagination a, .pagination strong {
    background: #fff;
    display: inline-block;
    margin-right: 3px;
    padding: 4px 12px;
    text-decoration: none;
    line-height: 1.5em;

    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.pagination a:hover {
    background-color: orange;
    color: #fff;
}
.pagination a:active {
    background: orange;
}
.pagination strong {
    color: #fff;
    background-color: orange;
}

