script(src='//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js', async)
ins(class='adsbygoogle', style="display:inline-block;width:160px;height:600px", data-ad-client="ca-pub-0564528186799166", data-ad-slot="4679919585")
script.
    (adsbygoogle = window.adsbygoogle || []).push({});