script(src='//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js', async)
ins(class='adsbygoogle', style="display:inline-block;width:336px;height:280px", data-ad-client="ca-pub-0564528186799166", data-ad-slot="8887742386")
script.
    (adsbygoogle = window.adsbygoogle || []).push({});