.pure-g
    .pure-u-1
        p.no-margin(style='text-align:center;')
            script(src='//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js', async)
            ins(class='adsbygoogle', style="display:inline-block;width:300px;height:250px", data-ad-client="ca-pub-0564528186799166", data-ad-slot="1397194782")
            script.
                (adsbygoogle = window.adsbygoogle || []).push({});