.pure-g
    .pure-u-1
        p.no-margin(style='text-align:center;')
            script(src='//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js', async)
            ins(class='adsbygoogle', style="display:inline-block;width:728px;height:90px", data-ad-client="ca-pub-0564528186799166", data-ad-slot="9861287985")
            script.
                (adsbygoogle = window.adsbygoogle || []).push({});