extends layout

block content
  div(class='container')
      h1(class='text-center')
          img(src='images/bestprices.png')
          small Save money.
      h3.text-center Compare prices in one click -
        i Konga, Jumia, Kaymu, Dealdey ...
      //h6.text-center Save Money
      p.text-center
        span.text-danger Coming soon
        =' | '
        ='Search - Compare prices - Buy'
      p.text-center#subscribe-box
          form(class='text-center', id='subscribeForm')
            small.hide.text-danger#warning Incorrect email address
            input(type='email', class='form-control', placeholder='Your email address')
            br
            input(type='submit', class='btn btn-danger btn-lg', value="I'm in")
          p(class='text-danger text-center hide', id='success-message')
            ="Thank you. Please share with friends"
            p.text-center.hide#social-share
                span(class='st_facebook_hcount', displayText='Facebook')
                span(class='st_twitter_hcount', displayText='Tweet')
                span(class='st_googleplus_hcount', displayText='Google +')
