doctype html
html
  head
    title= 'Bestprices.ng | #1 price comparison website in Nigeria.'
    meta(name='description', content='Save money with #1 price comparison website in Nigeria. Compare prices of products from online shops in Nigeria.')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
    meta(name='google-site-verification', content='YwkbOOgrdWkcwsV9W_gIrONdgNukNXGa6ECAQx01kBA')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/fonticons.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='shortcut icon', href='/images/favicon.png?v=1.1')
    script(src='http://w.sharethis.com/button/buttons.js')
    script.
        stLight.options({publisher: "b5486515-ec4a-4cda-acd9-3d08407da2d9", doNotHash: false, doNotCopy: false, hashAddressBar: false});
    include includes/scripts
  body
    block content
    //script(src='http://fb.me/react-0.12.2.js')
    //script(src='http://fb.me/JSXTransformer-0.12.2.js')
    script(src='http://code.jquery.com/jquery-2.0.3.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery-browser/0.0.7/jquery.browser.min.js')
    script(src='/javascripts/subscribe-component.js')
