.fb-like-box(data-href='https://www.facebook.com/bestpricesng', data-colorscheme='light', data-show-faces='true', data-header='true', data-stream='false', data-show-border='true')
script(async, src='//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js')
ins.adsbygoogle(style='display:inline-block;width:300px;height:600px', data-ad-client='ca-pub-0564528186799166', data-ad-slot='8470990786')
script.
    (adsbygoogle = window.adsbygoogle || []).push({});
