extends base
block body
    section.content
        .container
            .row
                // top ten to section
                .col-md-8
                    if posts
                        for post in posts
                            .col-md-12.top-ten-item(itemscope, itemtype='http://schema.org/Article')
                                h2(itemprop='headline')
                                    a(href=post.slug)=post.title
                                .col-md-3.no-gutter(itemprop='thumbnailUrl')
                                    img.pull-left(src=(post.thumbnail ? post.thumbnail : ''), style='width:170px;height:112px;')
                                .col-md-7.no-gutter
                                    article=post.summary
                                    p(itemprop='url')
                                        a.read-more(href=post.slug) Read more
                    +pagination(1, page_count, current_page, path)
                .col-md-4
                    include includes/sidebars/article-sidebar
        include includes/footer