extends base
block body
    section#how-to-section.content
        .container
            .row
                // how to section
                .col-md-8
                    for post in posts
                        .col-md-12.how-to-item.margin-top(id='', itemscope, itemtype='http://schema.org/Article')
                            h2(itemprop='headline')
                                a(href=post.slug)=post.title
                            .col-md-3.no-gutter(itemprop='thumbnailUrl')
                                img.pull-left(src=(post.thumbnail ? post.thumbnail : ''), style='width:170px;height:112px;')

                            .col-md-7.no-gutter
                                article=post.summary
                                p(itemprop='url')
                                    a.read-more(href=post.slug) Read more

                .col-md-4.curve-sidebar(id='')
                    include includes/sidebars/article-sidebar

        include includes/footer