extends base
block body
    section.section#how-to-section
        .container
            .row
                // how to section
                .col-md-8
                    - var counter = 0
                    for step in post.steps
                        if counter == 0
                            .col-md-12.how-to-item.margin-top(id='', itemscope, itemtype='http://schema.org/Article')
                                h1(itemprop='headline')=post.title

                                div.row.margin-bottom-10
                                    div.col-md-1
                                        img(src=post.created_by.photo, style='width:50px; heigth:50px')
                                    div.col-md-2
                                        small(rel='author')(style='display:block;') !{post.created_by.first_name} !{post.created_by.last_name}
                                        //small #{moment(post.published_on).format('MMMM Do YYYY')}
                                    div.col-md-9
                                        span.st_facebook_large.stbutton(displaytext='Facebook')
                                        span.st_twitter_large.stbutton(displaytext='Tweet')
                                        span.st_googleplus_large.stbutton(displaytext='Google +')
                                        span.st_pinterest_large.stbutton(displaytext='Pinterest')
                                        span.st_buffer_large.stbutton(displaytext='Buffer')
                                        span.st_linkedin_large.stbutton(displaytext='Linkedin')
                                        span.st_blogger_large.stbutton(displaytext='Blogger')
                                        span.st_tumblr_large.stbutton(displaytext='Tumblr')
                                        span.st_delicious_large.stbutton(displaytext='Delicious')
                                        span.st_digg_large.stbutton(displaytext='Digg')
                                article(itemprop='articleBody')!=step.content
                        else
                            .col-md-12.how-to-item.margin-top(id='', itemprop='articleBody')
                                h2!=step.title
                                article!=step.content
                        - counter += 1
                    .col-md-12.how-to-item.margin-top(id='')
                        h5.text-center Did this article help you? Please share with friends.
                        div.text-center
                            span.st_facebook_large.stbutton(displaytext='Facebook')
                            span.st_twitter_large.stbutton(displaytext='Tweet')
                            span.st_googleplus_large.stbutton(displaytext='Google +')
                            span.st_pinterest_large.stbutton(displaytext='Pinterest')
                            span.st_buffer_large.stbutton(displaytext='Buffer')
                            span.st_linkedin_large.stbutton(displaytext='Linkedin')
                            span.st_blogger_large.stbutton(displaytext='Blogger')
                            span.st_tumblr_large.stbutton(displaytext='Tumblr')
                            span.st_delicious_large.stbutton(displaytext='Delicious')
                            span.st_digg_large.stbutton(displaytext='Digg')
                .col-md-4.curve-sidebar(id='')
                    include includes/sidebars/article-sidebar
        include includes/footer