extends base
block body
    section.content
        .col-md-12
            .col-md-2.hidden-sm.hidden-xs
                +price_sellers_filter()

                include includes/ads/index-left-ad
            .visible-xs-12.visible-sm-12.hidden-md.hidden-lg
                include includes/ads/index-bottom-ad

            .col-md-8.col-sm-12.col-xs-12
                if products && products.length > 0
                    for product in products
                        .col-md-3.col-xs-8.col-sm-8.product(itemscope, itemtype="http://schema.org/Product")
                            p(class='imgLiquidFill imgLiquid', style='width:100px; height:100px')
                                a(href='/#{product.slug}')
                                    img(src=product.photos[0], style='width:80px; max-height:100px;', itemprop='image')
                            p.p-no-margin-no-padding
                                a(href='/#{product.slug}', itemprop='name')=product.title
                            if product.offers
                                p.p-no-margin-no-padding
                                    small.text-warning.text-center in #{product.offers.length} stores
                            if product.offers
                                p.p-no-margin-no-padding
                                    | from &nbsp;
                                    span.text-danger(itemprop='offers', itemscope, itemtype='http://schema.org/Offer') ₦
                                        span(itemprop='price') #{minimum_price(product.offers)}
                            if product.offers
                                p.p-no-margin-no-padding
                                    span.text-center.label.label-danger.label-lg
                                        a.compare-prices-link(href='/#{product.slug}', itemprop='url', title='compare prices of #{product.title} from #{product.offers.length} online stores in Nigeria') Compare prices

                else
                    .col-md-12.col-sm-12.col-xs-12
                        p.text-danger No products found...


                .col-md-12.col-sm-12.col-xs-12
                    +pagination(1, page_count, current_page, path, 'dual')
                    .col-md-12.col-sm-12.col-xs-12.hidden-xs.hidden-sm
                        include includes/ads/index-bottom-ad







            .col-md-2

                include includes/ads/index-right-ad

        include includes/footer