extends base
block body
    section.content
    .container(itemscope, itemtype='http://schema.org/Organization')
        .col-md-12
            .row
                .col-md-3
                    .col-md-12
                        h2(itemprop='lagalName')= brand.name

                    img(src=brand.logo, itemprop='logo' alt='#{brand.name} logo', style='width:200px;')

                .col-md-4
                    table.table.table-condensed
                        tr
                            td
                                strong Founded

                            td(itemprop='foundingDate')= brand.founded

                        tr
                            td
                                strong Wikipedia

                            td
                                a(href=brand.wikipedia, target='_blank') #{brand.name} on wikipedia

                        tr
                            td
                                strong Website

                            td
                                a(href=brand.website) #{brand.name}'s official website
                        tr
                            span(itemprop='description')!=brand.about
                .col-md-5
                    include includes/ads/store-brand-top
                    //img(src='/images/v1/banner5.png')
        .col-md-12
            .container.top-border
                .col-md-8
                    h4
                        | Products from #{brand.name}
                        //small 6,134 Offers
                    .other-stores-table.pull-left
                        table.table.table-responsive(style='width:100%;')
                            thead.other-stores-table-head
                                tr.other-stores-table-other-stores-table-row
                                    td
                                        h4 Image
                                    td
                                        h4 Name
                                    td
                                        h4 Rating
                                    td
                                        h4 Offers
                            tbody
                                if products
                                    for product in products
                                        tr(itemprop='owns', itemscope, itemtype='http://schema.org/Product')
                                            td
                                                img(src=product.photos[0], style='width:70px;')

                                            td(itemprop='name')
                                                a(href='/#{product.slug}')=product.title

                                            td
                                                span.text-muted No rating

                                            td(itemprop='url')
                                                a.btn.btn-default(href='/#{product.slug}', target='_blank') View Offers

                        +pagination(1, page_count, current_page, path)


                .col-md-4
                    include includes/ads/store-brand-bottom

    include includes/footer