extends base
block body
    section.content
        .col-md-12
            .container
                .col-md-8
                    h2
                        | Brands On Bestprices
                        small
                    .other-stores-table.pull-left
                        table.table.table-responsive(style='width:100%;')
                            thead.other-stores-table-head
                                tr.other-stores-table-other-stores-table-row
                                    td
                                        h4 Brand Logo
                                    td
                                        h4 Brand Name
                                    td
                                        h4 Founded
                                    td
                                        h4 Offers
                            tbody
                                if manufacturers
                                    for brand in manufacturers
                                        tr(itemscope, itemtype='http://schema.org/Organization')
                                            td
                                                img(src=brand.logo, style='width:70px;')

                                            td
                                                a(href='/brands/#{brand.slug}')
                                                    b(itemprop='lagalName')=brand.name
                                            td
                                                span.text-muted= brand.founded
                                            td(itemprop='url')
                                                a.btn.btn-default(href='/brands/#{ brand.slug }', title='product offers from #{brand.name}', target='_blank') View Offers
                        +pagination(1, page_count, current_page, path)
                .col-md-4
                    include includes/ads/brands-stores-sidebar


