extends base
block body
    section.content

        .col-md-12
            #items
                .item.item-active.product-item-active.col-md-12(data-open='false', itemscope, itemtype='http://schema.org/Product')

                    .col-md-2.no-gutter.col-xs-12.col-sm-12
                        img.item-image.pull-left(src=product.photos[0], itemprop='image', style='max-width:200px;')

                    .col-md-7.no-gutter.col-xs-12.col-sm-12
                        h3(itemprop='name', style='margin-top:0;')= product.title
                        div
                            span.item-price(itemprop='price') &#x20A6;#{minimum_price(product.offers)}
                                span &nbsp;&nbsp;from&nbsp;&nbsp;
                                    span.text-warning #{product.offers.length} stores
                            a.btn(href='#')
                                span.icon-bookmark

                        .item-specs
                            a(href='/brands/#{product.manufacturer.slug}', itemprop='manufacturer', itemscope, itemtype='http://schema.org/brand')=product.manufacturer.name
                            if product.features_summary
                                span(itemprop='')  #{product.features_summary}

                        .item-about
                            if product.summary
                            p
                                |  #{product.summary}
                        // link ad
                        div


                        .col-md-12.col-xs-12.col-sm-12(style='marging-left:0;padding-left:0;')

                            .other-stores-table.pull-left
                                .other-stores-table-head
                                    .other-stores-table-other-stores-table-row
                                        .other-stores-table-cell Sellers

                                        .other-stores-table-cell Trusted Store

                                        .other-stores-table-cell Total Price

                                .other-stores-table-body(itemscope, itemprop='offers', itemtype='http://schema.org/Offer')
                                    if product.offers
                                        for offer in product.offers
                                            .other-stores-table-row
                                                .other-stores-table-cell(itemprop='seller')
                                                    a(href='/stores/#{offer.store.slug}')
                                                        img(src=offer.store.logo, alt='#{offer.store.name} logo', style='width:50px;')
                                                .other-stores-table-cell
                                                    if offer.store.trusted_shop
                                                        img(src='/images/v1/trusted.png', style='width:20px;')

                                                .other-stores-table-cell.text-danger(itemprop='price')
                                                    - var aff_query = offer.store.affiliate_query || ""
                                                    | ₦#{offer.price}
                                                    a.btn.pull-right(href="#{offer.link}#{aff_query}", target='_blank') See Offer
                                    include includes/ads/product-below-offers

                        .clear
                    .col-md-3.hidden-sm.hidden-xs
                        include includes/ads/square-ad


        .col-md-12
            .container.top-border
                .col-md-8
                    .col-md-12.no-gutter(itemprop='description')
                        h4 #{product.title} Details

                    article!=product.description
                    p
                        a(href='#{product.official_website}', target='_blank') Official website of #{product.title}
                    p
                        a(href='#{product.wikipedia}', target='_blank') Wikipedia page of #{product.title}


                .col-md-4
                    include includes/ads/store-brand-bottom


        include includes/footer