extends base
block body
    section.content
        .container
            .row
                // top ten to section
                .col-md-8(itemscope, itemtype='http://schema.org/Article')
                    if post
                        .col-md-12.top-ten-item
                            h2(itemprop='headline')= post.title
                            div.row.margin-bottom-10
                                div.col-md-1
                                    img(src=post.published_by.photo, style='width:50px; heigth:50px')
                                div.col-md-2
                                    small(rel='author')(style='display:block;') !{post.published_by.first_name} !{post.published_by.last_name}
                                    small(itemprop='datePublished') #{moment(post.published_on).format('MMMM Do YYYY')}
                                div.col-md-9
                                    span.st_facebook_large.stbutton(displaytext='Facebook')
                                    span.st_twitter_large.stbutton(displaytext='Tweet')
                                    span.st_googleplus_large.stbutton(displaytext='Google +')
                                    span.st_pinterest_large.stbutton(displaytext='Pinterest')
                                    span.st_buffer_large.stbutton(displaytext='Buffer')
                                    span.st_linkedin_large.stbutton(displaytext='Linkedin')
                                    span.st_blogger_large.stbutton(displaytext='Blogger')
                                    span.st_tumblr_large.stbutton(displaytext='Tumblr')
                                    span.st_delicious_large.stbutton(displaytext='Delicious')
                                    span.st_digg_large.stbutton(displaytext='Digg')
                                    //span.st_sharethis_large.stbutton(displaytext='Sharethis')
                            div(itemprop='articleBody')!=post.content
                                div.margin-bottom-10(itemprop='keywords')
                                    for tag in post.tags
                                        if tag
                                            a #{tag} ,
                                div
                                    span.st_facebook_large.stbutton(displaytext='Facebook')
                                    span.st_twitter_large.stbutton(displaytext='Tweet')
                                    span.st_googleplus_large.stbutton(displaytext='Google +')
                                    span.st_pinterest_large.stbutton(displaytext='Pinterest')
                                    span.st_buffer_large.stbutton(displaytext='Buffer')
                                    span.st_linkedin_large.stbutton(displaytext='Linkedin')
                                    span.st_blogger_large.stbutton(displaytext='Blogger')
                                    span.st_tumblr_large.stbutton(displaytext='Tumblr')
                                    span.st_delicious_large.stbutton(displaytext='Delicious')
                                    span.st_digg_large.stbutton(displaytext='Digg')
                                div.fb-comments(data-href='', data-width='100%', data-numposts='10', data-colorscheme='light')
                .col-md-4
                    include includes/sidebars/article-sidebar
                    +latest_stories(page.name, latest_posts)
        include includes/footer