extends base
block body
    section.content
    .container(itemscope, itemtype='http://schema.org/Organization')
        .col-md-12
            .row
                .col-md-3
                    .col-md-12
                        h2(itemprop='legalName')= store.name

                    img(src=store.logo, itemprop='logo', style='max-width:200px;' alt='#{store.name} logo')

                .col-md-4
                    table.table.table-condensed
                        tr
                            td
                                strong Address

                            td(itemprop='location')= store.address

                        tr
                            td
                                strong Email

                            td(itemprop='email')= store.email

                        tr
                            td
                                strong Website

                            td
                                a(href=store.website, target='_blank')= store.website

                        tr
                            td
                                strong Customer Support Tel

                            td(itemprop='telephone')= store.tel

                        tr
                            td
                                strong Trusted

                            td
                                if store.trusted_shop
                                    img(src='/images/v1/trusted.png', alt='#{store.name} is a trusted store', style='width: 30px;')

                .col-md-5
                    include includes/ads/store-brand-top
                    //img(src='/images/v1/banner5.png')
        .col-md-12
            .container.top-border
                .col-md-8
                    h4
                        | Offers from #{store.name}
                        small &nbsp;&nbsp; #{store_offers.item_count} offers
                    // <
                    .other-stores-table.pull-left
                        .other-stores-table-head
                            .other-stores-table-other-stores-table-row
                                .other-stores-table-cell Product

                                .other-stores-table-cell Trusted
                                // <div class="other-stores-table-cell">Trusted Store</div>
                                .other-stores-table-cell Total Price

                        .other-stores-table-body
                            if store_offers.offers
                                for offer in store_offers.offers
                                    .other-stores-table-row(itemprop='offers', itemscope, itemtype='http://schema.org/Offer')
                                        .other-stores-table-cell
                                            img(src=offer.photos[0], alt='#{offer.name} from #{store.name}', style='width:50px;')
                                            a(href='/#{offer.slug}', itemprop='name')=offer.title

                                        .other-stores-table-cell
                                            if store.trusted_shop
                                                img(src='/images/v1/trusted.png', alt='#{store.name} trusted store' style='width:30px;')

                                        .other-stores-table-cell.text-danger(itemprop='price') ₦ #{minimum_price_from_store(offer, store._id)}
                                            a.btn.pull-right(href='/#{offer.slug}') See Offer

                        ul.pagination
                            li
                                a(href='#', aria-label='Previous')
                                    span(aria-hidden='true') &laquo;

                            li
                                a(href='#', aria-label='Next')
                                    span(aria-hidden='true') &raquo;

                .col-md-4
                    include includes/ads/store-brand-bottom
    include includes/footer