extends base
block body
    section.content
        .col-md-12
            .container
                .col-md-8
                    h2
                        | Stores On Bestprices
                        small
                    .other-stores-table.pull-left
                        table.table.table-responsive(style='width:100%;')
                            thead.other-stores-table-head
                                tr.other-stores-table-other-stores-table-row
                                    td
                                        h4 Store
                                    td
                                        h4 Trusted Store
                                    td
                                        h4 Store Rating
                                    td
                            tbody
                                if stores
                                    for store in stores
                                        tr(itemscope, itemtype='http://schema.org/Organization')
                                            td
                                                img(src=store.logo, style='width:70px;')

                                                a(href='/stores/#{store.slug}', itemprop='legalName') #{store.name}

                                            td
                                                if store.trusted_shop
                                                    img(src='/images/v1/trusted.png', style='width:50px;')

                                            td
                                                span.text-muted No rating

                                            td
                                                a.btn.btn-default(href=store.website, itemprop='url', target='_blank') Visit Store
                        +pagination(1, page_count, current_page, path)

                .col-md-4
                    include includes/ads/brands-stores-sidebar

            include includes/footer