@font-face {
	font-family: 'bestprice';
	src:url('fonts/bestprice.eot?-hkgr15');
	src:url('fonts/bestprice.eot?#iefix-hkgr15') format('embedded-opentype'),
		url('fonts/bestprice.woff?-hkgr15') format('woff'),
		url('fonts/bestprice.ttf?-hkgr15') format('truetype'),
		url('fonts/bestprice.svg?-hkgr15#bestprice') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'bestprice';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-search:before {
	content: "\e606";
}
.icon-earth:before {
	content: "\e600";
}
.icon-cross:before {
	content: "\e605";
}
.icon-help:before {
	content: "\e601";
}
.icon-list:before {
	content: "\e61e";
}
.icon-arrow-left:before {
	content: "\e604";
}
.icon-arrow-up:before {
	content: "\e627";
}
.icon-ellipsis:before {
	content: "\e629";
}
