@font-face {
    font-family: 'Lato-Reg';
    src: url('fonts/Lato-Regular.ttf');
}

@font-face {
    font-family: 'Lato-Bold';
    src: url('fonts/Lato-Bold.ttf');
}

body {
    font-family: 'Lato-Reg' !important;
    background: #fff;
}

div.container{
    margin-top: 6%;
}



#title{
    margin-bottom: 20px;
}

p{
    margin-bottom: 2%;
}

h3{
    margin-top: 3%;
    margin-bottom: 2%;
    font-weight: lighter;
    /*color: #cacaff;*/
}

@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
    /* Styles */
    #subscribe-box, input[type='submit'], input[type='email']{

        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
}

/* Smartphones (landscape) ----------- */
@media only screen
and (min-width : 321px) {
    /* Styles */
    #subscribe-box, input[type='submit'], input[type='email']{

        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
}



/* iPads (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px) {
    /* Styles */
    #subscribe-box, input[type='submit'], input[type='email']{

        width: 60%;
        margin-left: auto;
        margin-right: auto;
    }
}





/* Desktops and laptops ----------- */
@media only screen
and (min-width : 1224px) {
    /* Styles */
    #subscribe-box, input[type='submit'], input[type='email']{

        width: 50%;
        margin-left: auto;
        margin-right: auto;
    }
}

/* Large screens ----------- */
@media only screen
and (min-width : 1824px) {
    /* Styles */
    #subscribe-box, input[type='submit'], input[type='email']{

        width: 50%;
        margin-left: auto;
        margin-right: auto;
    }
}

/* iPhone 4 ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
    /* Styles */
    #subscribe-box, input[type='submit'], input[type='email']{

        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
}

