html {
  box-sizing: border-box;
}

*, *::after, *::before {
  box-sizing: inherit;
}

body {
  font-size: 13px;
  font-family: 'Raleway', sans-serif;
  color: #292e37;
}

html, html a {
  -webkit-font-smoothing: antialiased;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
}

p {
  margin: 0px;
}

h1, h2, h3, h4, h5 {
  font-weight: 600;
}

.navbar-default {
  background-color: white;
  border-color: #f2f2f2;
}
.navbar-default .navbar-nav > li > a {
  color: #302828;
  font-size: 15px;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active a:focus, .navbar-default .navbar-nav > .active a:hover {
  color: #fff;
  background-color: #221c1c;
}
.navbar-default .navbar-brand {
  color: #d50000;
  font-weight: 800;
}

.navbar-brand {
  margin-right: 0px;
}

.navbar {
  margin-bottom: 0px;
}

.links {
  background-color: #302828;
}
.links > .nav-links {
  list-style: none;
  text-align: center;
  margin: 0px;
  padding-left: 0px;
  font-size: 14px;
}
.links > .nav-links > li {
  display: inline-block;
  padding: 15px 15px;
  border-right: 1px solid #141111;
  border-left: 1px solid #141111;
  margin-right: -2px;
  margin-left: -3px;
}
.links > .nav-links > li > a {
  color: white;
  font-size: 15px;
  font-weight: 600;
}
.links > .nav-links > .active > a, .links > .nav-links > .active a:focus, .links > .nav-links > .active a:hover {
  color: #fff;
  background-color: #221c1c;
}

.content {
  background-color: #f3f1ed;
}

.advert {
  text-align: center;
  width: 100%;
}
.advert > .container {
  padding: 20px;
}

.thumbnail {
  padding: 0px;
  border: 1px solid #e5e5e5;
}
.thumbnail .caption .date {
  color: #939da7;
  font-size: 13px;
}
.thumbnail .caption > h4 {
  color: #292e37;
  font-weight: 400;
}

.load-more {
  margin: 15px;
}
.load-more .btn-default {
  color: #302828;
  border: 1px solid #302828;
  padding: 6px 30px;
  background-color: transparent;
}

.recently-viewed-items {
  padding-bottom: 30px;
}
.recently-viewed-items > .container {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.recently-viewed-items > .container::after {
  clear: both;
  content: "";
  display: table;
}
.recently-viewed-items > .container > .recent .thumbnail {
  padding: 10px;
  border-radius: 0px;
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 18.11388%;
}
.recently-viewed-items > .container > .recent .thumbnail:last-child {
  margin-right: 0;
}
.recently-viewed-items > .container > .recent .thumbnail > img {
  width: 100%;
}
.recently-viewed-items > .container > .recent .thumbnail .caption .about {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.recently-viewed-items > .container > .recent .thumbnail .caption .about::after {
  clear: both;
  content: "";
  display: table;
}
.recently-viewed-items > .container > .recent .thumbnail .caption .about .price {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 48.82117%;
}
.recently-viewed-items > .container > .recent .thumbnail .caption .about .price:last-child {
  margin-right: 0;
}
.recently-viewed-items > .container > .recent .thumbnail .caption .about .price > p {
  font-size: 17px;
  color: #d50000;
  font-weight: 700;
  margin-top: -5px;
}
.recently-viewed-items > .container > .recent .thumbnail .caption .about .price > span {
  color: #939da7;
}
.recently-viewed-items > .container > .recent .thumbnail .caption .about .compare-button {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 48.82117%;
}
.recently-viewed-items > .container > .recent .thumbnail .caption .about .compare-button:last-child {
  margin-right: 0;
}
.recently-viewed-items > .container > .recent .thumbnail .caption > h5 {
  margin-top: 0px;
}

.btn-compare {
  color: white;
  background-color: #ff8f00;
  font-weight: 600;
}

.footer {
  margin-bottom: 20px;
  margin-top: 20px;
  padding-top: 10px;
  padding-bottom: 25px;
  background-color: white;
  font-size: 13px;
  text-align: center;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.footer::after {
  clear: both;
  content: "";
  display: table;
}
@media screen and (min-width: 768px) {
  .footer {
    text-align: left;
    margin: 40px 20px;
  }
}
.footer p {
  margin: 0px;
}
.footer a {
  color: #302828;
}
.footer .group {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 19.81984%;
}
.footer .group:last-child {
  margin-right: 0;
}
.footer .group > h5 {
  font-size: 17px;
}
.footer .trade {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 31.76157%;
}
.footer .trade:last-child {
  margin-right: 0;
}

@media screen and (min-width: 768px) {
  .footer {
    text-align: left;
    margin: 40px 20px;
    background-color: white;
  }
}
.footer p {
  margin: 0px;
}
.footer .container .visible-xs > a {
  padding: 15px 0px;
  color: #302828;
}
.footer .container .visible-xs > a .contact {
  margin-bottom: 10px;
  margin-top: 15px;
}
.footer .container .visible-xs > a .contact > p {
  display: inline-block;
  border: 1px solid #f3f1ed;
  padding: 5px 12px;
  background-color: white;
  font-weight: 800;
}
.footer .container .visible-xs > a .contact > p:last-child {
  margin-left: -6px;
}
.footer .container .visible-xs .footer-links {
  margin: 10px 0px;
}
.footer .container .visible-xs > p {
  margin: 10px 0px;
}

.brands {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.brands::after {
  clear: both;
  content: "";
  display: table;
}
.brands  .brand-item{
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 23.23176%;
    margin-right: 0;
    min-height: 245px;
    max-height: 245px;
    text-align: center;
    margin: 10px 0px;
    padding: 10px;
    background-color: white;
  }

.brand-item > img {
    max-width: 100%;
    max-height: 125px;
}
.brands .brand-item:last-child {
  margin-right: 0;
}
.brands .brand-item .brand-details a {
  color: #d50000;
}

.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {
  z-index: 2;
  color: #fff;
  cursor: default;
  background-color: #302828;
  border-color: #141111;
}

.pagination > li > a, .pagination > li > span {
  position: relative;
  float: left;
  padding: 6px 12px;
  margin-left: -1px;
  line-height: 1.42857143;
  color: #302828;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid #ddd;
}

.page {
  margin: 20px 0px;
}

.listing-page .container {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.listing-page .container::after {
  clear: both;
  content: "";
  display: table;
}
.listing-page .container .sidebar {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 21.5258%;
}
.listing-page .container .sidebar:last-child {
  margin-right: 0;
}
.listing-page .container .products {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
}
.listing-page .container .products:last-child {
  margin-right: 0;
}
@media screen and (min-width: 768px) {
  .listing-page .container .products {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 76.11655%;
  }

  .listing-page .container .products:last-child {
    margin-right: 0;
  }
}
.listing-page .container .products .products-header {
  background-color: white;
  padding: 10px;
  margin-bottom: 10px;
}
.listing-page .container .products .products-header > p {
  display: inline-block;
}
.listing-page .container .products .products-header .pull-right {
  display: inline-block;
}
.listing-page .container .products .product-list > .thumbnail {
  padding: 10px;
  border-radius: 0px;
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  margin-right: 0;
}
.listing-page .container .products .product-list > .thumbnail:last-child {
  margin-right: 0;
}
@media screen and (min-width: 768px) {
  .listing-page .container .products .product-list > .thumbnail {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 31.76157%;
    margin-right: 0;
  }
  .listing-page .container .products .product-list > .thumbnail:nth-child(2n) {
    margin-right: 2.35765%;
  }
  .listing-page .container .products .product-list > .thumbnail:nth-child(2n+1) {
    clear: none;
  }
  .listing-page .container .products .product-list > .thumbnail:last-child {
    margin-right: 0;
  }
}
@media screen and (min-width: 1200px) {
  .listing-page .container .products .product-list > .thumbnail {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 23.23176%;
  }
  .listing-page .container .products .product-list > .thumbnail:nth-child(3n) {
    margin-right: 2.35765%;
  }
  .listing-page .container .products .product-list > .thumbnail:nth-child(3n+1) {
    clear: none;
  }
  .listing-page .container .products .product-list > .thumbnail:last-child {
    margin-right: 0;
  }
  .listing-page .container .products .product-list > .thumbnail:nth-child(4n) {
    margin-right: 0;
  }
  .listing-page .container .products .product-list > .thumbnail:nth-child(4n+1) {
    clear: left;
  }
}
.listing-page .container .products .product-list > .thumbnail > img {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 31.76157%;
}
.listing-page .container .products .product-list > .thumbnail > img:last-child {
  margin-right: 0;
}
@media screen and (min-width: 768px) {
  .listing-page .container .products .product-list > .thumbnail > img {
    width: 100%;
  }
}
.listing-page .container .products .product-list > .thumbnail .caption {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 65.88078%;
}
.listing-page .container .products .product-list > .thumbnail .caption:last-child {
  margin-right: 0;
}
@media screen and (min-width: 768px) {
  .listing-page .container .products .product-list > .thumbnail .caption {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%;
  }
  .listing-page .container .products .product-list > .thumbnail .caption:last-child {
    margin-right: 0;
  }
}
.listing-page .container .products .product-list > .thumbnail .caption .about {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: 18px;
}
.listing-page .container .products .product-list > .thumbnail .caption .about::after {
  clear: both;
  content: "";
  display: table;
}
@media screen and (min-width: 768px) {
  .listing-page .container .products .product-list > .thumbnail .caption .about {
    position: static;
    top: 0px;
  }
}
.listing-page .container .products .product-list > .thumbnail .caption .about .price {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 48.82117%;
}
.listing-page .container .products .product-list > .thumbnail .caption .about .price:last-child {
  margin-right: 0;
}
.listing-page .container .products .product-list > .thumbnail .caption .about .price > p {
  font-size: 17px;
  color: #d50000;
  font-weight: 700;
  margin-top: -5px;
}
.listing-page .container .products .product-list > .thumbnail .caption .about .price > span {
  color: #939da7;
}
.listing-page .container .products .product-list > .thumbnail .caption .about .compare-button {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 48.82117%;
}
.listing-page .container .products .product-list > .thumbnail .caption .about .compare-button:last-child {
  margin-right: 0;
}
.listing-page .container .products .product-list > .thumbnail .caption > h5 {
  margin-top: 0px;
}

.store, .manufacturer {
  padding-bottom: 15px;
  margin-left: 0px;
  background-color: white;
  padding: 20px 25px 20px 15px;
  margin-bottom: 15px;
}
.store > h4, .manufacturer > h4 {
  color: #292e37;
  font-size: 16px;
  padding-top: 5px;
  margin-left: 0px;
}
.store .checkbox, .manufacturer .checkbox {
  margin-left: 20px;
  border-bottom: 1px solid #e5e5e5;
  padding: 7px;
}
.store .checkbox:last-child, .manufacturer .checkbox:last-child {
  border-bottom: none;
}

.checkbox {
  font-size: 14px;
}

.checkbox label, .radio label {
  min-height: 20px;
  padding-left: 0px;
  margin-bottom: 0;
  font-weight: 400;
  cursor: pointer;
}

.traces {
  padding-top: 15px;
}

.price-range {
  border-top: 1px solid #f3f1ed;
  border-bottom: 1px solid #f3f1ed;
  background-color: white;
  margin-bottom: 10px;
}
.price-range .first-row {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
}
.price-range .first-row::after {
  clear: both;
  content: "";
  display: table;
}
.price-range .first-row img {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 48.82117%;
}
.price-range .first-row img:last-child {
  margin-right: 0;
}
.price-range .first-row .item-price {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 48.82117%;
  text-align: right;
}
.price-range .first-row .item-price:last-child {
  margin-right: 0;
}
.price-range .first-row .item-price > p {
  font-size: 18px;
  font-weight: 600;
  color: #d50000;
}
.price-range .first-row .item-price > h5 {
  margin: 0px;
}
.price-range .second-row {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
}
.price-range .second-row::after {
  clear: both;
  content: "";
  display: table;
}
.price-range .second-row > img {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 31.76157%;
}
.price-range .second-row > img:last-child {
  margin-right: 0;
}
.price-range .second-row .rating {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 31.76157%;
}
.price-range .second-row .rating:last-child {
  margin-right: 0;
}
.price-range .second-row .delivery {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 31.76157%;
}
.price-range .second-row .delivery:last-child {
  margin-right: 0;
}
.price-range .third-row {
  text-align: center;
  margin-top: 5px;
}

.news > .container {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.news > .container::after {
  clear: both;
  content: "";
  display: table;
}
.news > .container .news-stories {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
}
.news > .container .news-stories:last-child {
  margin-right: 0;
}
@media screen and (min-width: 768px) {
  .news > .container .news-stories {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 70.14568%;
  }
  .news > .container .news-stories:last-child {
    margin-right: 0;
  }
}
.news > .container .news-stories > .thumbnail {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  border-radius: 0px;
}
.news > .container .news-stories > .thumbnail::after {
  clear: both;
  content: "";
  display: table;
}
.news > .container .news-stories > .thumbnail > img {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
}
.news > .container .news-stories > .thumbnail > img:last-child {
  margin-right: 0;
}
@media screen and (min-width: 768px) {
  .news > .container .news-stories > .thumbnail > img {
    float: left;
    display: block;
    width: 42.64902%;
  }
  .news > .container .news-stories > .thumbnail > img:last-child {
    width: 40.29137%;
  }
}
.news > .container .news-stories > .thumbnail .caption {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
}
.news > .container .news-stories > .thumbnail .caption:last-child {
  margin-right: 0;
}
@media screen and (min-width: 768px) {
  .news > .container .news-stories > .thumbnail .caption {
    float: left;
    display: block;
    width: 42.64902%;
  }
  .news > .container .news-stories > .thumbnail .caption:last-child {
    width: 40.29137%;
  }
}
.news > .container .news-stories > .thumbnail .caption > h4 {
  margin-top: 0px;
}
.news > .container .news-stories > .thumbnail .caption > p {
  text-align: justify;
}
.news > .container .news-stories > .thumbnail .caption .about {
  margin-top: 10px;
}
.news > .container .news-stories > .thumbnail .caption .about > p {
  display: inline-block;
  color: #a6adb2;
  font-weight: 600;
}
.news > .container .sidebar-right {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 27.49666%;
}
.news > .container .sidebar-right:last-child {
  margin-right: 0;
}

.popular-products {
  margin-top: 30px;
}
.popular-products .thumbnail {
  padding: 10px;
  border-radius: 0px;
}
.popular-products .thumbnail > img {
  width: 100%;
}
.popular-products .thumbnail .caption .about {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.popular-products .thumbnail .caption .about::after {
  clear: both;
  content: "";
  display: table;
}
.popular-products .thumbnail .caption .about .price {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 48.82117%;
}
.popular-products .thumbnail .caption .about .price:last-child {
  margin-right: 0;
}
.popular-products .thumbnail .caption .about .price > p {
  font-size: 17px;
  color: #d50000;
  font-weight: 700;
  margin-top: -5px;
}
.popular-products .thumbnail .caption .about .price > span {
  color: #939da7;
}
.popular-products .thumbnail .caption .about .compare-button {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 48.82117%;
  text-align: right;
}
.popular-products .thumbnail .caption .about .compare-button:last-child {
  margin-right: 0;
}
.popular-products .thumbnail .caption > h5 {
  margin-top: 0px;
}

.table {
  background-color: white;
}
.table > thead > tr {
  background-color: #302828;
  color: white;
}

.headers .container h4, .headers .container h3, .headers .container p {
  display: inline-block;
  margin-right: 10px;
}

.products > .container .product-item {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  padding: 15px;
}
.products > .container .product-item::after {
  clear: both;
  content: "";
  display: table;
}
.products > .container .product-item > img {
  float: left;
  display: block;
  width: 102.35765%;
}
.products > .container .product-item > img:last-child {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .products > .container .product-item > img {
    float: left;
    display: block;
    width: 29.85432%;
  }
  .products > .container .product-item > img:last-child {
    width: 27.49666%;
  }
}
.products > .container .product-item > .product-details {
  float: left;
  display: block;
  width: 102.35765%;
  padding: 0px 15px;
}
.products > .container .product-item > .product-details:last-child {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .products > .container .product-item > .product-details {
    float: left;
    display: block;
    width: 72.50334%;
  }
  .products > .container .product-item > .product-details:last-child {
    width: 70.14568%;
  }
}
.products > .container .product-item > .product-details .price {
  border-bottom: 1px solid #e5e5e5;
  padding-bottom: 10px;
}
.products > .container .product-item > .product-details .price > p {
  display: inline-block;
}
.products > .container .product-item > .product-details .price > p:last-child {
  font-size: 18px;
  color: #d50000;
  font-weight: 700;
}
.products > .container .product-item > .product-details .specs {
  border-bottom: 1px solid #e5e5e5;
  padding-bottom: 10px;
  padding-top: 10px;
}
.products > .container .product-item > .product-details .specs > .item {
  width: 40%;
}
.products > .container .product-item > .product-details .specs > .item > p {
  display: inline-block;
}
.products > .container .product-item > .product-details .specs > .item > p:last-child {
  float: right;
}
.products > .container .product-item > .product-details .sellers {
  margin-top: 5px;
}
.products > .container .product-item > .product-details .sellers .table > tbody > tr > td:nth-child(4) > p:first-child {
  font-size: 18px;
  color: #d50000;
  font-weight: 700;
}

.rating > i {
  color: #ff8f00;
  margin-right: 5px;
}

.product-features {
  margin-top: 25px;
  margin-bottom: 25px;
}
.product-features .container {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.product-features .container::after {
  clear: both;
  content: "";
  display: table;
}
.product-features .container > .general-features {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  background-color: white;
  padding: 20px;
}
.product-features .container > .general-features:last-child {
  margin-right: 0;
}
@media screen and (min-width: 768px) {
  .product-features .container > .general-features {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 70.14568%;
  }
  .product-features .container > .general-features:last-child {
    margin-right: 0;
  }
}
.product-features .container > .general-features .main {
  padding-bottom: 20px;
  border-bottom: 1px solid #e5e5e5;
}
.product-features .container .recommendations {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 27.49666%;
}
.product-features .container .recommendations:last-child {
  margin-right: 0;
}
.product-features .container .recommendations > .popular-products {
  margin-top: 0px;
}
.product-features .container .recommendations > .popular-products .thumbnail {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0px;
  padding: 5px;
}
.product-features .container .recommendations > .popular-products .thumbnail::after {
  clear: both;
  content: "";
  display: table;
}
.product-features .container .recommendations > .popular-products .thumbnail > img {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 31.76157%;
}
.product-features .container .recommendations > .popular-products .thumbnail > img:last-child {
  margin-right: 0;
}
.product-features .container .recommendations > .popular-products .thumbnail > .caption {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 65.88078%;
}
.product-features .container .recommendations > .popular-products .thumbnail > .caption:last-child {
  margin-right: 0;
}
.product-features .container .recommendations > .popular-products .thumbnail > .caption > .about {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.product-features .container .recommendations > .popular-products .thumbnail > .caption > .about::after {
  clear: both;
  content: "";
  display: table;
}
.product-features .container .recommendations > .popular-products .thumbnail > .caption > .about .price {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
}
.product-features .container .recommendations > .popular-products .thumbnail > .caption > .about .price:last-child {
  margin-right: 0;
}
.product-features .container .recommendations > .popular-products > h4 {
  margin-top: 0px;
}

.news-stories {
  padding: 0px 0px 35px 0px;
  margin-bottom: 25px;
}
.news-stories .container {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.news-stories .container::after {
  clear: both;
  content: "";
  display: table;
}
.news-stories .container .thumbnail {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 31.76157%;
  margin-bottom: 0px;
}
.news-stories .container .thumbnail:last-child {
  margin-right: 0;
}
.news-stories .container .thumbnail .caption .about > p {
  display: inline-block;
}
.news-stories > .sellers {
  background-color: white;
  padding: 15px;
}
.news-stories > .sellers > .table {
  background-color: white;
}
.news-stories > .sellers > .table > thead > tr {
  background-color: #f3f1ed;
  color: #302828;
}

.header .container {
  margin-bottom: 10px;
}
.header .container > h3 {
  margin-top: 0px;
  margin-bottom: 0px;
}

.article {
  background-color: white;
  margin-bottom: 15px;
  text-align: justify;
  padding: 20px;
}

.facebook {
  color: #3067a3;
}

.twitter {
  color: #03b3ee;
}

.message {
  color: #767676;
}

.pinterest {
  color: #b9252c;
}

.linkedin {
  color: #0071a1;
}

.tumblr {
  color: #e15440;
}

.share {
  margin-bottom: 10px;
  margin-top: 10px;
  padding: 15px;
  background-color: white;
}
.share > p {
  display: inline-block;
}
.share > a {
  margin-left: 10px;
  font-size: 20px;
}

.comments {
  margin-bottom: 10px;
  background-color: white;
  padding: 15px;
}
.comments .commenter {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  border-bottom: 1px solid #f3f1ed;
  padding: 15px;
}
.comments .commenter::after {
  clear: both;
  content: "";
  display: table;
}
.comments .commenter > img {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 6.17215%;
}
.comments .commenter > img:last-child {
  margin-right: 0;
}
.comments .commenter > input {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 91.4702%;
  margin-top: 10px;
}
.comments .commenter > input:last-child {
  margin-right: 0;
}
.comments .commentee {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 15px;
}
.comments .commentee::after {
  clear: both;
  content: "";
  display: table;
}
.comments .commentee > img {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 6.17215%;
}
.comments .commentee > img:last-child {
  margin-right: 0;
}
.comments .commentee .comm {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 91.4702%;
}
.comments .commentee .comm:last-child {
  margin-right: 0;
}
.comments .commentee .comm > p:first-child {
  font-weight: 700;
  display: inline-block;
}
.comments .commentee .comm > span {
  color: #cac1b0;
  font-weight: 600;
}

.sort-links {
  list-style: none;
  margin: 0px;
  padding-left: 0px;
  font-size: 13px;
  border: 1px solid #f3f1ed;
  background-color: white;
  margin-bottom: 10px;
}
.sort-links > p {
  display: inline-block;
  margin-left: 10px;
}
.sort-links > li {
  display: inline-block;
  padding: 8px 15px;
}
.sort-links > li > a {
  color: #292e37;
  font-size: 13px;
  font-weight: 400;
}
.sort-links > li.active {
  border-bottom: 4px solid #e68100;
}
.sort-links > li.active > a, .sort-links > li.active a:focus, .sort-links > li.active a:hover {
  color: #ff8f00;
}

.lister {
  background-color: #292e37;
  color: white;
  padding: 8px 0px;
}
.lister > .container > p {
  display: inline-block;
  margin-top: 6px;
}
.lister > .container > button {
  background-color: #555f71;
}

.landing {
  padding-top: 15px;
}
.landing .container {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.landing .container::after {
  clear: both;
  content: "";
  display: table;
}
.landing .container .pro {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
}
.landing .container .pro:last-child {
  margin-right: 0;
}
@media screen and (min-width: 768px) {
  .landing .container .pro {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 70.14568%;
  }
  .landing .container .pro:last-child {
    margin-right: 0;
  }
}
.landing .container .pro .product-slider .product-item {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.landing .container .pro .product-slider .product-item::after {
  clear: both;
  content: "";
  display: table;
}

/*fix uniform height for best prices*/
.landing .container .pro .product-slider .product-item .thumbnail {
  padding: 10px;
  border-radius: 0px;
  height: 341px;
  min-height: 341px;
  max-height: 341px;
}
@media screen and (min-width: 768px) {
  .landing .container .pro .product-slider .product-item .thumbnail {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 31.76157%;
  }
  .landing .container .pro .product-slider .product-item .thumbnail:last-child {
    margin-right: 0;
  }
}
.landing .container .pro .product-slider .product-item .thumbnail > img {
  width: auto;
  max-height: 80%;
}
.landing .container .pro .product-slider .product-item .thumbnail .caption .about {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.landing .container .pro .product-slider .product-item .thumbnail .caption .about::after {
  clear: both;
  content: "";
  display: table;
}
.landing .container .pro .product-slider .product-item .thumbnail .caption .about .price {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 48.82117%;
}
.landing .container .pro .product-slider .product-item .thumbnail .caption .about .price:last-child {
  margin-right: 0;
}
.landing .container .pro .product-slider .product-item .thumbnail .caption .about .price > p {
  font-size: 17px;
  color: #d50000;
  font-weight: 700;
  margin-top: -5px;
}
.landing .container .pro .product-slider .product-item .thumbnail .caption .about .price > span {
  color: #939da7;
}
.landing .container .pro .product-slider .product-item .thumbnail .caption .about .compare-button {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 48.82117%;
}
.landing .container .pro .product-slider .product-item .thumbnail .caption .about .compare-button:last-child {
  margin-right: 0;
}
.landing .container .pro .product-slider .product-item .thumbnail .caption > h5 {
  margin-top: 0px;
}
.landing .container .newletter {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 27.49666%;
}
.landing .container .newletter:last-child {
  margin-right: 0;
}
.landing .container .newletter .sub {
  background-color: #ff5656;
  padding: 25px;
  margin-bottom: 15px;
}
.landing .container .newletter .sub > h4 {
  color: white;
  line-height: 1.5;
}
.landing .container .newletter .sub > button {
  margin-top: 10px;
}

.btn-black {
  background-color: #302828;
  color: white;
  padding: 6px 20px;
}

.category {
  padding-bottom: 25px;
}
.category .container .cat {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.category .container .cat::after {
  clear: both;
  content: "";
  display: table;
}
.category .container .cat > .thumbnail {
  padding: 10px;
  border-radius: 0px;
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 18.11388%;
}
.category .container .cat > .thumbnail:last-child {
  margin-right: 0;
}
.category .container .cat > .thumbnail > img {
  width: 100%;
}
.category .container .cat > .thumbnail .caption .about {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.category .container .cat > .thumbnail .caption .about::after {
  clear: both;
  content: "";
  display: table;
}
.category .container .cat > .thumbnail .caption .about .price {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 48.82117%;
}
.category .container .cat > .thumbnail .caption .about .price:last-child {
  margin-right: 0;
}
.category .container .cat > .thumbnail .caption .about .price > p {
  font-size: 17px;
  color: #d50000;
  font-weight: 700;
  margin-top: -5px;
}
.category .container .cat > .thumbnail .caption .about .price > span {
  color: #939da7;
}
.category .container .cat > .thumbnail .caption .about .compare-button {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 48.82117%;
}
.category .container .cat > .thumbnail .caption .about .compare-button:last-child {
  margin-right: 0;
}
.category .container .cat > .thumbnail .caption > h5 {
  margin-top: 0px;
}

.about-best {
  padding-bottom: 60px;
  padding-top: 20px;
}

@media screen and (min-width: 992px) {
  .navbar-form > .input-group > input {
    width: 260px !important;
  }
}
@media screen and (min-width: 1200px) {
  .navbar-form > .input-group > input {
    width: 400px !important;
  }
}
.navbar-form > button {
  background-color: #d50000;
  color: white;
}

.btn-rename {
  background-color: #fdfdfc;
  border: 1px solid #dfd9ce;
  color: #d50000;
  margin-bottom: 5px;
  font-weight: 600;
}

/*# sourceMappingURL=app.css.map */
/*# sourceMappingURL=app.css.map */
.product-item-image-container{
  max-height: 220px;
  min-height: 220px;
}

.category-item-image{
  max-height: 196px;
  min-height: 196px;
}

.product-item-image-container > img{
  max-height: 220px;  
  width: 100%;
}

.thumbnail .caption{
  max-height: 80px;
  min-height: 80px;
}

.controls.pull-right a{
  margin-left:15px;
}

.dropdown-menu>li>a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #ffffff;
    white-space: nowrap;
}

.dropdown-menu {
    position: absolute;
    color: white;
    background-color: #302828;
    top: 100%;
    left: 0; 
    z-index: 1000;
    display: none;
    float: left;
    min-width: 100%;
    padding: 5px 0;
    margin: 0px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none; 
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 0px;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}


.dropdown:hover .dropdown-menu {
display: block;
}
.mviewcategory{
  padding-bottom: 0px;
}
.mview {
  padding-left: 10px;
  border-radius: 0px;
  margin-bottom: 5px;
}
.mviewcategory:last-child {
  margin-bottom: 25px;
}

.mview > a {
    color:#A0A0A0;
    text-decoration: none;
}
.mview > a > h4{ 
  color:#A0A0A0;
}
.mview > a > h4 > i{
  padding-right: 10px; 
  color:#e5e5e5;
}

.nav.navbar-nav.navbar-right.visible-xs{
  background-color: #302828;  
}

.nav.navbar-nav.navbar-right.visible-xs > li > a{
  color:#ffffff;
  font-weight: 600;
  text-align: center;
  border-bottom: 1px dotted #000000;
}
 
.nav.navbar-nav.navbar-right.visible-xs > li:last-child > a{
  border-bottom:none;
}

.caption > h5 {
  max-width: 160px;
  min-width: 160px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.section-info{
  padding:5px 0px 5px 0px;
      font-size: 15px;
}

.section-info:first-child{
 padding:20px 0px 5px 0px;
      font-size: 15px;
}

.brand-trusted-icon{
  color:#d50000;
}