<div class="alert {{mainAlert.alertType}}" ng-show="mainAlert.isShown">
    <button type="button" class="close" ng-click="closeAlert()" aria-hidden="true">&times;</button>
    {{mainAlert.message}}
</div>
<!--end of alert message-->