<div id="sidebar-default" class="main-sidebar">
    <div class="current-user">
        <a href="" class="name">
            <img class="avatar" src="{{currentUser.profile}}" />
					<span>
						{{currentUser.first_name}} {{currentUser.last_name}}
						<!--<i class="fa fa-chevron-down"></i>-->
					</span>
        </a>

    </div>
    <div class="menu-section">
        <h3>General</h3>
        <ul>
            <li ng-show="hasPermission(['admin', 'author', 'product manager', 'qc manager'], currentUser.role)">
                <a href="#/dashboard" ng-class="{active: isActive('dashboard')}">
                    <i class="ion-android-earth"></i>
                    <span>Dashboard</span>
                </a>
            </li>
            <li ng-show="hasPermission(['admin', 'product manager', 'qc manager'], currentUser.role)">
                <a href="#/products" ng-class="{active: isActive('product')}">
                    <i class="ion-android-promotion"></i>
                    <span>Products</span>
                </a>
            </li>
            <li ng-show="hasPermission(['admin', 'product manager', 'qc manager'], currentUser.role)">
                <a href="#/categories" ng-class="{active: isActive('catego')}">
                    <i class="ion-compass"></i>
                    <span>Categories</span>
                </a>
            </li>
            <li ng-show="hasPermission(['admin', 'author', 'product manager', 'qc manager'], currentUser.role)">
                <a href="#/gallery" ng-class="{active: isActive('gallery')}">
                    <i class="ion-images"></i>
                    <span>Gallery</span>
                </a>
            </li>
            <li ng-show="hasPermission(['admin', 'product manager', 'qc manager'], currentUser.role)">
                <a href="#/manufacturers" ng-class="{active: isActive('manufacturer')}">
                    <i class="ion-social-apple"></i>
                    <span>Manufacturers</span>
                </a>
            </li>
            <li ng-show="hasPermission(['admin', 'product manager', 'qc manager'], currentUser.role)">
                <a href="#/stores" ng-class="{active: isActive('store')}">
                    <i class="ion-android-playstore"></i>
                    <span>Stores</span>
                </a>
            </li>
            <li ng-show="hasPermission(['admin', 'product manager', 'qc manager'], currentUser.role)">
                <a href="#/sitemaps" ng-class="{active: isActive('store')}">
                    <i class="ion-android-playstore"></i>
                    <span>Sitemaps</span>
                </a>
            </li>


            <li ng-show="hasPermission(['admin', 'author', 'qc manager'], currentUser.role)">
                <a href="#/articles" ng-class="{active: isActive('article')}">
                    <i class="fa fa-edit"></i>
                    <span>Articles</span>
                </a>
            </li>
            <li ng-show="hasPermission(['admin', 'author', 'qc manager'], currentUser.role)">
                <a href="#/howtos" ng-class="{active: isActive('howto')}">
                    <i class="fa fa-anchor"></i>
                    <span>Howto</span>
                </a>
            </li>
            <li ng-show="hasPermission(['admin'], currentUser.role)">
                <a href="#/users" ng-class="{active: isActive('user')}">
                    <i class="ion-android-social-user"></i>
                    <span>Users</span>
                </a>
            </li>
            <li ng-show="hasPermission(['admin'], currentUser.role)">
                <a href="#/links" ng-class="{active: isActive('link')}">
                    <i class="ion-link"></i>
                    <span>Links</span>
                </a>
            </li>
		<li ng-show="hasPermission(['admin'], currentUser.role)">
			<a href="#/subscribers" ng-class="{active: isActive('todo')}">
                <i class="ion-link"></i>
				<span>Subscribers</span>
			</a>
		</li>
        <li ng-show="hasPermission(['admin'], currentUser.role)">
            <a href="#/landing_pages" ng-class="{active: isActive('landing_page')}">
                <i class="ion-link"></i>
                <span>Landing pages</span>
            </a>
        </li>
        <li ng-show="hasPermission(['admin'], currentUser.role)">
            <a href="#/terms" ng-class="{active: isActive('term')}">
                <i class="ion-link"></i>
                <span>Terms</span>
            </a>
        </li>
            <li>
                <a ng-click="logout()">
                    <i class="ion-log-out"></i>
                    <span>Logout</span>
                </a>
            </li>


            <!--<li>-->
                <!--<a href="users.html" data-toggle="sidebar">-->
                    <!--<i class="ion-stats-bars"></i> <span>Reports</span>-->
                    <!--<i class="fa fa-chevron-down"></i>-->
                <!--</a>-->
                <!--<ul class="submenu">-->
                    <!--<li><a href="reports.html">Reports orders</a></li>-->
                    <!--<li><a href="reports-alt.html">Report sales</a></li>-->
                <!--</ul>-->
            <!--</li>-->

        </ul>
    </div>

    <!--<div class="bottom-menu hidden-sm">-->
        <!--<ul>-->
            <!--<li><a href="#"><i class="ion-help"></i></a></li>-->
            <!--<li>-->
                <!--<a href="#">-->
                    <!--<i class="ion-archive"></i>-->
                    <!--<span class="flag"></span>-->
                <!--</a>-->
                <!--<ul class="menu">-->
                    <!--<li><a href="#">5 unread messages</a></li>-->
                    <!--<li><a href="#">12 tasks completed</a></li>-->
                    <!--&lt;!&ndash; <li><a href="#">3 features added</a></li> &ndash;&gt;-->
                <!--</ul>-->
            <!--</li>-->
            <!--<li><a href="signup.html"><i class="ion-log-out"></i></a></li>-->
        <!--</ul>-->
    <!--</div>-->
</div>
