<ul class="pagination">
    <li ng-click="paginate(previous)">
        <span aria-hidden="true">&laquo; Previous</span>
    </li>
    <li>
        <span ng-click="paginate(next)" aria-hidden="true">Next &raquo;</span>
    </li>
</ul>