<p>
    <select ng-model="action" ng-change="performAction()">
        <option>Actions</option>
        <option value="delete">Delete</option>
    </select>

<form class="form-inline pull-right">
    <div class="form-group">
        <input type="text" class="form-control" ng-model="query" name="query">
        <a ng-click="search()" class="btn btn-primary btn-sm">Search</a>
        <p></p>
    </div>
</form>
</p>