extends base
block body
  section.content
    include includes/breadcrumb
    include includes/top-ad
    .main-content
      .container
        h3 Blog
        .row
          each post in posts.slice(0,3)
            .col-md-4
              .thumbnail
                .product-item-image-container
                  img(src="#{settings.cdn}#{post.thumbnail}", style="max-height:220px")
                .caption
                  span.date #{post.published_on}
                  h4
                    a(href="/#{post.slug}")=post.title

        .row
          each post in posts.slice(3,6)
            .col-md-4
              .thumbnail
                .product-item-image-container
                  img(src="#{settings.cdn}#{post.thumbnail}", style="max-height:220px")
                .caption
                  span.date #{post.published_on}
                  h4
                    a(href="/#{post.slug}")=post.title

        .row
          each post in posts.slice(6,9)
            .col-md-4
              .thumbnail
                .product-item-image-container
                  img(src="#{settings.cdn}#{post.thumbnail}", style="max-height:220px")
                .caption
                  span.date #{post.published_on}
                  h4
                    a(href="/#{post.slug}")=post.title

        .row
          each post in posts.slice(9,12)
            .col-md-4
              .thumbnail
                .product-item-image-container
                  img(src="#{settings.cdn}#{post.thumbnail}", style="max-height:220px")
                .caption
                  span.date #{post.published_on}
                  h4
                    a(href="/#{post.slug}")=post.title
        +pagination(1, page_count, current_page, path_without_page)
    .advert.hidden-xs
      .container
        include includes/top-ad
