extends base
block body
  section.content
    include includes/breadcrumb
    include includes/top-ad
    .header
      .container
        h1=post.title
        p
          | By 
          span !{post.published_by.first_name} !{post.published_by.last_name}
          | &#183;
          span  #{moment(post.published_on).format('MMMM Do YYYY')}
    .news.main-content
      .container
        .news-stories
          .article!= post.content
          include includes/sharethis
          .sellers#embed-offers
            h4.hidden-xs Recommended Deals on this Product
            
          .comments
            include includes/comment
        .sidebar-right.hidden-xs
          .advert
            include includes/box-ad
          .popular-products#popular-products
          
            
block end_of_body
    script(type='text/javascript', src='http://w.sharethis.com/button/buttons.js')
    script.
        countPageViews("article", "#{post._id}");
        popularPosts();
        hotProducts();
        subscribeEmail();
    script(src="https://cdnjs.cloudflare.com/ajax/libs/react/0.13.3/react.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/react/0.13.3/JSXTransformer.js")
    script(type="text/jsx", src="/javascripts/components/react/recent-products.js")
    script(type="text/jsx", src="/javascripts/components/react/offers.js")
    script(type="text/javascript", src="https://cdnjs.cloudflare.com/ajax/libs/raty/2.7.0/jquery.raty.min.js")
    script(type="text/jsx").
      React.render(<RecentProducts query="*" domain="#{settings.domain}" currency="#{settings.currency}" />, document.getElementById("popular-products"))
      React.render(<Offers domain="#{settings.domain}" currency="#{settings.currency}" />, document.getElementById("embed-offers"))
      