extends base
block body
  section.content
    .advert
      .container
        include includes/top-ad
    .main-content
      .container
        h3 Brands Names
        .brands
          each brand in brands
            .brand-item
              img(src="#{settings.cdn}#{brand.logo}")
              .brand-details
                h4= brand.name
                p
                  a(href=brand.website, target="_blank")= brand.website
                a(href="/brands/#{brand.slug}") View all listed products
      +pagination(1, page_count, current_page, path_without_page)
