extends base
block body
    section.content
      br
      .landing.main-content
        .container
          .pro
            .product-slider
              .row
                .col-md-9.col-xs-6
                  h4= settings.home_slide_title
                .col-md-3.col-xs-6
                  // Controls
                  .controls.pull-right
                    a.left.fa.fa-chevron-left.btn.btn-success(href='.carousel-example', data-slide='prev')
                    a.right.fa.fa-chevron-right.btn.btn-success(href='.carousel-example', data-slide='next')
              #carousel-example.carousel.slide.hidden-xs.carousel-example(data-ride='carousel')
                // Wrapper for slides
                if data.hot_products.length > 0
                .carousel-inner
                  - var first_set = data.hot_products.slice(0,3) || []
                  if first_set.length > 0
                    .item.product-item.active
                      each product in first_set
                        .thumbnail
                          div.product-item-image-container
                            img(src="#{settings.cdn}#{product.photos[0]}", width='100%')
                          .caption
                            h5
                              a(href="/#{product.slug}")= product.title
                            .about
                              .price
                                if product.offers.length == 1
                                  span Buy from #{product.offers[0].store.name}
                                else
                                  span In #{product.offers.length} stores
                              .compare-button
                                if product.offers.length == 1
                                  - var aff_query = product.offers[0].store.affiliate_query || product.offers[0].link
                                  - var aff_link = aff_query.replace("[link]", product.offers[0].link)
                                  a(href="#{aff_link}", target="_blank", data-title="#{product.title}", data-category="#{product.category.name}", data-manufacturer="#{product.manufacturer.name}", data-store="#{product.offers[0].store.name}", data-price="#{product.offers[0].price}", data-country="#{settings.country}" rel="nofollow").buy-button.btn.btn-compare= settings.buy
                                else
                                  a(href="/#{product.slug}").btn.btn-compare= settings.compare

                  - var first_set = data.hot_products.slice(0,3) || []
                  if first_set.length > 0
                    .item.product-item
                      each product in first_set
                        .thumbnail
                          div.product-item-image-container
                            img(src="#{settings.cdn}#{product.photos[0]}", width='100%')
                          .caption
                            h5
                              a(href="/#{product.slug}")=product.title
                            .about
                              .price
                                if product.offers.length == 1
                                  span Buy from #{product.offers[0].store.name}
                                  p #{settings.currency}#{minimum_price(product.offers)}
                                else
                                  span In #{product.offers.length} stores
                                  p #{settings.currency}#{minimum_price(product.offers)}
                              .compare-button
                                if product.offers.length == 1
                                  - var aff_query = product.offers[0].store.affiliate_query || product.offers[0].link
                                  - var aff_link = aff_query.replace("[link]", product.offers[0].link)
                                  a(href="#{aff_link}", target="_blank", data-title="#{product.title}", data-category="#{product.category.name}", data-manufacturer="#{product.manufacturer.name}", data-store="#{product.offers[0].store.name}", data-price="#{product.offers[0].price}", data-country="#{settings.country}" rel="nofollow").btn.btn-compare.buy-button= settings.buy
                                else
                                  a(href="/#{product.slug}").btn.btn-compare= settings.compare

              #carousel-example.carousel.slide.visible-xs.carousel-example(data-ride='carousel')
                // Wrapper for slides
                .carousel-inner.product-item
                  - var first_set = data.hot_products.slice(0,3) || []
                  if first_set.length > 0
                    each product, i in first_set
                      if i === 1
                        .item.active.thumbnail
                          div.product-item-image-container
                            img(src="#{settings.cdn}#{product.photos[0]}", width='100%')
                          .caption
                            h5
                              a(href="/#{product.slug}")=product.title
                            .about
                              .price
                                span In #{product.offers.length} stores
                                p #{settings.currency}#{minimum_price(product.offers)}
                              if product.offers.length == 1
                                - var aff_query = product.offers[0].store.affiliate_query || product.offers[0].link
                                - var aff_link = aff_query.replace("[link]", product.offers[0].link)
                                .compare-button
                                  a.btn.btn-compare.buy-button(href="#{aff_link}", target="_blank", data-title="#{product.title}", data-category="#{product.category.name}", data-manufacturer="#{product.manufacturer.name}", data-store="#{product.offers[0].store.name}", data-price="#{product.offers[0].price}", data-country="#{settings.country}" rel="nofollow")= settings.buy
                              else
                                .compare-button
                                  a.btn.btn-compare(href="/#{product.slug}")= settings.compare
                      else
                        .item.thumbnail
                          div.product-item-image-container
                            img(src="#{settings.cdn}#{product.photos[0]}", width='100%')
                          .caption
                            h5
                              a(href="/#{product.slug}")=product.title
                            .about
                              .price
                                span In #{product.offers.length} stores
                                p #{settings.currency}#{minimum_price(product.offers)}
                              if product.offers.length == 1
                                - var aff_query = product.offers[0].store.affiliate_query || product.offers[0].link
                                - var aff_link = aff_query.replace("[link]", product.offers[0].link)
                                .compare-button
                                  a.btn.btn-compare.buy-button(href="#{aff_link}", target="_blank", data-title="#{product.title}", data-category="#{product.category.name}", data-manufacturer="#{product.manufacturer.name}", data-store="#{product.offers[0].store.name}", data-price="#{product.offers[0].price}", data-country="#{settings.country}" rel="nofollow")= settings.buy
                              else
                                .compare-button
                                  a.btn.btn-compare(href="/#{product.slug}")= settings.compare

          .newletter.hidden-xs
            .sub#subscribe-box

            .advert.hidden-xs
              include includes/home-ad

      .advert.hidden-xs
        .container
          -//img(src='images/v3/advert.jpg')
      if data
        if data.electronics.length > 0
          .category.hidden-xs
            .container
              h4= settings.home_categories_title[0]
              .cat
                each product in data.electronics
                  .thumbnail
                    div.product-item-image-container


                      img(src="#{settings.cdn}#{product.photos[0]}")
                    .caption
                      h5
                        a(href="/#{product.slug}")=product.title
                      .about
                        .price
                          if product.offers.length == 1
                            span Buy from #{product.offers[0].store.name}
                          else
                            span In #{product.offers.length} stores
                          p #{settings.currency}#{minimum_price(product.offers)}
                        .compare-button
                          if product.offers.length == 1
                            - var aff_query = product.offers[0].store.affiliate_query || product.offers[0].link
                            - var aff_link = aff_query.replace("[link]", product.offers[0].link)
                            a(href="#{aff_link}", target="_blank", data-title="#{product.title}", data-category="#{product.category.name}", data-manufacturer="#{product.manufacturer.name}", data-store="#{product.offers[0].store.name}", data-price="#{product.offers[0].price}", data-country="#{settings.country}" rel="nofollow").btn.btn-compare.buy-button= settings.buy
                          else
                            a(href="/#{product.slug}").btn.btn-compare= settings.compare
        if data.phones.length > 0
          .category.hidden-xs
            .container
              h4= settings.home_categories_title[1]
              .cat
                each product in data.phones
                  .thumbnail
                    div.product-item-image-container
                      img(src="#{settings.cdn}#{product.photos[0]}")
                    .caption
                      h5
                        a(href="/#{product.slug}")=product.title
                      .about
                        .price
                          if product.offers.length == 1
                            span Buy from #{product.offers[0].store.name}
                          else
                            span In #{product.offers.length} stores
                          p #{settings.currency}#{minimum_price(product.offers)}
                        .compare-button
                          if product.offers.length == 1
                            - var aff_query = product.offers[0].store.affiliate_query || product.offers[0].link
                            - var aff_link = aff_query.replace("[link]", product.offers[0].link)
                            a(href="#{aff_link}", target="_blank", data-title="#{product.title}", data-category="#{product.category.name}", data-manufacturer="#{product.manufacturer.name}", data-store="#{product.offers[0].store.name}", data-price="#{product.offers[0].price}", data-country="#{settings.country}" rel="nofollow").btn.btn-compare.buy-button= settings.buy
                          else
                            a(href="/#{product.slug}").btn.btn-compare= settings.compare
        if data.tablets.length > 0
          .category.hidden-xs
            .container
              h4= settings.home_categories_title[2]
              .cat
                each product in data.tablets
                  .thumbnail
                    div.product-item-image-container
                      img(src="#{settings.cdn}#{product.photos[0]}")
                    .caption
                      h5
                        a(href="/#{product.slug}")=product.title
                      .about
                        .price
                          if product.offers.length == 1
                            span Buy from #{product.offers[0].store.name}
                          else
                            span In #{product.offers.length} stores
                          p #{settings.currency}#{minimum_price(product.offers)}
                        .compare-button
                          if product.offers.length == 1
                            - var aff_query = product.offers[0].store.affiliate_query || product.offers[0].link
                            - var aff_link = aff_query.replace("[link]", product.offers[0].link)
                            a(href="#{aff_link}", target="_blank", data-title="#{product.title}", data-category="#{product.category.name}", data-manufacturer="#{product.manufacturer.name}", data-store="#{product.offers[0].store.name}", data-price="#{product.offers[0].price}", data-country="#{settings.country}" rel="nofollow").btn.btn-compare.buy-button= settings.buy
                          else
                            a(href="/#{product.slug}").btn.btn-compare= settings.compare
        if data.computers.length > 0
          .category.hidden-xs
            .container
              h4= settings.home_categories_title[3]
              .cat
                each product in data.computers
                  .thumbnail
                    div.product-item-image-container
                      img(src="#{settings.cdn}#{product.photos[0]}")
                    .caption
                      h5
                        a(href="/#{product.slug}")=product.title
                      .about
                        .price
                          if product.offers.length == 1
                            span Buy from #{product.offers[0].store.name}
                          else
                            span In #{product.offers.length} stores
                          p #{settings.currency}#{minimum_price(product.offers)}
                        .compare-button
                          if product.offers.length == 1
                            - var aff_query = product.offers[0].store.affiliate_query || product.offers[0].link
                            - var aff_link = aff_query.replace("[link]", product.offers[0].link)
                            a(href="#{aff_link}", target="_blank", data-title="#{product.title}", data-category="#{product.category.name}", data-manufacturer="#{product.manufacturer.name}", data-store="#{product.offers[0].store.name}", data-price="#{product.offers[0].price}", data-country="#{settings.country}" rel="nofollow").btn.btn-compare.buy-button= settings.buy
                          else
                            a(href="/#{product.slug}").btn.btn-compare= settings.compare
        if data.office.length > 0
          .category.hidden-xs
            .container
              h4= settings.home_categories_title[4]
              .cat
                each product in data.office
                  .thumbnail
                    div.product-item-image-container
                      img(src="#{settings.cdn}#{product.photos[0]}")
                    .caption
                      h5
                        a(href="/#{product.slug}")=product.title
                      .about
                        .price
                          if product.offers.length == 1
                            span Buy from #{product.offers[0].store.name}
                          else
                            span In #{product.offers.length} stores
                          p #{settings.currency}#{minimum_price(product.offers)}
                        .compare-button
                          if product.offers.length == 1
                            - var aff_query = product.offers[0].store.affiliate_query || product.offers[0].link
                            - var aff_link = aff_query.replace("[link]", product.offers[0].link)
                            a(href="#{aff_link}", target="_blank", data-title="#{product.title}", data-category="#{product.category.name}", data-manufacturer="#{product.manufacturer.name}", data-store="#{product.offers[0].store.name}", data-price="#{product.offers[0].price}", data-country="#{settings.country}" rel="nofollow").btn.btn-compare.buy-button= settings.buy
                          else
                            a(href="/#{product.slug}").btn.btn-compare= settings.compare

      .mobile-cat-view.hidden-md.hidden-sm.hidden-lg
        each menu in nav_menu
          .category.mviewcategory
            .container
              .thumbnail.mview
                a(href="#{domain}/categories/#{menu.slug}")
                  h4
                    | #{menu.name}
                    i.fa.fa-chevron-right.pull-right

      .about-best.hidden-xs
        .container
          h4= settings.about_title
          !{settings.about_article}
block end_of_body
  script.
    $(function(){

      $(".buy-button").click(function(event){

        var offer = $(event.target);
        
        mixpanel.track("Offer clicked", {
          title: offer.data("title"),
          category: offer.data("category"),
          manufacturer: offer.data("manufacturer"),
          price: offer.data("price"),
          country: offer.data("country"),
          store: offer.data("store"),
          link: offer.data("link"),
          slug: offer.data("slug")
        });
      })

    })