extends base
block body
  section.content
    include includes/breadcrumb
    include includes/top-ad
    .headers
      .container
        h3 How Tos
    .news.main-content
      .container
        .news-stories
          each post in posts
            .thumbnail
              img(src="#{settings.cdn}#{post.thumbnail}", width="100%")
              .caption
                h4
                  a(href="/#{post.slug}")=post.title
                p!= post.summary
                .about
                  p #{moment(post.published_on).format('MMMM Do YYYY')}
                  span  &#183;

          +pagination(1, page_count, current_page, path_without_page)
        .sidebar-right.hidden-xs
          .advert
            include includes/box-ad
          .popular-products#popular-products
block end_of_body
    script(type='text/javascript', src='http://w.sharethis.com/button/buttons.js')
    script(src="https://cdnjs.cloudflare.com/ajax/libs/react/0.13.3/react.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/react/0.13.3/JSXTransformer.js")
    script(type="text/jsx", src="/javascripts/components/react/recent-products.js")
    script(type="text/jsx").
      React.render(<RecentProducts query="*" domain="#{settings.domain}" currency="#{settings.currency}" />, document.getElementById("popular-products"))
