extends base
block body
  section.content
    include includes/breadcrumb
    .hidden-xs
      if landing_page.banner
        img(src="#{landing_page.banner}", style="width:100%;")
    .visible-xs
      if landing_page.mobile_banner
        img(src="#{landing_page.mobile_banner}", style="width:100%;")
    .headers.hidden-xs
      .container
        h1=landing_page.name
    .lister.visible-xs
      .container
        p Showing #{products.length} Products

    ul.sort-links.visible-xs
      p Sort By:
      li.active
        a(href="#") Cheapest First
    .listing-page.main-content
      .container
        .products(style="width:100%")
          .products-header.hidden-xs
            p Showing #{products.length} products of #{item_count}
            .pull-right
              label Sort by
              select
                option Price (how to hight)
          .product-list
            each product in products
              .thumbnail
                div.product-item-image-container
                  img(src="#{settings.cdn}#{product.photos[0]}", width="100%")
                .caption
                  h5
                    a(href="/#{product.slug}")= product.title
                  .about
                    .price
                      if product.offers.length == 1
                        span from #{product.offers[0].store.name}
                      else
                        span In #{product.offers.length} stores
                      p #{settings.currency}#{minimum_price(product.offers)}
                    .compare-button
                      if product.offers.length == 1
                        - var aff_query = product.offers[0].store.affiliate_query || product.offers[0].link
                        - var aff_link = aff_query.replace("[link]", product.offers[0].link)
                        a(href="#{aff_link}", target="_blank", data-title="#{product.title}", data-category="#{product.category.name}", data-manufacturer="#{product.manufacturer.name}", data-store="#{product.offers[0].store.name}", data-price="#{product.offers[0].price}", data-country="#{settings.country}" rel="nofollow").btn.btn-compare.buy-button= settings.buy
                      else
                        a(href="/#{product.slug}").btn.btn-compare= settings.compare


      .about-best.hidden-xs
        .container
          !{landing_page.description}
block end_of_body
  script.
    $(function(){

      $(".buy-button").click(function(event){

        var offer = $(event.target);
        
        mixpanel.track("Offer clicked", {
          title: offer.data("title"),
          category: offer.data("category"),
          manufacturer: offer.data("manufacturer"),
          price: offer.data("price"),
          country: offer.data("country"),
          store: offer.data("store"),
          link: offer.data("link"),
          slug: offer.data("slug")
        });
      })

    })