extends base
block body
  section.content
    include includes/breadcrumb
    include includes/top-ad
    .headers
      .container
        h1= product.title
        -//button.btn.btn-rename.btn-sm(data-toggle="modal", data-target="#myModal")  Price Watch
    .products.main-content
      .container
        .product-item
          img(src="#{settings.cdn}#{product.photos[0]}", width="100%")
          .product-details
            .price.hidden-xs
              p Lowest Online Price
              p #{settings.currency}#{toMoney(minimum_price(product.offers))}
            .specs.hidden-xs.clearfix
              .item
                p= product.features_summary
            .sellers.hidden-xs
              h4 Showing prices from #{product.offers.length} online stores
              table.table.table-striped
                thead
                  tr
                    th Seller
                    th Seller Rating
                    th Est. Delivery
                    th Price
                    th
                tbody
                  each offer in product.offers
                    tr
                      td
                        img(src="#{settings.cdn}#{offer.store.logo}",style="max-width:100")
                      td
                        div.store-star-rating(data-rating="#{offer.store.rating}")
                      td= offer.store.delivery_note
                      td
                        p #{settings.currency}#{toMoney(offer.price)}
                      td
                        - var aff_query = offer.store.affiliate_query || offer.link
                        - var aff_link = aff_query.replace("[link]", offer.link)
                        a(href=aff_link, target="_blank", data-title="#{product.title}", data-category="#{product.category.name}", data-manufacturer="#{product.manufacturer.name}", data-slug="#{product.slug}" data-store="#{offer.store.name}", data-link="#{offer.link}", data-price="#{offer.price}", data-country="#{settings.country}", rel="nofollow").buy-button.btn.btn-compare.btn-sm= settings.view_deals
            each offer in product.offers
              .visible-xs.price-range
                .first-row
                  img(src="#{settings.cdn}#{offer.store.logo}", style="max-width:100")
                  .item-price
                    h5 Store Price
                    p #{settings.currency}#{toMoney(offer.price)}
                .second-row
                  if offer.store.trusted_shop
                    img(src="#{settings.domain}/images/v3/trusted.png")
                  div.store-star-rating(data-rating="#{offer.store.rating}")
                  .delivery
                    p= offer.store.delivery_note
                .third-row
                  - var aff_query = offer.store.affiliate_query || offer.link
                  - var aff_link = aff_query.replace("[link]", offer.link)
                  a(href=aff_link, target="_blank", data-title="#{product.title}", data-category="#{product.category.name}", data-manufacturer="#{product.manufacturer.name}", data-slug="#{product.slug}" data-store="#{offer.store.name}", data-link="#{offer.link}", data-price="#{offer.price}", data-country="#{settings.country}", rel="nofollow").buy-button.btn.btn-compare.btn-sm= settings.view_deals
    .product-features
      .container
        .general-features
          .main
            h4 #{product.title} General Features
            article!=product.description
          .others
            h4 Others
            p
              a(href='#{product.wikipedia}', target='_blank')
                span Wikipedia Page
            p
              a(href='#{product.official_website}', target='_blank')
                span Official Website
        .recommendations.hidden-xs#similar-products(data-product="#{product.title}")

    -//stories on product page section
block end_of_body
  script.
    $(function(){

      $(".buy-button").click(function(event){

        var offer = $(event.target);
        
        mixpanel.track("Offer clicked", {
          title: offer.data("title"),
          category: offer.data("category"),
          manufacturer: offer.data("manufacturer"),
          price: offer.data("price"),
          country: offer.data("country"),
          store: offer.data("store"),
          link: offer.data("link"),
          slug: offer.data("slug")
        });
      })

    })
