extends base
block body
  section.content
    include includes/breadcrumb
    include includes/top-ad
    .headers.hidden-xs
      .container
        h1 Search result for #{search}
    .lister.visible-xs
      .container
        p Showing #{products.length} Products
        button.btn.btn-sm.pull-right(type="button") Filter Products
    ul.sort-links.visible-xs
    .listing-page.main-content
      .container
        include includes/search-sidebar.jade

        .products

          .products-header.hidden-xs
            p Showing #{item_count} products for #{search}
            .pull-right

          .product-list
            if products.length > 0
              each product in products
                .thumbnail
                  div.product-item-image-container
                    img(src="#{settings.cdn}#{product.image_src}", width="100%")
                  .caption
                    h5
                      a(href="/#{product.slug}")=product.title[0]
                    .about
                      .price
                        if product.number_of_offers == 1
                          span Buy from #{product.lowest_price_store}
                        else
                          span In #{product.number_of_offers} stores
                        p #{settings.currency}#{product.lowest_price}
                      .compare-button
                        if product.number_of_offers == 1
                          a(href="/#{product.slug}").btn.btn-compare= settings.buy
                        else
                          a(href="/#{product.slug}").btn.btn-compare= settings.compare
            else
              p No products found for #{search}

          .page.text-center
            +pagination(1, page_count, current_page, path_without_page)
block end_of_body
  script.
    $(function(){

      $(".buy-button").click(function(event){

        var offer = $(event.target);
        
        mixpanel.track("Offer clicked", {
          title: offer.data("title"),
          category: offer.data("category"),
          manufacturer: offer.data("manufacturer"),
          price: offer.data("price"),
          country: offer.data("country"),
          store: offer.data("store"),
          link: offer.data("link"),
          slug: offer.data("slug")
        });
      })

    })