extends base
block body
  section.content(style="padding-top:30px;")
    .lister.hidden-xs(style="display:none;")
      .container
        p Showing #{store_offers.length} Products
        button.btn.btn-sm.pull-right(type="button") Filter Products
    .listing-page.main-content
      .container
        .sidebar.hidden-xs
          .manufacturer
            h5= store.name
            img(src="#{settings.cdn}#{store.logo}", style="max-width:100%")
            .section-container
              .section-info  Tel:#{store.tel}
              .section-info  Email:#{store.email}
              .section-info  Address:#{store.address}
              if store.trusted_shop
                .section-info
                  | Trusted Shop
              .section-info
                a(href="#{store.website}", target="_blank") #{store.name} Official website
        .products
          .products-header.hidden-xs
            p Showing #{store_offers.length} products
            .pull-right
              label Sort by
              select
                option Price (how to hight)
          .products-header.hidden-xs
            p
              | About
              strong  #{store.name}
            article!= store.about
          .product-list.clearfix
            each product in store_offers.offers
              .thumbnail
                .product-item-image-container
                  img(src="#{settings.cdn}#{product.photos[0]}")
                .caption
                  h5= product.title
                  .about
                    .price
                      span In #{product.offers.length} stores
                      p #{settings.currency}#{minimum_price_from_store(product, store._id)}
                    .compare-button
                      if product.offers.length == 1
                        - var aff_query = product.offers[0].store.affiliate_query || product.offers[0].link
                        - var aff_link = aff_query.replace("[link]", product.offers[0].link)
                        a(href="#{aff_link}", target="_blank", data-title="#{product.title}", data-category="#{product.category.name}", data-manufacturer="#{product.manufacturer.name}", data-store="#{product.offers[0].store.name}", data-price="#{product.offers[0].price}", data-country="#{settings.country}" rel="nofollow").btn.btn-compare.buy-button= settings.buy
                      else
                        a.btn.btn-compare(href="/#{product.slug}")= settings.buy

          .page.text-center
            +pagination(1, page_count, current_page, path_without_page)
block end_of_body
  script.
    $(function(){

      $(".buy-button").click(function(event){

        var offer = $(event.target);
        
        mixpanel.track("Offer clicked", {
          title: offer.data("title"),
          category: offer.data("category"),
          manufacturer: offer.data("manufacturer"),
          price: offer.data("price"),
          country: offer.data("country"),
          store: offer.data("store"),
          link: offer.data("link"),
          slug: offer.data("slug")
        });
      })

    })