extends base
block body
  section.content
    .advert.hidden-xs
      .container
        include includes/top-ad
    .headers
      .container
        h4.hidden-xs List of online stores in #{settings.country}
        h4.visible-xs Online Stores
    .news.main-content
      .container
        table.hidden-xs.table.table-bordered
          thead
            tr
              th Store Logo
              th Store Name
              th Trusted Store
              th Delivery
              th Website
              th
          tbody
              each store in stores
                tr
                  td
                    img(src="#{settings.cdn}#{store.logo}", style="max-width:100px;")
                  td
                    b= store.name
                  td
                      if store.trusted_shop
                          img(src="#{settings.cdn}images/v3/trusted.png")
                  td
                    p= store.delivery_note
                  td
                    a(href=store.website, target="_blank")= store.website
                  td
                    a(href="/stores/#{store.slug}").btn.btn-compare.btn-sm= settings.view_offers
        .page.text-center
          +pagination(1, page_count, current_page, path_without_page)
        each store in stores
          .visible-xs.price-range
            .first-row
              img(src=store.logo)
              .item-price
            .second-row
              if store.trusted_shop
                img(src="images/v3/trusted.png")
            .delivery
              p= store.delivery_note
            .third-row
              a(href="/stores/#{store.slug}").btn.btn-compare.form-control.btn-sm= settings.view_deals
