extends base
block body
  section.content
    include includes/breadcrumb
    include includes/top-ad
    .headers.hidden-xs
      .container
        h1 Popular terms
    .listing-page.main-content
      .container
        .products(style="width:100px;")
          each term in terms
            a(href="/tags/#{term.slug}", style="margin-right:10px")
              span(class="label label-warning")= term.title

          .page.text-center
            +pagination(1, page_count, current_page, path_without_page)
