div.pure-g.padding-top-1#about-message
    .pure-u-1.standard-padding
        h1.no-margin About Bestprices
        article.
           Bestprices is your one stop price comparison portal for products from trusted online stores in Nigeria with offerings which include Reviews of products from great brands across various categories, top 10, How to guides and Interesting news on various topics. Bestprices makes your online shopping easy by bringing all your bargain hunting and Best prices in Nigeria to one place. Check prices from your trusted and preferred online stores in Nigeria. Check prices on Bestprices to obtain the Best prices of your preferred mobile phones, Tablets, Computers, Televisions, Home Audio Systems, Washing Machines, Game Consoles, and many more.
        br
        article.
            Bestprices aims to be your goto place for online (and possibly) offline shopping advice for the best prices and reviews for all your desired products. Stay informed via our news, how to guides and blog on information regarding products from great brands.