.pure-g
    .pure-u-1.standard-padding
        ul.pure-u-1#breadcrumb
            if page
                if page.name
                    li
                        a(href=domain) Home
                    li

                        if page.name === 'Blog Item'
                            a(href='/') Blog
                        else if page.name === 'Top10 Item'
                            a(href='/') Top10
                        else if page.name === 'News Item'
                            a(href='/') News
                        else if page.name === 'Review'
                            a(href='/') Reviews
                        else if page.name == 'HowTo Item'
                            a(href='/') HowTo
                        else if page.name == 'Stores'
                            a(href='/stores')= page.name
                        else if page.name == 'Brands'
                            a(href='/brands')= page.name
                        else
                            a(href='')= page.name


                    if page.sub_name != ''
                        if page.name == 'Stores' || page.name == 'Brands'
                            li
                                a(href='')=page.sub_name
                        else
                            li
                                a(href='')=page.meta_title