if nav_menu
    ul.sub-menu.no-margin
        each menu in nav_menu
            li
                a(href='#{domain}/categories/#{menu.slug}')= menu.name
                if menu.children
                    ul.drop-down-menu
                        each sub in menu.children
                            li
                                a(href='#{domain}/categories/#{sub.slug}')= sub.name