div.pure-g#footer
    if links
        if links.pages
            .pure-u-1.pure-u-md-6-24
                span.display-block Pages
                ul.unstyled-list
                    each link in links.pages
                        li
                            a.undecorated-link(href=link.url, target=link.target)= link.title

        if links.social
            .pure-u-1.pure-u-md-6-24
                span.display-block Social Media
                ul.unstyled-list
                    each link in links.social
                        li
                            a.undecorated-link(href=link.url, target=link.target)= link.title

        if links.apps
            .pure-u-1.pure-u-md-6-24
                span.display-block Apps
                ul.unstyled-list
                    each link in links.apps
                        li
                            a.undecorated-link(href=link.url, target=link.target)= link.title

    .pure-u-1.pure-u-md-6-24
        span.display-block Contact Us
        address
            | ridwan@bestprices.ng
            br
            | Call us : 09098090424
    .pure-u-1
        p.no-margin.center-align Cloud One Softwares Limted, 2015.
