div.pure-g#header
    div.pure-u-1.pure-u-md-4-24.padding-top-1
        div.padding-left-10#logo-div

            a(href='#{domain}')
                img.pure-img.inline-block#logo(src='/images/bestprices-logo.png')


    div.pure-u-md-11-24.pure-hidden-phone(syle='background:white;')
        div.padding-top-1
            form.pure-form(method='GET', action='#{domain}/search')
                .pure-g
                    - var search_v = search || ''
                    input(type='text', name='search', value=search_v, class='pure-u-20-24 sharp-corner')
                    button(type='submit', style='border:none; -webkit-border-radius:0px;' class='pure-button button-red pure-u-4-24') Search
    div.pure-u-md-9-24.pure-hidden-phone
        div.pure-menu.pure-menu-horizontal.pure-menu-responsive
            ul.pure-menu-list.margin-top-10
                if links.top

                    if links.top.Reviews
                        if page.name == 'Reviews'
                            li.pure-menu-item.remove-background-color
                                a.pure-menu-link(href="#{links.top.Reviews.url}", target=links.top.Reviews.target) Reviews
                        else
                            li.pure-menu-item.remove-background-color
                                a.pure-menu-link(href="#{links.top.Reviews.url}", target=links.top.Reviews.target) Reviews
                    if links.top.HowTo
                        if page.name == 'HowTo'
                            li.pure-menu-item.remove-background-color
                                a.pure-menu-link(href="#{links.top.HowTo.url}", target=links.top.HowTo.target) HowTo
                        else
                            li.pure-menu-item.remove-background-color
                                a.pure-menu-link(href="#{links.top.HowTo.url}", target=links.top.HowTo.target) HowTo
                    if links.top.Top10
                        if page.name == 'Top10'
                            li.pure-menu-item.remove-background-color
                                a.pure-menu-link(href="#{links.top.Top10.url}", target=links.top.Top10.target) Top 10
                        else
                            li.pure-menu-item.remove-background-color
                                a.pure-menu-link(href="#{links.top.Top10.url}", target=links.top.Top10.target) Top 10
                    if links.top.News
                        if page.name == 'News'
                            li.pure-menu-item.remove-background-color
                                a.pure-menu-link(href="#{links.top.News.url}", target=links.top.News.target) News
                        else
                            li.pure-menu-item.remove-background-color
                                a.pure-menu-link(href="#{links.top.News.url}", target=links.top.News.target) News
                    if links.top.Blog
                        if page.name == 'Blog'
                            li.pure-menu-item.remove-background-color
                                a.pure-menu-link(href="#{links.top.Blog.url}", target=links.top.Blog.target) Blog
                        else
                            li.pure-menu-item.remove-background-color
                                a.pure-menu-link(href="#{links.top.Blog.url}", target=links.top.Blog.target) Blog

div.pure-g.pure-hidden-phone
    .pure-u-1.no-padding#sub-nav
        include categories-nav

