mixin pagination(start, numPages, curr, base, type)
    - start    = start    || 1
    - numPages = numPages || 10
    - curr     = curr     || 1
    - base     = base     || '#'
    - type     = type     || null
    ul.pagination.clearfix
        if(curr != 1)
            a(href='#{base}?page=#{curr-1}') &laquo; Previous
        else
            a(href='#') &laquo; Previous

        if(type === "numbered")
            a(href='#') 1

            strong 2

            a(href='#') 3

        if(curr < numPages)
            a(href='#{base}?page=#{addition(curr, 1)}') Next &raquo;
        else
            a(href='#') Next &raquo;

