span.st_facebook_large.stbutton(displaytext='Facebook')
span.st_twitter_large.stbutton(displaytext='Tweet')
span.st_googleplus_large.stbutton(displaytext='Google +')
span.st_pinterest_large.stbutton(displaytext='Pinterest')
span.st_buffer_large.stbutton(displaytext='Buffer')
span.st_linkedin_large.stbutton(displaytext='Linkedin')
span.st_blogger_large.stbutton(displaytext='Blogger')
span.st_tumblr_large.stbutton(displaytext='Tumblr')
span.st_delicious_large.stbutton(displaytext='Delicious')
span.st_digg_large.stbutton(displaytext='Digg')