.pure-u-1.pure-u-md-7-24#sidebar
    div
        include ads/sidebar
    .div.sidebar-title
        h3 Popular Posts
    .div.sidebar-content
        ul.unstyled-list
            div#popular-posts-container
    .div.sidebar-title
        h3 Hot Products
    .div.sidebar-content
        div#hot-products-container

