link(rel='stylesheet', href='http://yui.yahooapis.com/pure/0.6.0/pure-min.css')
link(rel='stylesheet', href='http://yui.yahooapis.com/pure/0.6.0/grids-responsive-min.css')
link(rel='stylesheet', href='/stylesheets/v2/style.css')
link(rel='stylesheet', href='/stylesheets/jquery.sidr.light.css')
link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css')