a.pure-visible-phone.float-left.pure-button(href='#sidr-left')#mobile-menu
    span.fa.fa-bars


        div#sidr-left
            ul
                li
                    form.pure-form(method='GET', action='#{domain}/search')
                        .pure-g
                            input(type='text', name='search', class='pure-u-20-24 sharp-corner')
                            button(type='submit', class='pure-button button-red pure-u-4-24')
                                i.fa.fa-search

                if nav_menu
                    each menu in nav_menu
                        li
                            a(href='#{domain}/categories/#{menu.slug}')= menu.name
                            if menu.children
                                ul
                                    each sub in menu.children
                                        li
                                            a(href='#{domain}/categories/#{sub.slug}')= sub.name