li(style='')
    .dropdown
        button.btn.btn-success.dropdown-toggle(data-toggle='dropdown', aria-expanded='true', type='button')
            | Categories
            span.caret

        if nav_menu
            ul.dropdown-menu.dropdown-menu-left(style='', role='menu', aria-labelledby='dropdownMenu1')
                each menu in nav_menu
                    - var sub_menu  = ''
                    if menu.children.length > 0
                        - sub_menu = 'dropdown-submenu'
                    li(style='width:100%; height: 30px; margin-left: 0; margin-right: 0;', role='presentation', class=sub_menu)
                        a(style='', role='menuitem', tabindex='-1', href='#{domain}/categories/#{menu.slug}')= menu.name
                            if menu.children
                                ul.dropdown-menu(role='menu', aria-labelledby='dropdownMenu1')
                                    each sub in menu.children
                                        li(style='width:100%; height: 30px; margin-left: 0; margin-right: 0;', role='presentation')
                                            a(style='', role='menuitem', tabindex='-1', href='#{domain}/categories/#{sub.slug}')= sub.name