footer.col-md-12
    .container
        p.text-center
            include search-form

        .row
            if links
                .col-md-3
                    h4 Pages
                    if links.pages
                        ul.list-unstyled
                            each link in links.pages
                                li
                                    a(href=link.url, target=link.target)= link.title

                .col-md-3
                    h4 Social Media
                    if links.social
                        ul.list-unstyled
                            each link in links.social
                                li
                                    a(href=link.url, target=link.target)= link.title



                .col-md-3
                    h4 Apps
                    if links.apps
                        ul.list-unstyled
                            each link in links.apps
                                li
                                    a(href=link.url, target=link.target)= link.title



            .col-md-3
                h4 Contact Us

                ul.list-unstyled
                    li
                        address
                            | ridwan@bestprices.ng
                            br
                            | Call us : 09098090424



        p.text-center Cloud One Softwares Limted, 2015.