header#header
    .col-md-12
        .col-md-2
            h1
                a(href='#{domain}')
                    img(src='/images/bestprices-logo.png', style='width:172px;', title='bestprices logo')

        .col-md-8
            include search-form

include nav