mixin pagination(start, numPages, curr, base, type)
    - start    = start    || 1
    - numPages = numPages || 10
    - curr     = curr     || 1
    - base     = base     || '#'
    - type     = type     || null
    nav
        ul.pagination
            - if(curr==1)
                li.disabled
                    a(href='#') Prev
            - else
                li
                    a(href='#{base}?page=#{curr-1}') Prev
            if type == null
                - for(var i=start;i<start+numPages;i++) {
                    - if(i==curr)
                        li.active
                            a(href='#{base}?page=#{i}') #{i}
                    - else
                        li
                            a(href='#{base}?page=#{i}') #{i}
                - }
            - if(curr==numPages)
                li.disabled
                    a(href='#') Next
            - else
                li
                    a(href='#{base}?page=#{addition(curr, 1)}') Next


mixin latest_stories(title, posts)
    - posts = posts || {}
    if posts.length > 0
        if title === 'Top10 Item'
            - title = 'Top10s'
        if title === 'News Item'
            - title = 'News'
        if title == 'Review'
            - title = 'Reviews'
        if title == 'Blog Item'
            - title = 'Blogs'
        h3 Latest #{title}
        for post in posts
            .related-item
                img.item-image.pull-left(src=post.thumbnail, style='width:50px;')
                .related-item-about.pull-left
                    h4
                        a(href='/#{post.slug}')=post.title
                    //.item-specs=post.summary


mixin price_sellers_filter()

    .sideList
        h4 Price
        form
            if search
                input(type='hidden', name='search', value='#{search}')

            | From &#x20A6;
            - val_price_from = price_from || ''
            input(type='number', id='from', value=val_price_from, name='price_from', required)

            br
            | To &#x20A6;
            - val_price_to = price_to || ''
            input(type='number', id='to', name='price_to', value=val_price_to, required)
            br
            input#go(type='submit', value='Go')

    if manufacturers
        .sideList
            h4 Brands


            ul(type='none')
                for manufacturer in manufacturers
                    li
                        input(type='checkbox', name='showonly', value=manufacturer.name)
                        | &nbsp;&nbsp;#{manufacturer.name}



    .clear