nav#nav
    .container
        ul#lg-nav(type='none')

            include categories


            if links.top
                if links.top.Shopping
                    if page.name == 'Shopping' || page.sub_name == 'Product' || page.sub_name == 'Brand' || page.sub_name == 'Manufacturer'
                        li.active
                            a(href=links.top.Shopping.url, target=links.top.Shopping.target) Shopping
                    else
                        li
                            a(href=links.top.Shopping.url, target=links.top.Shopping.target) Shopping
                if links.top.Reviews
                    if page.name == 'Reviews'
                        li.active
                            a(href=links.top.Reviews.url, target=links.top.Reviews.target) Reviews
                    else
                        li
                            a(href=links.top.Reviews.url, target=links.top.Reviews.target) Reviews
                if links.top.HowTo
                    if page.name == 'HowTo'
                        li.active
                            a(href=links.top.HowTo.url, target=links.top.HowTo.target) HowTo
                    else
                        li
                            a(href=links.top.HowTo.url, target=links.top.HowTo.target) HowTo
                if links.top.Top10
                    if page.name == 'Top10'
                        li.active
                            a(href=links.top.Top10.url, target=links.top.Top10.target) Top 10
                    else
                        li
                            a(href=links.top.Top10.url, target=links.top.Top10.target) Top 10
                if links.top.News
                    if page.name == 'News'
                        li.active
                            a(href=links.top.News.url, target=links.top.News.target) News
                    else
                        li
                            a(href=links.top.News.url, target=links.top.News.target) News
                if links.top.Blog
                    if page.name == 'Blog'
                        li.active
                            a(href=links.top.Blog.url, target=links.top.Blog.target) Blog
                    else
                        li
                            a(href=links.top.Blog.url, target=links.top.Blog.target) Blog

        include breadcrumb