script(type='text/javascript', src='/javascripts/v1/jquery.js')
script(type='text/javascript', src='/javascripts/v1/bootstrap.js')
script(type='text/javascript', src='/javascripts/v1/bxslider/jquery.bxslider.js')
script(type='text/javascript', src='/javascripts/v1/sticky.js')
script(type='text/javascript', src='/javascripts/v1/waypoints.js')
script(type='text/javascript', src='/javascripts/v1/index.js')
script(type='text/javascript', src='/javascripts/v1/filter.js')
script(type='text/javascript', src='http://w.sharethis.com/button/buttons.js')
script.
    (function(){
        var search_input_fields = $('input[name="search"]');
        search_input_fields[0].focus();
        //alert(search_input_fields.length);
    })();

//addthis script
if page.name != 'Shopping'
    script(type='text/javascript', src='https://s7.addthis.com/js/300/addthis_widget.js#pubid=ra-510f24891c15d361', async='async')
//sharethis script
script.
    stLight.options({publisher: "b5486515-ec4a-4cda-acd9-3d08407da2d9", doNotHash: false, doNotCopy: false, hashAddressBar: false});
//facebook comment embed code
if page.name == 'Shopping'
    script(type='text/javascript', src='/javascripts/imgLiquid-min.js')
    script.
        $(document).ready(function() {
            $(".imgLiquidFill").imgLiquid();
            $('#submit').on('click', function(){

            })
        });
if page.name != 'Shopping'
    div#fb-root
    script.
        (function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=1508320122751157&version=v2.0";
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));