form.search-form(name='search-form', action='/' , method='GET')
    - s = search || ''
    input.pull-left.search(type='text', name='search', value=s, id='', placeholder='What are you shopping for?')
    button#submit.pull-left.submit(type='submit')
        span.icon-search