script(async, src='//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js')
ins.adsbygoogle(style='display:block', data-ad-client='ca-pub-0564528186799166', data-ad-slot='9453575988', data-ad-format='auto')
script.
    (adsbygoogle = window.adsbygoogle || []).push({});