script(async, src='//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js')
ins.adsbygoogle(style='display:inline-block;width:320px;height:100px', data-ad-client='ca-pub-0564528186799166', data-ad-slot='1307650780')
script.
    (adsbygoogle = window.adsbygoogle || []).push({});