script(async, src='//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js')
ins.adsbygoogle(style='display:inline-block;width:200px;height:200px', data-ad-client='ca-pub-0564528186799166', data-ad-slot='4819520380')
script.
    (adsbygoogle = window.adsbygoogle || []).push({});