script(async, src='//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js')
ins.adsbygoogle(style='display:inline-block;width:250px;height:250px', data-ad-client='ca-pub-0564528186799166', data-ad-slot='3127840786')
script.
    (adsbygoogle = window.adsbygoogle || []).push({});