extends error-base
block body
    .pure-g#fourofour
        .pure-u-1
            table
                tr
                    td(style='padding-right:40px;')
                        img(src='/images/404.png').pure-hidden-phone
                    td.pure-u-xs-1
                        img(src='/images/404.png').pure-visible-phone
                        h1 Looking for something?
                        p We're sorry. The Web address you entered is not a functioning page on our site.
                        br
                        b Go to Bestprices.ng's &nbsp;
                            a(href='/') Home
                            span &nbsp;Page
                        p.pure-hidden-phone Or
                        form.pure-form.pure-hidden-phone(method='GET', action='#{domain}/search')
                            .pure-g
                                input(type='text', name='search', class='pure-u-20-24 sharp-corner')
                                button(type='submit', style='border:none; -webkit-border-radius:0px;' class='pure-button button-red pure-u-4-24') Search

