extends error-base
block body
    .pure-g#fourofour
        .pure-u-1
            table
                tr
                    td(style='padding-right:20px;').pure-hidden-phone
                        img(src='/images/500.jpg', style='width:300px;')
                    td.pure-u-xs-1
                        img(src='/images/500.jpg', style='width:300px;').pure-visible-phone
                        h1 Looks like something went wrong.
                        p We're sorry. We will find out what went wrong and fix it.
                        br
                        b Go to Bestprices.ng's &nbsp;
                            a(href='/') Home
                            span &nbsp;Page
                        p.pure-hidden-phone Or
                        form.pure-form.pure-hidden-phone(method='GET', action='#{domain}/search')
                            .pure-g
                                input(type='text', name='search', class='pure-u-20-24 sharp-corner')
                                button(type='submit', style='border:none; -webkit-border-radius:0px;' class='pure-button button-red pure-u-4-24') Search
