extends base
block body
    include includes/breadcrumb
    .pure-g#box-container.standard-padding.margin-top-20
        .pure-u-1.pure-u-md-16-24#content
            div.post-section-title
                h1 Latest Reviews
            div.pure-g.post-results

                .pure-u-1.pure-u-md-11-24.post-results-item
                    img.latest-reviews-item-img(src='http://news.bestprices.ng/media/whatsapp-voice-call-1429686929864.jpg')
                    h2
                        a(href='#').undecorated-link Galley of type and scrambled it to make a type specimen book.

                .pure-u-1.pure-u-md-11-24.post-results-item
                    img.latest-reviews-item-img(src='http://news.bestprices.ng/media/whatsapp-voice-call-1429686929864.jpg')
                    h2
                        a(href='#').undecorated-link Galley of type and scrambled it to make a type specimen book.



        .pure-u-1.pure-u-md-7-24#sidebar
            .div.sidebar-title
                h3 Popular Posts
            .div.sidebar-content
                ul.unstyled-list
                    li
                        img(src='http://news.bestprices.ng/media/xperia-z4-1429523852326.jpg')
                        a(href='#').undecorated-link The Sony Xperia Z4 was unveiled in The Sony Xperia Z4 was unveiled in Japan and as you can see from its picture he Sony Xperia Z4 was unveiled in Japan and as you can see from its picture

            .div.sidebar-title
                h3 Popular Posts
            .div.sidebar-content
                ul.unstyled-list#recommended-products
                    li
                        img(src='http://news.bestprices.ng/media/xperia-z4-1429523852326.jpg')
                        div#recommended
                            h4 iPhone 6 plus
                            span Price ₦25999
                            span From 499 Stores
                            a(href='#').undecorated-link Compare Price
                    li
                        img(src='http://bestprices.ng/media/gionee-elife-e6-1429183520591.jpg')
                        div#recommended
                            h4 iPhone 6 plus
                            span Price ₦25999
                            span From 499 Stores
                            a(href='#').undecorated-link Compare Price
                    li
                        img(src='http://news.bestprices.ng/media/xperia-z4-1429523852326.jpg')
                        div#recommended
                            h4 iPhone 6 plus
                            span Price ₦25999
                            span From 499 Stores
                            a(href='#').undecorated-link Compare Price
                    li
                        img(src='http://bestprices.ng/media/gionee-pioneer-p4-1429191853339.jpg')
                        div#recommended
                            h4 iPhone 6 plus
                            span Price ₦25999
                            span From 499 Stores
                            a(href='#').undecorated-link Compare Price
