html
    head
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        if page.meta_title
            title= page.meta_title
        if page.meta_description
            if page.sub_name === 'Product'
                meta(name='description', content='#{insert_offers_count_in_meta_description(page.meta_description, product.offers.length)}')
                meta(property='og:description', content='#{insert_offers_count_in_meta_description(page.meta_description, product.offers.length)}')
                meta(name='twitter:description', content='#{insert_offers_count_in_meta_description(page.meta_description, product.offers.length)}')
                meta(itemprop='description', content='#{insert_offers_count_in_meta_description(page.meta_description, product.offers.length)}')
            else
                meta(name='description', content='#{page.meta_description}')
                meta(property='og:description', content=page.meta_description)
                meta(name='twitter:description', content=page.meta_description)
                meta(itemprop='description', content=page.meta_description)
        if og.title
            meta(property='og:title', content=page.meta_title)
        meta(property='og:url', content=path)
        if og.image
            meta(property='og:image', content=og.image)
        meta(property='og:site_name', content='Bestprices')


        if og.type
            meta(property='og:type', content=og.type)
        if og.article_publisher
            meta(property='article:publisher', content=og.article_publisher)
        if og.article_published_time
            mata(property='article:published_time', content=og.article_published_time)
        if og.article_tags
            meta(property='article:tag', content=og.article_tags)
        if og.fb_admins
            meta(property='fb:admins', content=og.fb_admins)
        meta(name='twitter:card', content='summary_large_image')
        if post
            meta(name='twitter:image:src', content='#{domain}#{post.thumbnail}')
            if og.google_plus
                link(rel='publisher', href=og.google_plus)
            if page.name === 'HowTo Item'
                meta(name='author', content='#{post.created_by.first_name} #{post.created_by.last_name}')
            else
                meta(name='author', content='#{post.published_by.first_name} #{post.published_by.last_name}')
        meta(name='twitter:site', content='@bestprices_ng')
        meta(name='twitter:url', content=path)

        meta(name='twitter:title', content=page.meta_title)
        if og.twitter_creator
            meta(name='twitter:creator', content=og.twitter_creator)
        if page.meta_title
            meta(itemprop='name', content=page.meta_title)


        if og.image
            meta(itemprop='image', content=og.image)
        if og.price_amount
            meta(property='og:price:amount', content=og.price_amount)
        if og.price_currency
            meta(property='og:price:currency', content=og.price_currency)
        meta(name='google-site-verification', content='YwkbOOgrdWkcwsV9W_gIrONdgNukNXGa6ECAQx01kBA')
        meta(name='msvalidate.01', content='2385BD5FC533B06998538C38A16C32BB')

        include includes/styles

        if domain === 'http://bestprices.ng'
            - //google analytics tracking code
            include includes/ga
        block head

    body
        include includes/header
        include includes/mixins


        block body

        include includes/footer
        script(type='text/javascript', charset='utf-8', src='http://code.jquery.com/jquery-1.11.2.min.js')
        script(type='text/javascript', charset='utf-8', src='/javascripts/jquery.sidr.min.js')
        script(type='text/javascript', charset='utf-8', src='https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/3.0.3/handlebars.min.js')
        script(type='text/javascript', charset='utf-8', src='/javascripts/components/components.js')

        if page.sub_name === "Product"
            script(type='text/javascript', charset='utf-8', src='http://cdn.datatables.net/1.10.6/js/jquery.dataTables.min.js')
            script(type='text/javascript', charset='utf-8', src='http://cdn.datatables.net/fixedcolumns/3.0.4/js/dataTables.fixedColumns.min.js')

        include includes/scripts

        block end_of_body

