extends base
block body
    include includes/breadcrumb
    include includes/ads/top-banner
    .pure-g.standard-padding(itemscope, itemtype='http://schema.org/Organization')
        .pure-u-1.pure-u-md-4-24.left-navigation
            div.left-navigation-header.standard-padding.center-align
                h1
                    span(itemprop='legalName') #{brand.name}
            ul.left-navigation-list.center-align
                li.left-navigation-list-item.center-align(itemprop='logo')
                    img.pure-img(src=brand.logo, alt='logo of #{brand.name}', style='width:100px;margin-left:auto; margin-right:auto;')
                li.left-navigation-list-item.margin-top-10
                    span.inline-block
                        strong Founded:
                        span(itemprop='foundingDate')= brand.founded

                li.left-navigation-list-item.margin-top-10
                    span.inline-block
                        span
                            a.undecorated-link(href='#{brand.wikipedia}', target='_blank') #{brand.name} on Wikipedia
                li.left-navigation-list-item.margin-top-10
                    span.inline-block
                        span
                            a.undecorated-link(href='#{brand.website}', target='_blank') #{brand.name} Official website


        .pure-u-md-18-24.margin-left-5
            div.pure-g.margin-bottom-20
                div.section-header-bar.pure-u-1
                    div.section-header-bar(style='background-color:#f8f8f8;')
                        h2
                            a.undecorated-link(href='#') About #{brand.name}
                div.standard-padding.pure-u-1
                    article!= brand.about
            div.pure-g
                div.section-header.pure-u-1
                    div.section-header-bar(style='background-color:#f8f8f8;')
                        h2
                            a.undecorated-link(href='#') Products from #{brand.name}
                .clear

                .pure-g.standard-padding.product-display-in-categories(itemprop='owns', itemscope, itemtype='http://schema.org/Product')
                    each product in products
                        div.product-display-box.pure-u-1.pure-u-xs-1-1.pure-u-md-1-6
                            a(href='/#{product.slug}')
                                img.pure-img(src='#{product.photos[0]}', style="max-width:180px;max-height:120px;")
                                h1
                                    a(href='/#{product.slug}').undecorated-link
                                    span(itemprop='name')= product.title
                                h3(itemprop='offers', itemscope, itemtype='http://schema.org/Offer')
                                    span N
                                        span(itemprop='price') #{minimum_price(product.offers)}
                                p
                                    a(href='#').undecorated-link from #{product.offers.length} stores
                                div.compare-prices()
                                    a.undecorated-link.href(href='/#{product.slug}', itemprop='url') Compare Prices

            .pure-g
                .pure-u-1
                    +pagination(1, page_count, current_page, path)