extends base
block body
    include includes/breadcrumb
    include includes/ads/top-banner
    .pure-g.standard-padding.display-block
        .pure-u-1.pure-u-md-4-24.left-navigation
            p(style='text-align:center;')
                include includes/ads/brands-stores-left
        .pure-u-md-18-24.margin-left-5
            div.pure-g
                div.section-header.pure-u-1
                    div.section-header-bar(style='background-color:#f8f8f8;')
                        h2
                            a.undecorated-link(href='#') List of Brands/Manufacturers in Nigeria.
                .clear
                div.pure-u-1
                    table.pure-table.no-border(style='width:100%;')
                        thead
                            tr
                                td.no-border
                                    strong Brand Logo
                                td.no-border
                                    strong Name


                                td.no-border
                                    strong Website
                                td.no-border
                                    strong Offers
                        tbody
                            each brand in brands
                                tr.no-border
                                    td.no-border
                                        img(src=brand.logo, style='width:70px;')
                                    td.no-border
                                        p= brand.name

                                    td.no-border
                                        a(href='#{brand.website}', target='_blank', rel='nofollow') #{brand.name}'s website
                                    td.no-border
                                        a(href='/brands/#{brand.slug}', class='pure-button button-red') View Offers
            .pure-g
                .pure-u-1
                    +pagination(1, page_count, current_page, path)
