extends base
block body
    include includes/breadcrumb

    include includes/ads/top-banner
    .pure-g.standard-padding.display-block
        .pure-u-1.pure-u-md-4-24.left-navigation
            div.left-navigation-header.standard-padding
                h3 Brands

            ul.left-navigation-list
                each brand in brands
                    li.left-navigation-list-item
                        a(href='?brand=#{brand.slug}-#{brand._id}').undecorated-link

                                small #{brand.name}



        .pure-u-md-18-24.margin-left-5
            div.pure-g
                div.section-header.pure-u-1
                    div.section-header-bar(style='background-color:#f8f8f8;')
                        h1.no-margin
                            a.undecorated-link(href='#')= category.name
                            if filtered_brand != ''
                                span &nbsp;by #{filtered_brand}
                .clear
                if products.length > 0
                    div(itemtype='http://schema.org/ItemList')

                        .pure-g.standard-padding.product-display-in-categories
                            each product in products
                                div.pure-u-1.product-display-box.pure-u-xs-1-1.pure-u-md-1-6(itemtype='http://schema.org/Product', itemprop='itemListElement', itemscope='')
                                    a(href='/#{product.slug}')
                                        img.pure-img(src='#{product.photos[0]}', itemprop='image', alt=product.title, title=product.title, style="max-width:180px;max-height:120px;")
                                        h3
                                            a(href='/#{product.slug}').undecorated-link
                                                span(itemprop='name')= product.title
                                        h3(itemprop='offers', itemscope='', itemtype='http://schema.org/Offer')
                                            span N
                                                span(itemprop='price') #{minimum_price(product.offers)}
                                        p
                                            a(href='/#{product.slug}').undecorated-link from #{product.offers.length} stores
                                        div.compare-prices()
                                            a.undecorated-link.href(href='/#{product.slug}', itemprop='url') Compare Prices

                else
                    div.pure-g
                        div.pure-u-1 No results found

            .pure-g
                .pure-u-1
                    +pagination(1, page_count, current_page, path)
