html
    head
        meta(name='viewport', content='width=device-width, initial-scale=1.0')


        include includes/styles


        script.
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
            ga('create', 'UA-59942011-1', 'auto');
            ga('send', 'pageview');
        block head

    body



        block body


        script(type='text/javascript', charset='utf-8', src='http://code.jquery.com/jquery-1.11.2.min.js')
        script(type='text/javascript', charset='utf-8', src='http://cdn.datatables.net/1.10.6/js/jquery.dataTables.min.js')
        script(type='text/javascript', charset='utf-8', src='http://cdn.datatables.net/fixedcolumns/3.0.4/js/dataTables.fixedColumns.min.js')
        script(type='text/javascript', charset='utf-8', src='/javascripts/jquery.sidr.min.js')
        script.
            //    script for the side menu on mobile using sidr jquery plugin
            $(document).ready(function(){
                $('#mobile-menu').sidr({
                    name: 'sidr-left',
                    side: 'left'
                });
            })

        script.
            //script for product page datatable
            //used to scroll content on the table
            $(document).ready( function ()
            {
                var iStart = new Date().getTime();
                var oTable = $('#price-table').dataTable(
                {
                    "sScrollY": "240px",
                    "sScrollX": "100%",
                    "sScrollXInner": "100%",
                    "bScrollCollapse": true,
                    "bPaginate": false,
                    "bFilter": false,
                    "bInfo": false,
                    "aoColumns" : [
                        { sWidth: '20%' },
                        { sWidth: '20%' },
                        { sWidth: '20%' },
                        { sWidth: '20%' },
                        { sWidth: '20%' }
                        ]
            } );
                new FixedColumns( oTable,
                {
                    "sHeightMatch": "none"
                } );
            } );
        script.
            //twitter follow button script
            window.twttr=(function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],t=window.twttr||{};if(d.getElementById(id))return t;js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);t._e=[];t.ready=function(f){t._e.push(f);};return t;}(document,"script","twitter-wjs"));