extends base
block body
    div.pure-g
        div.pure-u-1.pure-visible-phone
            include includes/ads/top-banner
    div.pure-g.pure-hidden-phone.has-gutter.standard-padding(style='min-width:98%')
        div.pure-u-md-16-24
            div#home-banner
                div#home-banner-note.margin-top-20
                    span.display-block.margin-left-5.note-font-style find products
                    span.display-block.margin-left-20.note-font-style compare prices
                    span.display-block.margin-left-50.note-font-style buy from store
                    span.display-block.margin-top-20.margin-left-20 1,000+ products. 10+ Online stores
        div.pure-u-md-8-24
            include includes/ads/home-banner-right
    div(itemtype='http://schema.org/ItemList')
        if data
            if data.electronics.length > 0
                div.pure-g
                    div.section-header.pure-u-1.standard-padding
                        div.section-header-bar.margin-top-10(style='background-color:#f8f8f8;')
                            h2
                                a.undecorated-link(href='/categories/electronics') Electronics
                            a(href='/categories/electronics').pure-button.button-red.float-right.negative-margin-top-6 See More
                    .clear
                .pure-g.standard-padding.product-display
                    each product in data.electronics
                        div.product-display-box.pure-u-1.pure-u-md-1-6(itemprop='itemListElement', itemscope="", itemtype="http://schema.org/Product")
                            a(href='/#{product.slug}')
                                img.pure-img(src=product.photos[0], itemprop='image', alt=product.title, title=product.title, style='max-width:160px;max-height:208px;')

                                h3
                                    a(href='/#{product.slug}').undecorated-link
                                        span(itemprop='name')= product.title
                                h3(itemprop="offers", itemscope='', itemtype='http://schema.org/Offer')
                                    span N
                                        span(itemprop='price') #{minimum_price(product.offers)}
                                p
                                    a(href='/#{product.slug}').undecorated-link from #{product.offers.length} stores
                                div.compare-prices()
                                    a.undecorated-link.href(href='/#{product.slug}', itemprop='url') Compare Prices
            if data.phones.length > 0
                div.pure-g
                    div.section-header.pure-u-1.standard-padding
                        div.section-header-bar.margin-top-10(style='background-color:#f8f8f8;')
                            h2
                                a.undecorated-link(href='/categories/mobile-phones') Mobile Phones
                            a(href='/categories/mobile-phones').pure-button.button-red.float-right.negative-margin-top-6 See More
                    .clear
                .pure-g.standard-padding.product-display
                    each product in data.phones
                        div.product-display-box.pure-u-1.pure-u-md-1-6(itemprop='itemListElement', itemscope="", itemtype="http://schema.org/Product")
                            a(href='/#{product.slug}')
                                img.pure-img(src=product.photos[0], itemprop='image', alt=product.title, title=product.title, style='max-width:160px;max-height:208px;')
                                h3
                                    a(href='/#{product.slug}').undecorated-link
                                        span(itemprop='name')= product.title
                                h3(itemprop="offers", itemscope='', itemtype='http://schema.org/Offer')
                                    span N
                                        span(itemprop='price') #{minimum_price(product.offers)}
                                p
                                    a(href='/#{product.slug}').undecorated-link from #{product.offers.length} stores
                                div.compare-prices()
                                    a.undecorated-link.href(href='/#{product.slug}', itemprop='url') Compare Prices
            if data.tablets.length > 0
                div.pure-g
                    div.section-header.pure-u-1.standard-padding
                        div.section-header-bar.margin-top-10(style='background-color:#f8f8f8;')
                            h2
                                a.undecorated-link(href='/categories/tablet-computers') Tablets
                            a(href='/categories/tablet-computers').pure-button.button-red.float-right.negative-margin-top-6 See More
                    .clear
                .pure-g.standard-padding.product-display
                    each product in data.tablets
                        div.product-display-box.pure-u-1.pure-u-md-1-6(itemprop='itemListElement', itemscope="", itemtype="http://schema.org/Product")
                            a(href='/#{product.slug}')
                                img.pure-img(src=product.photos[0], itemprop='image', alt=product.title, title=product.title, style='max-width:160px;max-height:208px;')
                                h3
                                    a(href='/#{product.slug}').undecorated-link
                                        span(itemprop='name')= product.title
                                h3(itemprop="offers", itemscope='', itemtype='http://schema.org/Offer')
                                    span N
                                        span(itemprop='price') #{minimum_price(product.offers)}
                                p
                                    a(href='/#{product.slug}').undecorated-link from #{product.offers.length} stores
                                div.compare-prices()
                                    a.undecorated-link.href(href='/#{product.slug}', itemprop='url') Compare Prices
            if data.computers.length > 0
                div.pure-g
                    div.section-header.pure-u-1.standard-padding
                        div.section-header-bar.margin-top-10(style='background-color:#f8f8f8;')
                            h2
                                a.undecorated-link(href='/categories/computers-accessories') Computers & Accessories
                            a(href='/categories/computers-accessories').pure-button.button-red.float-right.negative-margin-top-6 See More
                    .clear
                .pure-g.standard-padding.product-display
                    each product in data.computers
                        div.product-display-box.pure-u-1.pure-u-md-1-6(itemprop='itemListElement', itemscope="", itemtype="http://schema.org/Product")
                            a(href='/#{product.slug}')
                                img.pure-img(src=product.photos[0], itemprop='image', alt=product.title, title=product.title, style='max-width:160px;max-height:208px;')
                                h3
                                    a(href='/#{product.slug}').undecorated-link
                                        span(itemprop='name')= product.title
                                h3(itemprop="offers", itemscope='', itemtype='http://schema.org/Offer')
                                    span N
                                        span(itemprop='price') #{minimum_price(product.offers)}
                                p
                                    a(href='/#{product.slug}').undecorated-link from #{product.offers.length} stores
                                div.compare-prices()
                                    a.undecorated-link.href(href='/#{product.slug}', itemprop='url') Compare Prices
            if data.office.length > 0
                div.pure-g
                    div.section-header.pure-u-1.standard-padding
                        div.section-header-bar.margin-top-10(style='background-color:#f8f8f8;')
                            h2
                                a.undecorated-link(href='/categories/office') Office
                            a(href='/categories/office').pure-button.button-red.float-right.negative-margin-top-6 See More
                    .clear
                .pure-g.standard-padding.product-display
                    each product in data.office
                        div.product-display-box.pure-u-1.pure-u-md-1-6(itemprop='itemListElement', itemscope="", itemtype="http://schema.org/Product")
                            a(href='/#{product.slug}')
                                img.pure-img(src=product.photos[0], itemprop='image', alt=product.title, title=product.title, style='max-width:160px;max-height:208px;')

                                div#product-display-box-detail
                                    h3
                                        a(href='/#{product.slug}').undecorated-link
                                            span(itemprop='name')= product.title
                                    h3(itemprop="offers", itemscope='', itemtype='http://schema.org/Offer')
                                        span N
                                            span(itemprop='price') #{minimum_price(product.offers)}
                                    p
                                        a(href='/#{product.slug}').undecorated-link from #{product.offers.length} stores
                                    div.compare-prices()
                                        a.undecorated-link.href(href='/#{product.slug}', itemprop='url') Compare Prices

    include includes/about