extends base
block head
    include includes/component-templates
block body
    include includes/breadcrumb
    include includes/ads/top-banner
    .pure-g
        .pure-u-1
            .pure-g#box-container.standard-padding
                .pure-u-1.pure-u-md-16-24#content(itemscope, itemtype='http://schema.org/Article')
                    h1(itemprop='headline')= post.title
                    div#author-bio
                        img.float-left(src=post.created_by.photo, width='40px')
                        small.display-block !{post.created_by.first_name} !{post.created_by.last_name}
                        small(itemprop='datePublished') #{moment(post.published_on).format('MMMM Do YYYY')}
                        span
                            include includes/sharethis
                    div
                        - var counter = 0
                        each step in post.steps
                            if counter == 0
                                h1(itemprop='headline')=step.title
                                article!= step.content
                            else
                                h2=step.title
                                article!= step.content
                            - counter = counter + 1




                    div
                        include includes/sharethis
                include includes/sidebar

block end_of_body
    script(type='text/javascript', src='http://w.sharethis.com/button/buttons.js')
    script.
        countPageViews("howto", "#{post._id}");
        offersComponent();
        popularPosts();
        hotProducts();
        subscribeEmail();