extends base
block head
    include includes/component-templates
block body
    include includes/breadcrumb
    include includes/ads/top-banner
    .pure-g#box-container.standard-padding.margin-top-20
        .pure-u-1.pure-u-md-16-24#content
            div.post-section-title
                h1 How Tos
            div.pure-g.post-results
                each post in posts
                    .pure-u-1.pure-u-md-11-24.post-results-item
                        img.latest-reviews-item-img(src=post.thumbnail)
                        h2
                            a(href='/#{post.slug}').undecorated-link= post.title
            +pagination(1, page_count, current_page, path)
        include includes/sidebar
block end_of_body
    script.
        popularPosts();
        hotProducts();