extends base
block body
    div.pure-g.pure-hidden-phone.has-gutter.standard-padding(style='min-width:98%')
        div.pure-u-md-16-24
            div#home-banner
                div#home-banner-note.margin-top-20
                    span.display-block.margin-left-5.note-font-style find products
                    span.display-block.margin-left-20.note-font-style compare prices
                    span.display-block.margin-left-50.note-font-style buy from store
                    span.display-block.margin-top-20.margin-left-20 1,000+ products. 10+ Online stores
        div.pure-u-md-8-24(style='background: red;')
            p joo
    div(itemtype='http://schema.org/ItemList')
        for val in ['Phones & Tablets', 'Computers', 'Electronics', 'Office']
            div.pure-g
                div.section-header.pure-u-1.standard-padding
                    div.section-header-bar.margin-top-10(style='background-color:#f8f8f8;')
                        h2
                            a.undecorated-link(href='#')= val
                        a.pure-button.button-red.float-right.negative-margin-top-6 See More
                .clear
            .pure-g.standard-padding.product-display
                div.product-display-box.pure-u-1.pure-u-md-1-6(itemprop='itemListElement', itemscope="", itemtype="http://schema.org/Product")
                    a(href='#')
                        img(src='/media/BlackBerry-Leap-1427132129676.jpeg', itemprop='image')
                        h1
                            a(href='#').undecorated-link
                                span(itemprop='name') iPhone 5s White
                        h3(itemprop="offers", itemscope='', itemtype='http://schema.org/Offer')
                            span N
                                span(itemprop='price') 100,000
                        p
                            a(href='#').undecorated-link from 4 stores
                        div.compare-prices()
                            a.undecorated-link.href(href='#', itemprop='url') Compare Prices
                div.product-display-box.pure-u-1.pure-u-md-1-6
                    a(href='#')
                        img(src='/media/BlackBerry-Leap-1427132129676.jpeg')
                        h1
                            a(href='#').undecorated-link iPhone 5s White
                        h3 N100,000
                        p
                            a(href='#').undecorated-link from 4 stores
                        div.compare-prices
                            a.undecorated-link.href(href='#') Compare Prices
                div.product-display-box.pure-u-1.pure-u-md-1-6
                    a(href='#')
                        img(src='/media/BlackBerry-Leap-1427132129676.jpeg')
                        h1
                            a(href='#').undecorated-link iPhone 5s White
                        h3 N100,000
                        p
                            a(href='#').undecorated-link from 4 stores
                        div.compare-prices
                            a.undecorated-link.href(href='#') Compare Prices
                div.product-display-box.pure-u-1.pure-u-md-1-6
                    a(href='#')
                        img(src='/media/BlackBerry-Leap-1427132129676.jpeg')
                        h1
                            a(href='#').undecorated-link iPhone 5s White
                        h3 N100,000
                        p
                            a(href='#').undecorated-link from 4 stores
                        div.compare-prices
                            a.undecorated-link.href(href='#') Compare Prices
                div.product-display-box.pure-u-1.pure-u-md-1-6
                    a(href='#')
                        img(src='/media/BlackBerry-Leap-1427132129676.jpeg')
                        h1
                            a(href='#').undecorated-link iPhone 5s White
                        h3 N100,000
                        p
                            a(href='#').undecorated-link from 4 stores
                        div.compare-prices
                            a.undecorated-link.href(href='#') Compare Prices
    include includes/about


