extends base
block body
    include includes/breadcrumb
    .pure-g
        .pure-u-1
            .pure-g#box-container.standard-padding
                .pure-u-1.pure-u-md-16-24#content(itemscope, itemtype='http://schema.org/Article')
                    h1(itemprop='headline') A first look at Galaxy s6
                    div#author-bio
                        img.float-left(src='https://d262ilb51hltx0.cloudfront.net/fit/c/540/540/1*CaJYj5hnftmt0SmWpmeaHg.jpeg', width='40px')
                        small.display-block Ridwan Olalere
                        small April 22nd 2015

                    article
                        img.pure-img(src='http://news.bestprices.ng/media/xperia-z4-1429523852326.jpg')
                        br
                        div(itemprop='articleBody').
                            The Sony Xperia Z4 was unveiled in Japan and as you can see from its picture above it is very familiar with other sony xperia family of phones.
                            Improved functionalities in Sony Xperia Z4 from the Z3 includes a thinner and lighter frame, with camera upgrades. Its labeled a selfie smartphone so the front camera gets a wide angle as well digital image stabilization. It also comes with a timer function which allows you to take a picture with or without a stick.
                            The sony xperia z4 will be out for sale in Japan this summer. When it is available in Nigeria be sure to see the price comparison from online stores in Nigeria on http://bestprices.ng
                            Read more about sony xperia specs here

                        pure-g#social-embed-component
                            div
                                p hello mr man
                                p
                                    a.twitter-follow-button(href='https://twitter.com/twitterdev') follow us @twitter


                        div#compare-prices-component
                           p.inline-block RECOMMENDED DEALS


                           table.pure-table
                                tr
                                    td
                                        img(src='http://bestprices.ng/media/logo-kaymu-1426870925868.png', style='width:80px;')
                                    td.pure-hidden-phone
                                        span(itemprop='name') sfjcscjscdcsckjscdvfdjk
                                    td
                                        span From
                                            span.text-color-red &nbsp; N
                                                span 12,000
                                    td.pure-hidden-phone
                                        img(src='http://bestprices.ng/images/v1/trusted.png', style='width:30px;')

                                    td
                                        a(href='#', itemprop='url').pure-button.button-orange go to Store

                                tr
                                    td
                                        img(src='http://bestprices.ng/media/logo-kaymu-1426870925868.png', style='width:80px;')
                                    td.pure-hidden-phone sfjcscjscdcsckjscdvfdjk
                                    td
                                        span From
                                            span.text-color-red &nbsp; N12,000
                                    td.pure-hidden-phone
                                        img(src='http://bestprices.ng/images/v1/trusted.png', style='width:30px;')
                                    td
                                        a.pure-button.button-orange go to Store
                            p.center-align We found 65+ iPad Deals &nbsp;
                                a.pure-button.button-orange.margin-bottom-5 View Deals





                        div#large-subscribe-box

                            img.pure-hidden-phone(src='/images/subscribe-img.png')
                            div.pure-hidden-phone
                               span.pure-hidden-phone Get Our Hottest
                               span.pure-hidden-phone stories delivered to
                               span.pure-hidden-phone your inbox
                               p Sign up for BestPrice Newsletters to get personal updates on top stories and viral hits.
                               form.pure-form
                                    input.pure-input-1-2(type='text', placeholder='EMAIL')
                                    button.pure-button.button-red SIGN UP

                .pure-u-1.pure-u-md-7-24#sidebar
                    .div.sidebar-title
                        h3 Popular Posts
                    .div.sidebar-content
                        ul.unstyled-list
                            li
                                img(src='http://news.bestprices.ng/media/xperia-z4-1429523852326.jpg')
                                a(href='#').undecorated-link The Sony Xperia Z4 was unveiled in The Sony Xperia Z4 was unveiled in Japan and as you can see from its picture he Sony Xperia Z4 was unveiled in Japan and as you can see from its picture

                    .div.sidebar-title
                        h3 Popular Posts
                    .div.sidebar-content
                        ul.unstyled-list#recommended-products
                            li
                                img(src='http://news.bestprices.ng/media/xperia-z4-1429523852326.jpg')
                                div#recommended
                                    h4 iPhone 6 plus
                                    span Price ₦25999
                                    span From 499 Stores
                                    a(href='#').undecorated-link Compare Price
                            li
                                img(src='http://bestprices.ng/media/gionee-elife-e6-1429183520591.jpg')
                                div#recommended
                                    h4 iPhone 6 plus
                                    span Price ₦25999
                                    span From 499 Stores
                                    a(href='#').undecorated-link Compare Price
                            li
                                img(src='http://news.bestprices.ng/media/xperia-z4-1429523852326.jpg')
                                div#recommended
                                    h4 iPhone 6 plus
                                    span Price ₦25999
                                    span From 499 Stores
                                    a(href='#').undecorated-link Compare Price
                            li
                                img(src='http://bestprices.ng/media/gionee-pioneer-p4-1429191853339.jpg')
                                div#recommended
                                    h4 iPhone 6 plus
                                    span Price ₦25999
                                    span From 499 Stores
                                    a(href='#').undecorated-link Compare Price
