extends base
block head
    include includes/component-templates
block body

    include includes/breadcrumb
    include includes/ads/top-banner
    .pure-g#overview
        .pure-u-1.pure-u-md-1(itemscope, itemtype='http://schema.org/Product')#product-detail-display
            div.standard-padding
                h1.inline-block(itemprop='name')= product.title
                span(itemscope, itemtype='http://schema.org/Offer', itemprop='Offers')
                    span.standard-red ₦
                        span.standard-red(itemprop='price') #{toMoney(minimum_price(product.offers))}
            div.padding-left-10
                small by &nbsp;
                    strong(itemprop='manufacturer', itemscope, itemtype='http://schema.org/Organization')
                        a.undecorated-link(href='/brands/#{product.manufacturer.slug}')
                            span(itemprop='legalName') #{product.manufacturer.name}
            ul#product-detail-nav-bar
                li
                    a(href='#overview') Overview
                li
                    a(href='#price-list') Price List
                li
                    a(href='#product-specification') Specification
                li
                    a(href='#product-review') Reviews

            .pure-g.standard-padding#price-list
                .pure-u-1.pure-u-md-8-24
                    div.product-image-box
                        img(src='#{product.photos[0]}', style='max-width:300px; max-height:300px;')
                        div
                            span.st_facebook_large.stbutton(displaytext='Facebook')
                            span.st_twitter_large.stbutton(displaytext='Tweet')
                            span.st_googleplus_large.stbutton(displaytext='Google +')
                            span.st_pinterest_large.stbutton(displaytext='Pinterest')

                .pure-u-1.pure-u-md-16-24

                    div.product-offers-table.standard-padding.fixthis

                        table(cellpadding="0", cellspacing="0", border="0").no-margin.table-borderless.pure-table.pure-table-horizontal#price-table
                            span Prices from over
                            span.text-color-red &nbsp;#{product.offers.length}+&nbsp;
                            span stores in Nigeria.
                            thead
                                    th
                                        strong Store
                                    th
                                        strong Store Name
                                    th
                                        strong Trusted
                                    th
                                        strong Price
                                    th
                                        strong Seller
                            if product.offers

                                tbody(itemprop='offers', itemscope='', itemtype='http://schema.org/Offer')
                                    each offer in product.offers
                                        tr
                                            td
                                                p
                                                    img.pure-img.product-store-logo(src='#{offer.store.logo}')
                                            td.pure-hidden-phone
                                                span #{offer.store.name}
                                                small.display-block(style='color:#333;') + #{offer.store.delivery_note}

                                            td.pure-hidden-phone
                                                p
                                                    if offer.store.trusted_shop
                                                        img.product-store-trusted(src='/images/v1/trusted.png')


                                            td
                                                span.standard-red ₦
                                                    span.standard-red(itemprop='price') #{toMoney(offer.price)}
                                            td
                                                - var aff_query = offer.store.affiliate_query || offer.link
                                                - var aff_link = aff_query.replace("[link]", offer.link)
                                                a.pure-button.button-red.go-to-store-button(href=aff_link, target='_blank', onclick="_gaq.push(['_trackEvent', 'Offers', 'Click', '#{product.title} - #{offer.store.name}']);") go to Store
            .pure-g
                .pure-u-1.product-review-box.standard-padding#product-specification
                    div.product-review-box-header
                        h2 #{product.title} Specification
                    div.pure-g
                        .pure-u-1.pure-u-md-15-24.standard-padding

                            article(itemprop='description')!=product.description

                            p
                            span.display-block(itemprop='sameAs')
                                a(href='#{product.wikipedia}', target='_blank')
                                    span Wikipedia Page
                            p
                            span.display-block(itemprop='sameAs')
                                a(href='#{product.official_website}', target='_blank')
                                    span Official Website
                        .pure-u-1.pure-u-md-8-24
                            include includes/ads/product-specification-banner

            div.pure-g
                div.section-header.pure-u-1.standard-padding
                    div.section-header-bar.margin-top-10(style='background-color:#f8f8f8;')
                        h2
                            a.undecorated-link(href='#') Recommended Products
                        a.pure-button.button-red.float-right.negative-margin-top-6.pure-hidden-phone See More
                .clear
                .pure-g.standard-padding.product-display
                    div#product-display-container

            .pure-g
                .pure-u-1.news-box.standard-padding
                    div.news-box-header
                        h2 Latest News
                    div.pure-g.news.standard-padding
                        div#news-template-container

block end_of_body
    script(type='text/javascript', src='http://w.sharethis.com/button/buttons.js')
    script.
        countPageViews("product", "#{product._id}");
        latestNews();
        recommendedProducts("#{product.title}");

