extends base
block body
    include includes/ads/top-banner
    div(itemtype='http://schema.org/ItemList')
        div.pure-g
            div.section-header.pure-u-1.standard-padding
                div.section-header-bar.margin-top-10(style='background-color:#f8f8f8;')
                    h2
                        a.undecorated-link(href='#') Search results for #{search}

            .clear
        if products.length > 0
            .pure-g.standard-padding.product-display
                each product in products
                    div.product-display-box.pure-u-1.pure-u-md-1-6(itemprop='itemListElement', itemscope="", itemtype="http://schema.org/Product")
                        a(href='/#{product.slug}')
                            img.pure-img(src=product.photos[0], itemprop='image', style="max-width:180px;max-height:120px;")
                            h1
                                a(href='/#{product.slug}').undecorated-link
                                    span(itemprop='name')= product.title
                            h3(itemprop="offers", itemscope='', itemtype='http://schema.org/Offer')
                                span N
                                    span(itemprop='price') #{minimum_price(product.offers)}
                            if product.offers
                                p
                                    a(href='/#{product.slug}').undecorated-link from #{product.offers.length} stores
                            div.compare-prices()
                                a.undecorated-link.href(href='/#{product.slug}', itemprop='url') Compare Prices
        else
            div.pure-g
                div.pure-u-1 No results found for #{search}

        if current_page
            .pure-g
                .pure-u-1
                    +pagination(1, page_count, current_page, path)
