extends base
block body
    include includes/breadcrumb
    include includes/ads/top-banner
    .pure-g.standard-padding(itemscope, itemtype='http://schema.org/Organization')
        .pure-u-1.pure-u-md-4-24.left-navigation
            div.left-navigation-header.standard-padding.center-align
                h1
                    span(itemprop='legalName') #{store.name}
            ul.left-navigation-list.center-align
                li.left-navigation-list-item.center-align(itemprop='logo')
                    img.pure-img(src=store.logo, alt='logo of #{store.name}', style='width:100px;margin-left:auto; margin-right:auto;')
                li.left-navigation-list-item.margin-top-10
                    span.inline-block
                        strong Tel:
                        span(itemprop='foundingDate')= store.tel
                li.left-navigation-list-item.margin-top-10
                    span.inline-block
                        strong Email:
                        span(itemprop='foundingDate')= store.email
                li.left-navigation-list-item.margin-top-10
                    span.inline-block
                        strong Address:
                        span(itemprop='foundingDate')= store.address
                li.left-navigation-list-item.margin-top-10
                    span.inline-block
                        strong Trusted
                        span
                            img(src='/images/v1/trusted.png', alt='#{store.name} is a trusted store', style='width:30px;')

                li.left-navigation-list-item.margin-top-10
                    span.inline-block
                        span
                            a.undecorated-link(href='#{store.website}', target='_blank') #{store.name} Official website
        .pure-u-md-18-24.margin-left-5
            div.pure-g.margin-bottom-20
                div.section-header-bar.pure-u-1
                    div.section-header-bar(style='background-color:#f8f8f8;')
                        h2
                            a.undecorated-link(href='#') About #{store.name}
                div.standard-padding.pure-u-1
                    article!= store.about
            div.pure-g
                div.section-header.pure-u-1
                    div.section-header-bar(style='background-color:#f8f8f8;')
                        h2
                            a.undecorated-link(href='#') Products from #{store.name}
                .clear
                if store_offers.offers
                    .pure-g.standard-padding.product-display-in-categories(itemprop='owns', itemscope, itemtype='http://schema.org/Product')
                        each product in store_offers.offers
                            div.product-display-box.pure-u-1.pure-u-xs-1-1.pure-u-md-1-6
                                a(href='/#{product.slug}')
                                    img.pure-img(src='#{product.photos[0]}', style="max-width:180px;max-height:120px;")
                                    h1
                                        a(href='/#{product.slug}').undecorated-link
                                        span(itemprop='name')= product.title
                                    h3(itemprop='offers', itemscope, itemtype='http://schema.org/Offer')
                                        span N
                                            span(itemprop='price') #{minimum_price_from_store(product, store._id)}
                                    p
                                        a(href='#').undecorated-link from #{product.offers.length} stores
                                    div.compare-prices()
                                        a.undecorated-link.href(href='/#{product.slug}', itemprop='url') Compare prices
            .pure-g
                .pure-u-1
                    +pagination(1, page_count, current_page, path)