extends base
block body
    include includes/breadcrumb
    include includes/ads/top-banner
    .pure-g.standard-padding.display-block
        .pure-u-1.pure-u-md-4-24.left-navigation
            p(style='text-align:center;')
                include includes/ads/brands-stores-left
        .pure-u-md-18-24.margin-left-5
            div.pure-g
                div.section-header.pure-u-1
                    div.section-header-bar(style='background-color:#f8f8f8;')
                        h2
                            a.undecorated-link(href='#') List of Online Stores in Nigeria.

                .clear

                div.pure-u-1
                    table.pure-table.no-border(style='width:100%;')
                        thead
                            tr
                                td.no-border
                                    strong Store Logo
                                td.no-border
                                    strong Name
                                td.no-border
                                    strong Trusted Store
                                td.no-border
                                    strong Delivery
                                td.no-border
                                    strong Website
                                td.no-border
                                    strong Offers
                        tbody
                            each store in stores
                                tr.no-border
                                    td.no-border
                                        img(src=store.logo, style='width:70px;')
                                    td.no-border
                                        p= store.name
                                    td.no-border
                                        if store.trusted_shop
                                            img(src='/images/v1/trusted.png', style='width:50px;')
                                        else
                                            p
                                    td.no-border
                                        p= store.delivery_note
                                    td.no-border
                                        a(href='#{store.website}', target='_blank', rel='nofollow') #{store.name}'s website
                                    td.no-border
                                        a(href='/stores/#{store.slug}', class='pure-button button-red') View Offers


            .pure-g
                .pure-u-1
                    +pagination(1, page_count, current_page, path)
