extends base
block head
    include includes/component-templates
block body
    include includes/breadcrumb
    include includes/ads/top-banner
    .pure-g
        .pure-u-1
            .pure-g#box-container.standard-padding
                .pure-u-1.pure-u-md-16-24#content(itemscope, itemtype='http://schema.org/Article')
                    h1(itemprop='headline')= post.title
                    div#author-bio
                        img.float-left(src=post.published_by.photo, width='40px')
                        small.display-block !{post.published_by.first_name} !{post.published_by.last_name}
                        small(itemprop='datePublished') #{moment(post.published_on).format('MMMM Do YYYY')}
                        span
                            include includes/sharethis
                    article
                        div(itemprop='articleBody')!= post.content

                        div
                            include includes/sharethis



                        include includes/comment
                include includes/sidebar


block end_of_body
    script(type='text/javascript', src='http://w.sharethis.com/button/buttons.js')
    script.
        countPageViews("product", "#{post._id}");
        offersComponent();
        popularPosts()
        hotProducts();
        subscribeEmail();
