<block-ui></block-ui>
<section id="datatables">
    <div id="wrapper">
        <ng-include src="'/partials/includes/nav.html'"></ng-include>

        <!-- Content -->
        <div id="content">
            <div class="menubar">
                <div class="sidebar-toggler visible-xs">
                    <i class="ion-navicon"></i>
                </div>

                <div class="page-title">
                    {{item_count}} Articles

                    <span>|| {{published_articles}} published</span>
                    <small>
                        <a href="#/article/new" class="btn btn-danger">New Article</a>
                    </small>
                </div>
            </div>

            <div class="content-wrapper">

                <p>
                    <select ng-show="hasPermission(['admin'])" ng-model="action" ng-change="performAction()">
                        <option>Actions</option>
                        <option value="delete">Delete</option>
                    </select>

                <form class="form-inline pull-right">
                    <div class="form-group">
                        <input type="text" class="form-control" ng-model="query" name="query">
                        <a ng-click="search()" class="btn btn-primary btn-sm">Search</a>
                        <p></p>
                    </div>
                </form>
                </p>

                <table class="table">
                    <thead>
                    <tr>
                        <th ng-show="hasPermission(['admin'], currentUser.role)" tabindex="0" rowspan="1" colspan="1">
                            #
                        </th>
                        <th tabindex="0" rowspan="1" colspan="1">Title
                        </th>
                        <th tabindex="0" rowspan="1" colspan="1">Type
                        </th>
                        <th tabindex="0" rowspan="1" colspan="1">Slug
                        </th>
                        <th tabindex="0" rowspan="1" colspan="1">Category
                        </th>
                        <th tabindex="0" rowspan="1" colspan="1">Status
                        </th>
                        <th tabindex="0" rowspan="1" colspan="1">Published by
                        </th>
                        <th tabindex="0" rowspan="1" colspan="1">Date
                        </th>

                        <th tabindex="0" rowspan="1" colspan="1">Preview
                        </th>

                    </tr>
                    </thead>


                    <tbody>
                    <tr ng-repeat="article in articles">
                        <td ng-show="hasPermission(['admin'], currentUser.role)">
                            <input ng-model="fake" name="select-product" ng-change="toggleSelected(accessors.getId(article))" type="checkbox" />
                        </td>
                        <td>
                            <a href="#/article/edit/{{accessors.getId(article)}}">{{article.title}}</a>
                        </td>
                        <td>{{article.article_type}}</td>
                        <td>{{article.slug}}</td>
                        <td class="">{{article.category.name}}</td>
                        <td>{{article.status}}</td>
                        <td>{{article.published_by.first_name}} {{article.published_by.last_name}}</td>
                        <td class="center">{{article.published_on | date}}</td>
                        <td class="center"><a target="_blank" href="http://{{article.article_type}}.bestprices.ng/{{article.slug}}"><span class="fa fa-anchor" title="Preview"></span></a></td>
                    </tr>





                    </tbody>

                </table>

                <ng-include src="'/partials/includes/pagination.html'"></ng-include>

            </div>

        </div>


    </div>


</section>

