<block-ui></block-ui>
<section id="form">
    <div id="wrapper">
        <ng-include src="'/partials/includes/nav.html'"></ng-include>

        <div id="content">
            <div class="menubar">
                <div class="sidebar-toggler visible-xs">
                    <i class="ion-navicon"></i>
                </div>

                <div class="page-title">
                    Edit article

                </div>
            </div>

            <div class="content-wrapper">
                <ng-include src="'/partials/includes/alert.html'"></ng-include>
                <form id="new-customer" name="editForm" class="form-horizontal"  role="form">
                    <div class="form-group">
                        <label class="col-sm-2 col-md-2 control-label">Title*</label>
                        <div class="col-sm-10 col-md-8">
                            <input type="text" ng-model="article.title" class="form-control" ng-required="true" name="title" />
                            <small class="text-danger" ng-show="editForm.title.$error.required">Title is required</small>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 col-md-2 control-label">Slug*</label>
                        <div class="col-sm-10 col-md-8">
                            <input type="text" disabled ng-model="article.slug" ng-required="true" class="form-control" name="slug" />
                            <small class="text-danger" ng-show="editForm.slug.$error.required">Slug is required</small>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 col-md-2 control-label">Thumbnail*</label>
                        <div class="col-sm-10 col-md-8">
                            <input type="text" ng-model="article.thumbnail" ng-required="true" class="form-control" name="thumbnail" />
                            <small class="text-danger" ng-show="editForm.thumbnail.$error.required">Thumbnail is required</small>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 col-md-2 control-label">Meta title*</label>
                        <div class="col-sm-10 col-md-8">
                            <input type="text" ng-model="article.meta_title" ng-required="true" class="form-control" name="meta_title" />
                            <small class="text-danger" ng-show="editForm.meta_title.$error.required">Meta title is required</small>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 col-md-2 control-label">Article*</label>
                        <div class="col-sm-10 col-md-8">

                            <textarea ui-tinymce="tinymceOptions" name="content" ng-required="true" ng-model="article.content"></textarea>
                            <small class="text-danger" ng-show="editForm.content.$error.required">Content is required</small>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 col-md-2 control-label">Meta description*</label>
                        <div class="col-sm-10 col-md-8">
                            <div class="has-feedback">
                                <textarea rows="4" name="meta_description" ng-required="true" ng-model="article.meta_description" class="form-control"></textarea>
                                <small class="text-danger" ng-show="editForm.meta_description.$error.required">Meta description is required</small>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 col-md-2 control-label">Summary</label>
                        <div class="col-sm-10 col-md-8">
                            <div class="has-feedback">
                                <textarea rows="4" name="summary" ng-required="true" ng-model="article.summary" class="form-control"></textarea>
                                <small class="text-danger" ng-show="editForm.summary.$error.required">Summary is required</small>
                            </div>
                        </div>
                    </div>


                    <div class="">
                        <div class="form-group">
                            <label class="col-sm-2 col-md-2 control-label">Article Type*</label>
                            <div class="col-md-8">
                                <select name="article_type" ng-required="true" ng-model="article.article_type" class="form-control">
                                    <option ng-repeat="t in article_types" ng-selected="t == article.article_type" value="{{t}}">{{t}}</option>

                                </select>
                                <small class="text-danger" ng-show="editForm.article_type.$error.required">Article type is required</small>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 col-md-2 control-label">Category</label>
                            <div class="col-md-8">
                                <select name="category"  ng-model="article.category" class="form-control">
                                    <option ng-repeat="cat in categories" ng-selected="accessors.getId(cat) == article.category" value="{{accessors.getId(cat)}}">{{cat.name}}</option>

                                </select>

                            </div>
                        </div>


                        <div class="form-group">
                            <label class="col-sm-2 col-md-2 control-label">Tags</label>
                            <div class="col-sm-10 col-md-8">
                                <div class="has-feedback">
                                    <input ng-model="article.tags" type="text" class="form-control">
                                    <small>Separate multiple tags with ','</small>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="form-group form-actions">
                        <div class="col-sm-offset-2 col-sm-10">

                         <div ng-switch on="article.status">

                             <div ng-switch-when="published">


                                 <!--<button type="submit" ng-click="editArticle(draft)" class="btn btn-default">Save as draft</button>-->
                                 <!--<a href="form.html" class="btn btn-default">Cancel</a>-->
                                 <button type="submit" ng-click="editArticle(published)" class="btn btn-success">Publish article</button>
                                 <a target="_blank" class="btn btn-sm" href="http://{{article.article_type}}.bestprices.ng/{{article.slug}}"><span class="fa fa-anchor" title="Preview"></span></a>


                             </div>

                             <div ng-switch-default>



                                 <button type="submit" ng-click="editArticle(draft)" class="btn btn-default">Save as draft</button>
                                 <!--<a href="form.html" class="btn btn-default">Cancel</a>-->
                                 <button ng-show="hasPermission(['admin', 'qc manager'], currentUser.role)" type="submit" ng-click="editArticle(published)" class="btn btn-success">Publish article</button>
                                 <a target="_blank" class="btn btn-sm" href="http://{{article.article_type}}.bestprices.ng/{{article.slug}}"><span class="fa fa-anchor" title="Preview"></span></a>


                             </div>

                         </div>

                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>


</section>