<block-ui></block-ui>
<section id="form">
<div id="wrapper">
    <ng-include src="'/partials/includes/nav.html'"></ng-include>

    <div id="content">
        <div class="menubar">
            <div class="sidebar-toggler visible-xs">
                <i class="ion-navicon"></i>
            </div>

            <div class="page-title">
                New article

            </div>
        </div>

        <div class="content-wrapper">
            <ng-include src="'/partials/includes/alert.html'"></ng-include>
            <form id="new-customer" name="articleForm" class="form-horizontal"  role="form">
                <div class="form-group">
                    <label class="col-sm-2 col-md-2 control-label">Title*</label>
                    <div class="col-sm-10 col-md-8">
                        <input type="text" ng-model="new_article.title" class="form-control" ng-required="true" name="title" />
                        <small class="text-danger" ng-show="articleForm.title.$error.required">Title is required</small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 col-md-2 control-label">Slug*</label>
                    <div class="col-sm-10 col-md-8">
                        <input type="text" slug from="new_article.title" disabled ng-model="new_article.slug" ng-required="true" class="form-control" name="slug" />
                        <small class="text-danger" ng-show="articleForm.slug.$error.required">Slug is required</small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 col-md-2 control-label">Thumbnail*</label>
                    <div class="col-sm-10 col-md-8">
                        <input type="text" ng-model="new_article.thumbnail" ng-required="true" class="form-control" name="thumbnail" />
                        <small class="text-danger" ng-show="articleForm.thumbnail.$error.required">Thumbnail is required</small>
                    </div>
                </div>


                <div class="form-group">
                    <label class="col-sm-2 col-md-2 control-label">Meta title*</label>
                    <div class="col-sm-10 col-md-8">
                        <!--<input type="text" ng-model="new_article.meta_title" ng-required="true" class="form-control" name="meta_title" />-->
                        <custom-textarea rows="2" max-characters="60" min-characters="50" ng-model="new_article.meta_title" name="meta_title" ng-required="true" from="new_article.title"></custom-textarea>
                        <small class="text-danger" ng-show="articleForm.meta_title.$error.required">Meta title is required</small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 col-md-2 control-label">Article*</label>
                    <div class="col-sm-10 col-md-8">

                        <textarea ui-tinymce="tinymceOptions" name="content" ng-required="true" ng-model="new_article.content"></textarea>
                        <small class="text-danger" ng-show="articleForm.content.$error.required">Content is required</small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 col-md-2 control-label">Meta description*</label>
                    <div class="col-sm-10 col-md-8">
                        <div class="has-feedback">
                            <!--<textarea rows="4" name="meta_description" ng-required="true" ng-model="new_article.meta_description" class="form-control"></textarea>-->
                            <custom-textarea name="meta_description" ng-model="new_article.meta_description" max-characters="160" rows="4" ng-required="true" min-characters="160"></custom-textarea>
                            <small class="text-danger" ng-show="articleForm.meta_description.$error.required">Meta description is required</small>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 col-md-2 control-label">Summary</label>
                    <div class="col-sm-10 col-md-8">
                        <div class="has-feedback">
                            <!--<textarea rows="4" name="summary" ng-required="true" ng-model="new_article.summary" class="form-control"></textarea>-->
                            <custom-textarea ng-model="new_article.summary" ng-required="true" name="summary" rows="4" from="new_article.content" min-characters="270" max-characters="300" ></custom-textarea>
                            <small class="text-danger" ng-show="articleForm.summary.$error.required">Summary is required</small>
                        </div>
                    </div>
                </div>


                <div class="">
                    <div class="form-group">
                        <label class="col-sm-2 col-md-2 control-label">Article Type*</label>
                        <div class="col-md-8">
                            <select name="article_type" ng-required="true" ng-model="new_article.article_type" class="form-control">
                                <option ng-repeat="t in article_types" value="{{t}}">{{t}}</option>

                            </select>
                            <small class="text-danger" ng-show="articleForm.article_type.$error.required">Article type is required</small>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 col-md-2 control-label">Category</label>
                        <div class="col-md-8">
                            <select name="category"  ng-model="new_article.category" class="form-control">
                                <option ng-repeat="cat in categories" value="{{accessors.getId(cat)}}">{{cat.name}}</option>

                            </select>

                        </div>
                    </div>


                    <div class="form-group">
                        <label class="col-sm-2 col-md-2 control-label">Tags</label>
                        <div class="col-sm-10 col-md-8">
                            <div class="has-feedback">
                                <input ng-model="new_article.tags" type="text" class="form-control">
                                <small>Separate multiple tags with ','</small>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="form-group form-actions">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" ng-click="saveArticle(draft)" class="btn btn-default">Save as draft</button>
                        <!--<a href="form.html" class="btn btn-default">Cancel</a>-->
                        <button ng-show="hasPermission(['admin', 'qc manager'], currentUser.role)" type="submit" ng-click="saveArticle(published)" class="btn btn-success">Publish article</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


</section>