<block-ui></block-ui>
<section id="search">
    <div id="wrapper">
        <ng-include src="'/partials/includes/nav.html'"></ng-include>

        <div id="content">
            <div class="menubar">
                <div class="sidebar-toggler visible-xs">
                    <i class="ion-navicon"></i>
                </div>

                <div class="page-title">
                    Manufacturers
                    <!--<small class="hidden-xs hidden-sm">-->
                        <!--<strong>Click on the filter checkboxes!</strong>-->
                    <!--</small>-->
                </div>
                <div class="options pull-right">
                    <a href="#/manufacturer/new"><i class="fa fa-plus"></i> New Manufacturer</a>
                    <!--<a href="#"><i class="fa fa-download"></i> Download CSV</a>-->
                </div>
            </div>

            <div class="content-wrapper clearfix">

                <div class="filters">
                    <h3 class="hidden-xs">Filters</h3>
                    <form>
                        <div class="filter">
                            <label>
                                <input type="checkbox" checked />
                                Created date
                            </label>
                            <div class="filter-option" style="display:block;">
                                <select class="field-switch">
                                    <option data-field="days">is in the last</option>
                                    <option data-field="calendar">is equal to</option>
                                    <option data-field="calendar">is before</option>
                                    <option data-field="calendar">is after</option>
                                </select>
                                <div class="field days">
                                    <input type="text" class="form-control small" value="9" />
                                    days
                                </div>
                                <div class="field calendar" style="display:none;">
                                    <i class="fa fa-calendar"></i>
                                    <input type="text" class="form-control datepicker" />
                                </div>
                            </div>
                        </div>
                        <div class="filter">
                            <label>
                                <input type="checkbox">
                                City
                            </label>
                            <div class="filter-option">
                                <select>
                                    <option>equals</option>
                                    <option>contains</option>
                                    <option>starts with</option>
                                    <option>ends with</option>
                                    <option>does not contain</option>
                                </select>
                                <div class="field">
                                    <input type="text" class="form-control" />
                                </div>
                            </div>
                        </div>
                        <div class="filter">
                            <label>
                                <input type="checkbox">
                                Last seen
                            </label>
                            <div class="filter-option">
                                <select class="field-switch">
                                    <option data-field="calendar">is equal to</option>
                                    <option data-field="calendar">is before</option>
                                    <option data-field="calendar">is after</option>
                                </select>
                                <div class="field calendar">
                                    <i class="fa fa-calendar"></i>
                                    <input type="text" class="form-control datepicker" />
                                </div>
                            </div>
                        </div>
                        <div class="filter">
                            <label>
                                <input type="checkbox">
                                Payment status
                            </label>
                            <div class="filter-option">
                                <select>
                                    <option>Available</option>
                                    <option>Abandoned</option>
                                    <option>Pending</option>
                                    <option>Fulfilled</option>
                                    <option>Suspicious</option>
                                </select>
                            </div>
                        </div>
                        <div class="filter">
                            <label>
                                <input type="checkbox" />
                                Number of orders
                            </label>
                            <div class="filter-option">
                                <select>
                                    <option>equal to</option>
                                    <option>not equal to</option>
                                    <option>less than</option>
                                    <option>greater than</option>
                                </select>
                                <div class="field">
                                    <input type="text" class="form-control" />
                                </div>
                            </div>
                        </div>
                        <div class="filter">
                            <label>
                                <input type="checkbox">
                                Price
                            </label>
                            <div class="filter-option">
                                <select>
                                    <option>equal to</option>
                                    <option>not equal to</option>
                                    <option>less than</option>
                                    <option>greater than</option>
                                </select>
                                <div class="field">
                                    <input type="text" class="form-control" />
                                </div>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="results">



                    <table class="table">
                        <thead>
                        <tr>
                            <th tabindex="0" rowspan="1" colspan="1">
                                <input class="toggle-all" type="checkbox" />
                            </th>
                            <th tabindex="0" rowspan="1" colspan="1">Logo
                            </th>
                            <th tabindex="0" rowspan="1" colspan="1">Name</th>
                            <th tabindex="0" rowspan="1" colspan="1">Slug
                            </th>
                            <th tabindex="0" rowspan="1" colspan="1">Meta title
                            </th>

                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="manufacturer in manufacturers">
                            <td>
                                <input name="select-product" type="checkbox" />
                            </td>
                            <td>
                                <a href="#/manufacturer/edit/{{accessors.getId(manufacturer)}}"><img class="img-responsive product-img" src="{{manufacturer.logo}}" /></a>

                            </td>
                            <td><a href="#/manufacturer/edit/{{accessors.getId(manufacturer)}}">{{manufacturer.name}}</a></td>
                            <td>{{manufacturer.slug}}</td>
                            <td class="">{{manufacturer.meta_title}}</td>

                        </tr>

                        </tbody>
                    </table>

                    <ng-include src="'/partials/includes/pagination.html'"></ng-include>
                </div>

            </div>
        </div>
    </div>

</section>

