<block-ui></block-ui>
<section id="datatables">
<div id="wrapper">
<ng-include src="'/partials/includes/nav.html'"></ng-include>

<!-- Content -->
<div id="content">
<div class="menubar">
    <div class="sidebar-toggler visible-xs">
        <i class="ion-navicon"></i>
    </div>

    <div class="page-title">
       {{item_count}} Categories
        <a href="#/category/new" class="btn btn-danger">New category</a>
    </div>
</div>

<div class="content-wrapper">

<table class="table">
<thead>
<tr>
    <th tabindex="0" rowspan="1" colspan="1">Name
    </th>
    <th tabindex="0" rowspan="1" colspan="1">Parent
    </th>
    <th tabindex="0" rowspan="1" colspan="1">Position
    </th>
    <th tabindex="0" rowspan="1" colspan="1">Slug
    </th>
    <th tabindex="0" rowspan="1" colspan="1">Meta title
    </th>
    <th tabindex="0" rowspan="1" colspan="1">Meta description
    </th>
</tr>
</thead>


<tbody>
<tr ng-repeat="category in categories">
    <td>
        <a href="#/category/edit/{{accessors.getId(category)}}">{{category.name}}</a>
    </td>
    <td>{{category.parent.name}}</td>
    <td>{{category.position}}</td>
    <td>{{category.slug}}</td>
    <td class="">{{category.meta_title}}</td>
    <td class="center">{{category.meta_description}}</td>
</tr>





</tbody>



</table>

    <ul class="pagination">
        <li ng-click="paginate(previous)">
            <span aria-hidden="true">&laquo; Previous</span>
        </li>
        <li>
            <span ng-click="paginate(next)" aria-hidden="true">Next &raquo;</span>
        </li>
    </ul>

</div>

</div>


</div>


</section>
