<block-ui></block-ui>
<section id="form">
    <div id="wrapper">
        <ng-include src="'/partials/includes/nav.html'"></ng-include>

        <div id="content">
            <div class="menubar">
                <div class="sidebar-toggler visible-xs">
                    <i class="ion-navicon"></i>
                </div>

                <div class="page-title">
                    Edit category

                </div>
            </div>

            <div class="content-wrapper">
                <ng-include src="'/partials/includes/alert.html'"></ng-include>


                <form class="form-horizontal col-md-8" name="editForm">
                    <div class="form-group">
                        <label class="col-md-2">Name</label>
                        <div class="col-md-10">
                            <input ng-model="category.name" name="name" ng-required="true" class="form-control" type="text">
                            <small class="text-danger" ng-show="editForm.name.$error.required">Category is required</small>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2">Slug</label>
                        <div class="col-md-10">
                            <input class="form-control" name="slug" ng-model="category.slug" ng-required="true" type="text">
                            <small class="text-danger" ng-show="editForm.slug.$error.required">Slug is required</small>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2">Parent</label>
                        <div class="col-md-10">
                            <select ng-model="category.parent">
                                <option ng-repeat="cat in categories" value="{{accessors.getId(cat)}}" ng-selected="accessors.getId(cat) == category.parent">{{cat.name}}</option>
                            </select>
                            <!--<small class="text-danger" ng-show="editForm.parent.$error.required">Category is required</small>-->
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2">Position</label>
                        <div class="col-md-10">
                            <input ng-model="category.position" name="position"  class="form-control" type="text">
                            <!--<small class="text-danger" ng-show="editForm.parent.$error.required">Category is required</small>-->
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2">Description</label>
                        <div class="col-md-10">
                            <textarea ui-tinymce="tinymceOptions" ng-model="category.description" ng-required="true" name="description" class="form-control"></textarea>
                            <small class="text-danger" ng-show="editForm.description.$error.required">Description is required</small>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2">Meta title</label>
                        <div class="col-md-10">
                            <!--<input type="text" ng-model="category.meta_title" name="meta_title" ng-required="true" class="form-control">-->
                            <custom-textarea ng-model="category.meta_title" ng-required="true" min-characters="50" max-characters="60" rows="2" name="meta_title"></custom-textarea>
                            <small class="text-danger" ng-show="editForm.meta_title.$error.required">Meta title is required</small>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2">Meta Description</label>
                        <div class="col-md-10">
                            <!--<textarea rows="5" name="meta_description" ng-required="true" ng-model="category.meta_description" class="form-control"></textarea>-->
                            <custom-textarea rows="4" name="meta_description" ng-required="true" min-characters="160" max-characters="160" ng-model="category.meta_description"></custom-textarea>
                            <small class="text-danger" ng-show="editForm.meta_description.$error.required">Meta Description is required</small>
                        </div>
                    </div>
			<div class="form-group">
				<label class="col-md-2">Bag of words</label>
				<div class="col-md-10">
					<textarea rows="20" name="bag_of_words" class="form-control" ng-model="category.bag_of_words"></textarea>
				</div>
			</div>

                    <div class="form-group">
                        <label class="col-md-2"></label>
                        <div class="col-md-10">
                            <button ng-click="editCategory()" class="btn btn-primary">Save</button>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</section>
