<block-ui></block-ui>
<section id="form">
<div id="wrapper">
    <ng-include src="'/partials/includes/nav.html'"></ng-include>

    <div id="content">
        <div class="menubar">
            <div class="sidebar-toggler visible-xs">
                <i class="ion-navicon"></i>
            </div>

            <div class="page-title">
                Add a new category
                <!--<small class="hidden-xs">-->
                <!--<strong>This form has validation</strong>-->
                <!--</small>-->
            </div>
        </div>

        <div class="content-wrapper">
            <ng-include src="'/partials/includes/alert.html'"></ng-include>
            <form class="form-horizontal col-md-8" name="categoryForm">
                <div class="form-group">
                    <label class="col-md-2">Name</label>
                    <div class="col-md-10">
                        <input ng-model="new_category.name" name="name" ng-required="true" class="form-control" type="text">
                        <small class="text-danger" ng-show="categoryForm.name.$error.required">Category is required</small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2">Slug</label>
                    <div class="col-md-10">
                        <input class="form-control" slug from="new_category.name" disabled name="slug" ng-model="new_category.slug" ng-required="true" type="text">
                        <small class="text-danger" ng-show="categoryForm.slug.$error.required">Slug is required</small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2">Parent</label>
                    <div class="col-md-10">
                        <select ng-model="new_category.parent">
                            <option ng-repeat="parent in parents" value="{{accessors.getId(parent)}}">{{parent.name}}</option>
                        </select>
                        <!--<small class="text-danger" ng-show="categoryForm.parent.$error.required">Category is required</small>-->
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2">Position</label>
                    <div class="col-md-10">
                        <input ng-model="new_category.position" name="position"  class="form-control" type="text">
                        <!--<small class="text-danger" ng-show="editForm.parent.$error.required">Category is required</small>-->
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2">Description</label>
                    <div class="col-md-10">
                        <textarea rows="5" ng-model="new_category.description" ng-required="true" name="description" class="form-control"></textarea>
                        <small class="text-danger" ng-show="categoryForm.description.$error.required">Description is required</small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2">Meta title</label>
                    <div class="col-md-10">
                        <!--<input type="text" ng-model="new_category.meta_title" name="meta_title" ng-required="true" class="form-control">-->
                        <custom-textarea rows="2" ng-required="true" ng-model="new_category.meta_title" name="meta_title" min-characters="50" max-characters="60"></custom-textarea>
                        <small class="text-danger" ng-show="categoryForm.meta_title.$error.required">Meta title is required</small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2">Meta Description</label>
                    <div class="col-md-10">
                        <!--<textarea rows="5" name="meta_description" ng-required="true" ng-model="new_category.meta_description" class="form-control"></textarea>-->
                        <custom-textarea rows="4" name="meta_description" ng-required="true" ng-model="new_category.meta_description" min-characters="160" max-characters="160"></custom-textarea>
                        <small class="text-danger" ng-show="categoryForm.meta_description.$error.required">Meta Description is required</small>
                    </div>
                </div>
		<div class="form-group">
			<label class="col-md-2">Bag of words</label>
			<div class="col-md-10">
				<textarea class="form-contro" rows="20" name="bag_of_words" ng-model="new_category.bag_of_words"></textarea>
			</div>
		</div>
                <div class="form-group">
                    <label class="col-md-2"></label>
                    <div class="col-md-10">
                        <button ng-click="createCategory()" class="btn btn-primary">Save</button>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>
</section>
