
<section id="dashboard">
<div id="wrapper">

<!--include nav here-->
<ng-include src="'/partials/includes/nav.html'"></ng-include>

<div id="content">
    <div class="menubar">
        <div class="sidebar-toggler visible-xs">
            <i class="ion-navicon"></i>
        </div>

        <div class="page-title">
            Dashboard
        </div>

        <div class="period-select hidden-xs">
            <form class="input-daterange">
                <div class="input-group input-group-sm">
						  	<span class="input-group-addon">
						  		<i class="fa fa-calendar-o"></i>
						  	</span>
                    <input name="start" type="text" class="form-control datepicker" placeholder="02/27/2014" />
                </div>

                <p class="pull-left">to</p>

                <div class="input-group input-group-sm">
						  	<span class="input-group-addon">
						  		<i class="fa fa-calendar-o"></i>
						  	</span>
                    <input name="end" type="text" class="form-control datepicker" placeholder="02/27/2014" />
                </div>
            </form>
        </div>
    </div>

    <div class="content-wrapper">
        <div class="metrics clearfix">
            <div class="metric">
                <span class="field">Products</span>
                <span class="data">{{stat.products}}</span>
            </div>
            <div class="metric">
                <span class="field">Stores</span>
                <span class="data">{{stat.stores}}</span>
            </div>
            <div class="metric">
                <span class="field">Subscribers</span>
                <span class="data">{{stat.subscribers.subscribe}}</span>
            </div>
            <div class="metric">
                <span class="field">How to</span>
                <span class="data">{{stat.howto}}</span>
            </div>
            <div class="metric">
                <span class="field">Top 10</span>
                <span class="data">{{stat.articles.Top10}}</span>
            </div>
            <div class="metric">
                <span class="field">Reviews</span>
                <span class="data">{{stat.articles.Reviews}}</span>
            </div>
            <div class="metric">
                <span class="field">Manufacturers</span>
                <span class="data">{{stat.manufacturers}}</span>
            </div>
            <div class="metric">
                <span class="field">News</span>
                <span class="data">{{stat.articles.News}}</span>
            </div>
             <div class="metric">
                <span class="field">Products without offer</span>
                <span class="data">{{stat.products_no_offer}}</span>
            </div>
            <div class="metric">
                <span class="field">Products indexed</span>
                <span class="data">{{stat.products_indexed}}</span>
            </div>
            <div class="metric">
                <span class="field">Published products</span>
                <span class="data">{{stat.published_products}}</span>
            </div>

        </div>

        <div class="chart">
            <h3>
                New users per day

                <div class="total pull-right hidden-xs">
                    12,958 total


                </div>
            </h3>
            <div id="visitors-chart"></div>
        </div>

        <div class="charts-half clearfix">
            <div class="chart pull-left">
                <h3>
                    Subscribers per day

                    <div class="total pull-right hidden-xs">
                        $3,124.00 total

                        <div class="change up">
                            <i class="fa fa-chevron-up"></i>
                            6.5%
                        </div>
                    </div>
                </h3>
                <div id="payments-chart"></div>
            </div>
            <div class="chart pull-right">
                <h3>
                    Affilliate clicks per day

                    <div class="total pull-right hidden-xs">
                        1,402 total

                        <div class="change down">
                            <i class="fa fa-chevron-down"></i>
                            3.5%
                        </div>
                    </div>
                </h3>
                <div id="signups-chart"></div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <div class="barchart">
                    <h3>Visitors last month</h3>
                    <div id="bar-chart"></div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="referrals">
                    <h3>Pie chart of subscribed/unsubscribed</h3>

                </div>
            </div>
        </div>
    </div>
</div>
</div>



<!--<script type="text/javascript">-->
    <!--$(function () {-->

        <!--// Range Datepicker-->
        <!--$('.input-daterange').datepicker({-->
            <!--autoclose: true,-->
            <!--orientation: 'right top',-->
            <!--endDate: new Date()-->
        <!--});-->

        <!--// Flot Charts-->
        <!--var chart_border_color = "#efefef";-->
        <!--var chart_color = "#b0b3e3";-->

        <!--var d = [[utils.get_timestamp(15), 1290], [utils.get_timestamp(14), 1050], [utils.get_timestamp(13), 1100], [utils.get_timestamp(12), 1300], [utils.get_timestamp(11), 1050], [utils.get_timestamp(10), 1521], [utils.get_timestamp(9), 950], [utils.get_timestamp(8), 1130], [utils.get_timestamp(7), 1100], [utils.get_timestamp(6), 1472], [utils.get_timestamp(5), 1410], [utils.get_timestamp(4), 1684], [utils.get_timestamp(3), 1410], [utils.get_timestamp(2), 1322], [utils.get_timestamp(1), 1050], [utils.get_timestamp(0), 1238]];-->

        <!--var d2 = [[utils.get_timestamp(14), 1500], [utils.get_timestamp(13), 1600], [utils.get_timestamp(12), 1630], [utils.get_timestamp(11), 1310], [utils.get_timestamp(10), 1530], [utils.get_timestamp(9), 2050], [utils.get_timestamp(8), 2310], [utils.get_timestamp(7), 2050], [utils.get_timestamp(6), 2125], [utils.get_timestamp(5), 1400], [utils.get_timestamp(4), 1600], [utils.get_timestamp(3), 1930], [utils.get_timestamp(2), 2000], [utils.get_timestamp(1), 2320]];-->

        <!--var options = {-->
            <!--xaxis : {-->
                <!--mode : "time",-->
                <!--tickLength : 10-->
            <!--},-->
            <!--series : {-->
                <!--lines : {-->
                    <!--show : true,-->
                    <!--lineWidth : 2,-->
                    <!--fill : true,-->
                    <!--fillColor : {-->
                        <!--colors : [{-->
                            <!--opacity : 0.04-->
                        <!--}, {-->
                            <!--opacity : 0.1-->
                        <!--}]-->
                    <!--}-->
                <!--},-->
                <!--shadowSize : 0-->
            <!--},-->
            <!--selection : {-->
                <!--mode : "x"-->
            <!--},-->
            <!--grid : {-->
                <!--hoverable : true,-->
                <!--clickable : true,-->
                <!--tickColor : chart_border_color,-->
                <!--borderWidth : 0,-->
                <!--borderColor : chart_border_color,-->
            <!--},-->
            <!--tooltip : true,-->
            <!--colors : [chart_color]-->
        <!--};-->

        <!--var plot = $.plot($("#visitors-chart"), [d], $.extend(options, {-->
            <!--tooltipOpts : {-->
                <!--content : "Visitors on <b>%x</b>: <span class='value'>%y</span>",-->
                <!--defaultTheme : false,-->
                <!--shifts: {-->
                    <!--x: -75,-->
                    <!--y: -70-->
                <!--}-->
            <!--}-->
        <!--}));-->

        <!--var plot2 = $.plot($("#payments-chart"), [d2], $.extend(options, {-->
            <!--tooltipOpts : {-->
                <!--content : "Payments on <b>%x</b>: <span class='value'>$%y</span>",-->
                <!--defaultTheme : false,-->
                <!--shifts: {-->
                    <!--x: -75,-->
                    <!--y: -70-->
                <!--}-->
            <!--}-->
        <!--}));-->

        <!--var plot3 = $.plot($("#signups-chart"), [d], $.extend(options, {-->
            <!--tooltipOpts : {-->
                <!--content : "New signups on <b>%x</b>: <b class='value'>%y</b>",-->
                <!--defaultTheme : false,-->
                <!--shifts: {-->
                    <!--x: -78,-->
                    <!--y: -70-->
                <!--}-->
            <!--}-->
        <!--}));-->


        <!--// Bar chart (visitors)-->

        <!--var dBar = [[utils.get_timestamp(30), 930], [utils.get_timestamp(29), 1200], [utils.get_timestamp(28), 980], [utils.get_timestamp(27), 950], [utils.get_timestamp(26), 1000], [utils.get_timestamp(25), 1050], [utils.get_timestamp(24), 1150], [utils.get_timestamp(23), 2300], [utils.get_timestamp(22), 1200], [utils.get_timestamp(21), 1300], [utils.get_timestamp(20), 1700], [utils.get_timestamp(19), 1450], [utils.get_timestamp(18), 1500], [utils.get_timestamp(17), 546], [utils.get_timestamp(16), 614], [utils.get_timestamp(15), 954], [utils.get_timestamp(14), 1700], [utils.get_timestamp(13), 1800], [utils.get_timestamp(12), 1900], [utils.get_timestamp(11), 2000], [utils.get_timestamp(10), 2100], [utils.get_timestamp(9), 2200], [utils.get_timestamp(8), 2300], [utils.get_timestamp(7), 2400], [utils.get_timestamp(6), 2550], [utils.get_timestamp(5), 2600], [utils.get_timestamp(4), 1800], [utils.get_timestamp(3), 2200], [utils.get_timestamp(2), 2350], [utils.get_timestamp(1), 2800], [utils.get_timestamp(0), 3245]];-->

        <!--var options2 = {-->
            <!--yaxes: {-->
                <!--min: 0-->
            <!--},-->
            <!--xaxis : {-->
                <!--mode : "time",-->
                <!--timeformat: "%a %d"-->
            <!--},-->
            <!--series : {-->
                <!--bars : {-->
                    <!--show : true,-->
                    <!--lineWidth: 0,-->
                    <!--barWidth: 47000000, // for bar charts, this is width in milliseconds (86400000 would be the width of a day)-->
                    <!--align: 'center',-->
                    <!--fillColor : {-->
                        <!--colors : [{ opacity : 0.7 }, { opacity : 0.7 }]-->
                    <!--}-->
                <!--}-->
            <!--},-->
            <!--grid : {-->
                <!--show: true,-->
                <!--hoverable : true,-->
                <!--clickable : true,-->
                <!--tickColor : chart_border_color,-->
                <!--borderWidth : 0,-->
                <!--borderColor : chart_border_color,-->
            <!--},-->
            <!--tooltip : true,-->
            <!--tooltipOpts : {-->
                <!--content : "Visits on <b>%x</b>: <span class='value'>%y</span>",-->
                <!--defaultTheme : false,-->
                <!--shifts: {-->
                    <!--x: -65,-->
                    <!--y: -70-->
                <!--}-->
            <!--},-->
            <!--colors : ["#4fa3d5"]-->
        <!--};-->

        <!--var plot4 = $.plot($("#bar-chart"), [dBar], options2);-->
    <!--});-->
<!--</script>-->
</section>