<block-ui></block-ui>
<section id="search">
<div id="wrapper">
<ng-include src="'/partials/includes/nav.html'"></ng-include>

<div id="content">
<div class="menubar">
    <div class="sidebar-toggler visible-xs">
        <i class="ion-navicon"></i>
    </div>

    <div class="page-title">
        {{item_count}} Images

    </div>
    <div class="options pull-right">

        <!--<a href="#"><i class="fa fa-plus"></i> New product</a>-->
        <!--<a href="#"><i class="fa fa-download"></i> Download CSV</a>-->
    </div>
</div>

<div class="content-wrapper clearfix">

<div class="filters">
    <h3 class="hidden-xs">Upload File</h3>
    <form name="uploadForm">
        <div class="form-group">
            <label>Alt</label>
            <input type="text" placeholder="alt" class="form-control" ng-required="true" name="alt" ng-model="data.alt">
            <small class="text-danger" ng-show="uploadForm.alt.$error.required">Alt is required</small>
        </div>
        <div class="form-group">
            <label>Title</label>
            <input type="text" class="form-control" placeholder="title" ng-required="true" name="title" ng-model="data.title">
            <small class="text-danger" ng-show="uploadForm.title.$error.required">Title is required</small>
        </div>

        <div class="form-group">
            <input type="file" class="form-control" name="selectedfile" file-model="myFile" value="upload" ng-required="true">
            <small class="text-danger" ng-show="uploadForm.selectedfile.$error.required">Select a file</small>
        </div>
        <div class="form-group">
            <button ng-click="uploadFile()" class="btn btn-danger btn-sm">Upload</button>
        </div>

    </form>
</div>

<div class="results">

    <ng-include src="'/partials/includes/alert.html'"></ng-include>

    <p>
        <select ng-model="action" ng-change="performAction()">
            <option>Actions</option>
            <option value="delete">Delete</option>
        </select>

    <form class="form-inline pull-right">
        <div class="form-group">
            <input type="text" class="form-control" ng-model="query" name="query">
            <a ng-click="search()" class="btn btn-primary btn-sm">Search</a>
            <p></p>
        </div>
    </form>
    </p>

    <table class="table">
        <thead>
        <tr>
            <th tabindex="0" rowspan="1" colspan="1">
                <input class="toggle-all" type="checkbox" />
            </th>
            <th tabindex="0" rowspan="1" colspan="1">Image
            </th>
            <th tabindex="0" rowspan="1" colspan="1">Path
            </th>
            <th tabindex="0" rowspan="1" colspan="1">Alt
            </th>
            <th tabindex="0" rowspan="1" colspan="1">Title
            </th>
            <th tabindex="0" rowspan="1" colspan="1">Uploaded
            </th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="image in images">
            <td>
                <input name="select-product" ng-model="fake" ng-change="toggleSelected(accessors.getId(image))" type="checkbox" />
            </td>
            <td>
                <img class="img-responsive product-img" src="/media/{{image.path}}" />
            </td>
            <td>/media/{{image.path}}</td>
            <td class="">{{image.alt}}</td>
            <td class="center">{{image.title}}</td>
            <td>{{image.uploaded_on | date}}</td>
        </tr>

        </tbody>
    </table>

    <ng-include src="'/partials/includes/pagination.html'"></ng-include>
</div>

</div>
</div>
</div>

</section>

