<section id="datatables">
    <div id="wrapper">
        <ng-include src="'/partials/includes/nav.html'"></ng-include>

        <!-- Content -->
        <div id="content">
            <div class="menubar">
                <div class="sidebar-toggler visible-xs">
                    <i class="ion-navicon"></i>
                </div>

                <div class="page-title">
                    {{item_count}} Howtos

                    <span>|| {{published_howtos}} published</span>
                    <small class="pull-right">
                        <a class="btn btn-danger" href="#/howto/new">Create HowTo</a>
                    </small>
                </div>
            </div>

            <div class="content-wrapper">

                <p>
                    <select ng-show="hasPermission(['admin'])" ng-model="action" ng-change="performAction()">
                        <option>Actions</option>
                        <option value="delete">Delete</option>
                    </select>

                <form class="form-inline pull-right">
                    <div class="form-group">
                        <input type="text" class="form-control" ng-model="query" name="query">
                        <a ng-click="search()" class="btn btn-primary btn-sm">Search</a>
                        <p></p>
                    </div>
                </form>
                </p>

                <table class="table">
                    <thead>
                    <tr>
                        <th ng-show="hasPermission(['admin'], currentUser.role)" tabindex="0" rowspan="1" colspan="1">#
                        </th>
                        <th tabindex="0" rowspan="1" colspan="1">Title
                        </th>
                        <th tabindex="0" rowspan="1" colspan="1">Slug
                        </th>
                        <th tabindex="0" rowspan="1" colspan="1">Category
                        </th>
                        <th tabindex="0" rowspan="1" colspan="1">Meta title
                        </th>
                        <th tabindex="0" rowspan="1" colspan="1">Status
                        </th>
                        <th tabindex="0" rowspan="1" colspan="1">Published by</th>
                        <th tabindex="0" rowspan="1" colspan="1">Published on</th>
                        <th tabindex="0" rowspan="1" colspan="1">Preview
                        </th>
                    </tr>
                    </thead>


                    <tbody>
                    <tr ng-repeat="h in howtos">
                        <td ng-show="hasPermission(['admin'], currentUser.role)">
                            <input ng-model="fake" name="select-product" ng-change="toggleSelected(accessors.getId(h))" type="checkbox" />
                        </td>
                        <td>
                            <a href="#/howto/edit/{{accessors.getId(h)}}">{{h.title}}</a>
                        </td>
                        <td>{{h.slug}}</td>
                        <td>{{h.category.name}}</td>
                        <td class="">{{h.meta_title}}</td>
                        <td>{{h.status}}</td>
                        <td>{{h.created_by.first_name}}{{h.created_by.last_name}}</td>
                        <td>{{h.published_on|date}}</td>
                        <td class="center"><a target="_blank" href="http://howto.bestprices.ng/{{h.slug}}"><span class="fa fa-anchor" title="Preview"></span></a></td>
                    </tr>





                    </tbody>

                </table>

                <ng-include src="'/partials/includes/pagination.html'"></ng-include>



            </div>

        </div>


    </div>


</section>

