<block-ui></block-ui>
<section id="form">
    <div id="wrapper">
        <ng-include src="'/partials/includes/nav.html'"></ng-include>

        <div id="content">
            <div class="menubar">
                <div class="sidebar-toggler visible-xs">
                    <i class="ion-navicon"></i>
                </div>

                <div class="page-title">
                    Edit How To
                </div>
            </div>

            <div class="content-wrapper">
                <ng-include src="'/partials/includes/alert.html'"></ng-include>
                <form id="new-customer" class="form-horizontal" name="editForm" role="form">
                    <div class="form-group">
                        <label class="col-sm-2 col-md-2 control-label">Title*</label>
                        <div class="col-sm-10 col-md-8">
                            <input type="text" class="form-control" name="title" ng-required="true" ng-model="howto.title" />
                            <small class="text-danger" ng-show="editForm.title.$error.required">Title is required</small>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 col-md-2 control-label">Slug*</label>
                        <div class="col-sm-10 col-md-8">
                            <input type="text" disabled class="form-control" name="slug" ng-model="howto.slug" ng-required="true" />
                            <small class="text-danger" ng-show="editForm.title.$error.required">Title is required</small>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 col-md-2 control-label">Thumbnail*</label>
                        <div class="col-sm-10 col-md-8">
                            <input type="text" ng-model="howto.thumbnail" ng-required="true" class="form-control" name="thumbnail" />
                            <small class="text-danger" ng-show="editForm.thumbnail.$error.required">Thumbnail is required</small>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 col-md-2 control-label">Meta title*</label>
                        <div class="col-sm-10 col-md-8">
                            <input type="text" class="form-control" ng-model="howto.meta_title" ng-required="true" name="meta_title" />
                            <small class="text-danger" ng-show="editForm.meta_title.$error.required">Meta title is required</small>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 col-md-2 control-label">Meta description*</label>
                        <div class="col-sm-10 col-md-8">
                            <div class="has-feedback">
                                <textarea rows="4" name="meta_description" ng-model="howto.meta_description" ng-required="true" class="form-control"></textarea>
                                <small class="text-danger" ng-show="editForm.title.$error.required">Meta description is required</small>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 col-md-2 control-label">Summary</label>
                        <div class="col-sm-10 col-md-8">
                            <div class="has-feedback">
                                <textarea rows="4" name="summary" ng-required="true" ng-model="howto.summary" class="form-control"></textarea>
                                <small class="text-danger" ng-show="editForm.summary.$error.required">Summary is required</small>
                            </div>
                        </div>
                    </div>


                    <div class="">
                        <div class="form-group">
                            <label class="col-sm-2 col-md-2 control-label">Category*</label>
                            <div class="col-md-8">
                                <select name="category" ng-model="howto.category" ng-required="true" class="form-control">
                                    <option ng-repeat="c in categories" ng-selected="howto.category == accessors.getId(c)" value="{{accessors.getId(c)}}">{{c.name}}</option>

                                </select>
                                <small class="text-danger" ng-show="editForm.category.$error.required">Category is required</small>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 col-md-2 control-label">Tags</label>
                            <div class="col-sm-10 col-md-8">
                                <div class="has-feedback">
                                    <input type="text" name="tags" ng-model="howto.tags"  class="form-control">
                                    <small>seperate multiple tags with ','</small>
                                </div>
                            </div>
                        </div>


                    </div>


                    <div class="form-group" ng-repeat="step in howto.steps">
                        <label class="col-md-2">Item</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control" ng-model="step.title" placeholder="title">
                            <br>
                            <textarea ui-tinymce="tinymceOptions" ng-model="step.content" style="height: 600px;" placeholder="content"></textarea>
                        </div>
                        <br>
                        <div class="col-md-12">
                            <button class="btn-warning btn" ng-click="addNewItem($index)">Add New Item Here</button>
                        </div>

                    </div>




                    <div class="form-group form-actions">
                        <div class="col-sm-offset-2 col-sm-10">
                           <div ng-switch on="howto.status">
                               <div ng-switch-when="published">

                                   <!--<a href="form.html" class="btn btn-default">Cancel</a>-->
                                   <!--<button ng-click="editHowTo(draft)" type="submit" class="btn btn-default">Save as draft</button>-->
                                   <button ng-click="editHowTo(published)" type="submit" class="btn btn-success">Publish howto</button>
                                   <a target="_blank" class="btn btn-sm" href="http://howto.bestprices.ng/{{howto.slug}}"><span class="fa fa-anchor" title="Preview"></span></a>


                               </div>

                               <div ng-switch-default>
                                   <!--<a href="form.html" class="btn btn-default">Cancel</a>-->
                                   <button ng-click="editHowTo(draft)" type="submit" class="btn btn-default">Save as draft</button>
                                   <button ng-show="hasPermission(['admin', 'qc manager'], currentUser.role)" ng-click="editHowTo(published)" type="submit" class="btn btn-success">Publish howto</button>
                                   <a target="_blank" class="btn btn-sm" href="http://howto.bestprices.ng/{{howto.slug}}"><span class="fa fa-anchor" title="Preview"></span></a>



                               </div>

                           </div>

                        </div>
                    </div>
                </form>


            </div>
        </div>
    </div>
</section>