<block-ui></block-ui>
<section id="form">
<div id="wrapper">
    <ng-include src="'/partials/includes/nav.html'"></ng-include>

    <div id="content">
        <div class="menubar">
            <div class="sidebar-toggler visible-xs">
                <i class="ion-navicon"></i>
            </div>

            <div class="page-title">
                New How To
                <!--<small class="hidden-xs">-->
                <!--<strong>This form has validation</strong>-->
                <!--</small>-->
            </div>
        </div>

        <div class="content-wrapper">
            <ng-include src="'/partials/includes/alert.html'"></ng-include>
            <form id="new-customer" class="form-horizontal" name="howtoForm" role="form">
                <div class="form-group">
                    <label class="col-sm-2 col-md-2 control-label">Title*</label>
                    <div class="col-sm-10 col-md-8">
                        <input type="text" class="form-control" name="title" ng-required="true" ng-model="howto.title" />
                        <small class="text-danger" ng-show="howtoForm.title.$error.required">Title is required</small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 col-md-2 control-label">Slug*</label>
                    <div class="col-sm-10 col-md-8">
                        <input type="text" slug from="howto.title" disabled class="form-control" name="slug" ng-model="howto.slug" ng-required="true" />
                        <small class="text-danger" ng-show="howtoForm.title.$error.required">Title is required</small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 col-md-2 control-label">Thumbnail*</label>
                    <div class="col-sm-10 col-md-8">
                        <input type="text" ng-model="howto.thumbnail" ng-required="true" class="form-control" name="thumbnail" />
                        <small class="text-danger" ng-show="howtoForm.thumbnail.$error.required">Thumbnail is required</small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 col-md-2 control-label">Meta title*</label>
                    <div class="col-sm-10 col-md-8">
                        <!--<input type="text" class="form-control" ng-model="howto.meta_title" ng-required="true" name="meta_title" />-->
                        <custom-textarea rows="2" min-characters="50" max-characters="60" ng-required="true" name="meta_title" ng-model="howto.meta_title" from="howto.title"></custom-textarea>
                        <small class="text-danger" ng-show="howtoForm.meta_title.$error.required">Meta title is required</small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 col-md-2 control-label">Meta description*</label>
                    <div class="col-sm-10 col-md-8">
                        <div class="has-feedback">
                            <!--<textarea rows="4" name="meta_description" ng-model="howto.meta_description" ng-required="true" class="form-control"></textarea>-->
                            <custom-textarea rows="4" name="meta_description" min-characters="160" max-characters="160" ng-model="howto.meta_description" name="meta_description" ng-required="true"></custom-textarea>
                            <small class="text-danger" ng-show="howtoForm.title.$error.required">Meta description is required</small>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 col-md-2 control-label">Summary</label>
                    <div class="col-sm-10 col-md-8">
                        <div class="has-feedback">
                            <!--<textarea rows="4" name="summary" ng-required="true" ng-model="howto.summary" class="form-control"></textarea>-->
                            <custom-textarea rows="4" name="summary" ng-model="howto.summary" ng-required="true" min-characters="270" max-characters="300"></custom-textarea>
                            <small class="text-danger" ng-show="howtoForm.summary.$error.required">Summary is required</small>
                        </div>
                    </div>
                </div>


                <div class="">
                    <div class="form-group">
                        <label class="col-sm-2 col-md-2 control-label">Category*</label>
                        <div class="col-md-8">
                            <select name="category" ng-model="howto.category" ng-required="true" class="form-control">
                                <option ng-repeat="c in categories" value="{{accessors.getId(c)}}">{{c.name}}</option>

                            </select>
                            <small class="text-danger" ng-show="howtoForm.category.$error.required">Category is required</small>
                        </div>
                    </div>






                    <div class="form-group">
                        <label class="col-sm-2 col-md-2 control-label">Tags</label>
                        <div class="col-sm-10 col-md-8">
                            <div class="has-feedback">
                                <input type="text" name="tags" ng-model="howto.tags"  class="form-control">
                                <small>seperate multiple tags with ','</small>
                            </div>
                        </div>
                    </div>


                </div>


                <div class="form-group">
                    <label class="col-md-2">New Item</label>
                    <div class="col-md-8">
                        <input type="text" class="form-control" ng-model="item.title" placeholder="title">
                        <br>
                        <textarea ui-tinymce="tinymceOptions" ng-model="item.content" style="height: 600px;" placeholder="content"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2"> </label>
                    <div class="col-md-8">
                        <a class="btn btn-lg btn-danger" ng-click="addItem()">Add Item</a>

                    </div>
                </div>



                <div class="form-group form-actions">
                    <div class="col-sm-offset-2 col-sm-10">
                        <!--<a href="form.html" class="btn btn-default">Cancel</a>-->
                        <button ng-click="createHowTo(draft)" type="submit" class="btn btn-default">Save as draft</button>
                        <button ng-show="hasPermission(['admin', 'qc manager'], currentUser.role)" ng-click="createHowTo(published)" type="submit" class="btn btn-success">Publish howto</button>
                    </div>
                </div>
            </form>

            <div class="howto-preview form-group">
                <label class="col-md-2"></label>
                <div class="col-md-8">
                    <article ng-repeat="step in howto.steps">
                        <h2>{{step.title}}</h2>
                        <div ng-bind-html="step.content"></div>
                    </article>
                </div>
            </div>
        </div>
    </div>
</div>
</section>