<block-ui></block-ui>
<section id="form">
    <div id="wrapper">
        <ng-include src="'/partials/includes/nav.html'"></ng-include>

        <div id="content">
            <div class="menubar">
                <div class="sidebar-toggler visible-xs">
                    <i class="ion-navicon"></i>
                </div>

                <div class="page-title">
                    Edit landing page

                </div>
            </div>

            <div class="content-wrapper">
                <ng-include src="'/partials/includes/alert.html'"></ng-include>


                <form class="form-horizontal col-md-8" name="editForm">
                    <div class="form-group">
                        <label class="col-md-2">Title</label>
                        <div class="col-md-10">
                            <input ng-model="landing_page.title" name="name" ng-required="true" class="form-control" type="text">
                            <small class="text-danger" ng-show="editForm.title.$error.required">Title is required</small>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-2">Slug</label>
                        <div class="col-md-10">
                            <input ng-model="landing_page.slug" name="slug" ng-required="true" class="form-control" type="text">
                            <small class="text-danger" ng-show="editForm.slug.$error.required">Slug is required</small>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2">Meta title</label>
                        <div class="col-md-10">
                            <input class="form-control" name="slug" ng-model="landing_page.meta_title" ng-required="true" type="text">
                            <small class="text-danger" ng-show="editForm.meta_title.$error.required">Meta title is required</small>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2">Meta description</label>
                        <div class="col-md-10">
                            <input class="form-control" name="meta_description" ng-model="landing_page.meta_description" ng-required="true" type="text">
                            <small class="text-danger" ng-show="editForm.meta_description.$error.required">Meta description is required</small>
                            <!--<small class="text-danger" ng-show="editForm.parent.$error.required">Category is required</small>-->
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2">Description*</label>
                        <div class="col-md-10">
                            <textarea rows="5" cols="20" ng-model="landing_page.description" name="description" class="form-control"></textarea>
                            <small class="text-danger" ng-show="editForm.description.$error.required">Description is required</small>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2">Banner url</label>
                        <div class="col-md-10">
                            <input ng-model="landing_page.banner" name="banner"  class="form-control" type="text">
                            
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2">Mobile Banner url</label>
                        <div class="col-md-10">
                            <input ng-model="landing_page.mobile_banner" name="mobile_banner"  class="form-control" type="text">
                            
                        </div>
                    </div>
                    
			

                    <div class="form-group">
                        <label class="col-md-2"></label>
                        <div class="col-md-2">
                            <button ng-click="save('draft')" class="btn btn-warning">Save draft</button>
                        </div>
                        <div class="col-md-10">
                            <button ng-click="save('published')" class="btn btn-primary">Publish</button>
                        </div>
                    </div>

                </form>

                <table class="table">
                    <tr>
                        <td>Image</td>
                        <td>Name</td>
                        <td>Offers</td>
                        <td>Lowest Price</td>
                        <td>Status</td>
                        <td>Remove</td>
                    </tr>

                    <tr ng-repeat="product in landing_page.products">
                        <td><img src="{{product.photos[0]}}" style="width:100px;"/></td>
                        <td><a href="/{{product.slug}}" target="_blank">{{product.title}}</a></td>
                        <td>{{product.offers.length}}</td>
                        <td>N{{returnLowestPrice(product.offers)}}</td>
                        <td>{{product.status}}</td>
                        <td><button ng-click="remove($index)" class="btn btn-danger">Remove</button></td>
                    </tr>
                </table>
                
            </div>

            <hr/>
            <!-- search offers to add-->
            <div class="col-md-12">
                    <form class="form-inline">
                      <div class="form-group">
                        <input type="text" ng-model="query" class="form-control" id="exampleInputName2" placeholder="Product title">
                      </div>
                     
                      <button ng-click="search()" class="btn btn-default">Search</button>
                    </form>
                    <table class="table">
                        <tr>
                            <td>Image</td>
                            <td>Name</td>
                            <td>Offers</td>
                            <td>Status</td>
                            <td>Add</td>

                        </tr>

                        <tr ng-repeat="product in search_results">
                            <td><img src="{{product.photos[0]}}" style="width:100px;"/></td>
                            <td><a href="/{{product.slug}}" target="_blank">{{product.title}}</a></td>
                            <td>{{product.offers.length}}</td>
                            <td>{{product.status}}</td>
                            <td><button ng-click="addProduct($index)" class="btn btn-primary">Add</button></td>
                        </tr>
                    </table>
                </div>
        </div>
    </div>
</section>
