<block-ui></block-ui>
<section id="datatables">
<div id="wrapper">
<ng-include src="'/partials/includes/nav.html'"></ng-include>

<!-- Content -->
<div id="content">
<div class="menubar">
    <div class="sidebar-toggler visible-xs">
        <i class="ion-navicon"></i>
    </div>

    <div class="page-title">
       {{item_count}} Landing pages
        <a href="#/landing_page/new" class="btn btn-danger">New landing page</a>
    </div>
</div>

<div class="content-wrapper">

<table class="table">
<thead>
<tr>
    <th tabindex="0" rowspan="1" colspan="1">Title
    </th>
    <th tabindex="0" rowspan="1" colspan="1">Slug
    </th>
    <th tabindex="0" rowspan="1" colspan="1">Meta title
    </th>
    <th tabindex="0" rowspan="1" colspan="1">Meta description
    </th>
    <th tabindex="0" rowspan="1" colspan="1">Number of products
    </th>
    <th tabindex="0" rowspan="1" colspan="1">Page views
    </th>
    <th tabindex="0" rowspan="1" colspan="1">Status
    </th>
    <th tabindex="0" rowspan="1" colspan="1">View
    </th>
</tr>
</thead>


<tbody>
<tr ng-repeat="page in landing_pages">

    <td><a href="#/landing_page/edit/{{accessors.getId(page)}}">{{page.title}}</a></td>
    <td>{{page.slug}}</td>
    <td>{{page.meta_title}}</td>
    
    <td>{{page.meta_description}}</td>
    <td class="">{{page.products.length}}</td>
    <td class="center">{{page.page_views}}</td>
    <td>{{page.status}}</td>
    <td><a target="_blank" href="/pg/{{page.slug}}">View</a></td>
</tr>





</tbody>



</table>

    <ul class="pagination">
        <li ng-click="paginate(previous)">
            <span aria-hidden="true">&laquo; Previous</span>
        </li>
        <li>
            <span ng-click="paginate(next)" aria-hidden="true">Next &raquo;</span>
        </li>
    </ul>

</div>

</div>


</div>


</section>
