<block-ui></block-ui>
<section id="form">
    <div id="wrapper">
        <ng-include src="'/partials/includes/nav.html'"></ng-include>

        <div id="content">
            <div class="menubar">
                <div class="sidebar-toggler visible-xs">
                    <i class="ion-navicon"></i>
                </div>

                <div class="page-title">
                    New landing page

                </div>
            </div>

            <div class="content-wrapper">
                <ng-include src="'/partials/includes/alert.html'"></ng-include>


                <form class="form-horizontal col-md-8" name="editForm">
                    <div class="form-group">
                        <label class="col-md-2">Title</label>
                        <div class="col-md-10">
                            <input ng-model="landing_page.title" name="name" ng-required="true" class="form-control" type="text">
                            <small class="text-danger" ng-show="editForm.title.$error.required">Title is required</small>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2">Slug</label>
                        <div class="col-md-10">
                            <input slug disabled from="landing_page.title" ng-model="landing_page.slug" name="slug" ng-required="true" class="form-control" type="text">
                            <small class="text-danger" ng-show="editForm.slug.$error.required">Slug is required</small>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2">Meta title</label>
                        <div class="col-md-10">
                            <input class="form-control" name="slug" ng-model="landing_page.meta_title" ng-required="true" type="text">
                            <small class="text-danger" ng-show="editForm.meta_title.$error.required">Meta title is required</small>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2">Meta description</label>
                        <div class="col-md-10">
                            <input class="form-control" name="meta_description" ng-model="landing_page.meta_description" ng-required="true" type="text">
                            <small class="text-danger" ng-show="editForm.meta_description.$error.required">Meta description is required</small>
                            <!--<small class="text-danger" ng-show="editForm.parent.$error.required">Category is required</small>-->
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2">Description</label>
                        <div class="col-md-10">
                            <textarea rows="5" cols="20" ng-model="landing_page.description" name="description" class="form-control"></textarea>
                            <small class="text-danger" ng-show="editForm.description.$error.required">Description is required</small>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2">Banner url</label>
                        <div class="col-md-10">
                            <input ng-model="landing_page.banner" name="banner"  class="form-control" type="text">
                            
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-2">Mobile Banner url</label>
                        <div class="col-md-10">
                            <input ng-model="landing_page.mobile_banner" name="mobile_banner"  class="form-control" type="text">
                            
                        </div>
                    </div>
                    
			

                    <div class="form-group">
                        <label class="col-md-2"></label>
                        <div class="col-md-2">
                            <button ng-click="create()" class="btn btn-warning">create</button>
                        </div>
                        
                    </div>

                </form>

               
                
            </div>

         
            
        </div>
    </div>
</section>
