<block-ui></block-ui>
<section id="datatables">
    <div id="wrapper">
        <ng-include src="'/partials/includes/nav.html'"></ng-include>

        <!-- Content -->
        <div id="content">
            <div class="menubar">
                <div class="sidebar-toggler visible-xs">
                    <i class="ion-navicon"></i>
                </div>

                <div class="page-title">
                    Links
                    <small>
                        <a href="#/link/new" class="btn btn-danger">New Link</a>
                    </small>
                </div>
            </div>

            <div class="content-wrapper">

                <p>
                    <select ng-show="hasPermission(['admin'])" ng-model="action" ng-change="performAction()">
                        <option>Actions</option>
                        <option value="delete">Delete</option>
                    </select>

                <form class="form-inline pull-right">
                    <div class="form-group">
                        <input type="text" class="form-control" ng-model="query" name="query">
                        <a ng-click="search()" class="btn btn-primary btn-sm">Search</a>
                        <p></p>
                    </div>
                </form>
                </p>

                <table class="table">
                    <thead>
                    <tr>
                        <th ng-show="hasPermission(['admin'], currentUser.role)" tabindex="0" rowspan="1" colspan="1">
                            #
                        </th>
                        <th tabindex="0" rowspan="1" colspan="1">Title
                        </th>
                        <th tabindex="0" rowspan="1" colspan="1">Url
                        </th>
                        <th tabindex="0" rowspan="1" colspan="1">External
                        </th>
                        <th tabindex="0" rowspan="1" colspan="1">Group
                        </th>


                    </tr>
                    </thead>


                    <tbody>
                    <tr ng-repeat="link in links">
                        <td ng-show="hasPermission(['admin'], currentUser.role)">
                            <input ng-model="fake" name="select-product" ng-change="toggleSelected(accessors.getId(link))" type="checkbox" />
                        </td>
                        <td>
                            <a href="#/link/edit/{{accessors.getId(link)}}">{{link.title}}</a>
                        </td>
                        <td><a href="{{link.url}}">{{link.url}}</a></td>
                        <td>{{link.external}}</td>
                        <td class="">{{link.group}}</td>

                    </tr>





                    </tbody>

                </table>

                <ng-include src="'/partials/includes/pagination.html'"></ng-include>

            </div>

        </div>


    </div>


</section>

