<block-ui></block-ui>
<section id="form">
    <div id="wrapper">
        <ng-include src="'/partials/includes/nav.html'"></ng-include>

        <div id="content">
            <div class="menubar">
                <div class="sidebar-toggler visible-xs">
                    <i class="ion-navicon"></i>
                </div>

                <div class="page-title">
                    Add a new link

                </div>
            </div>

            <div class="content-wrapper">
                <ng-include src="'/partials/includes/alert.html'"></ng-include>
                <form class="form-horizontal col-md-8" name="linkForm">
                    <div class="form-group">
                        <label class="col-md-2">Title</label>
                        <div class="col-md-10">
                            <input ng-model="new_link.title" name="title" ng-required="true" class="form-control" type="text">
                            <small class="text-danger" ng-show="linkForm.title.$error.required">Title is required</small>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2">Url</label>
                        <div class="col-md-10">
                            <input class="form-control" name="url" ng-model="new_link.url" ng-required="true" type="text">
                            <small class="text-danger" ng-show="linkForm.url.$error.required">Url is required</small>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2">External</label>
                        <div class="col-md-10">
                            <input type="checkbox" name="external" ng-model="new_link.external" >

                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2">Group</label>
                        <div class="col-md-10">
                            <input type="text" class="form-control" ng-model="new_link.group">

                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-2">Meta title</label>
                        <div class="col-md-10">
                            <!--<input type="text" class="form-control" ng-model="new_link.meta_title">-->
                            <custom-textarea ng-model="new_link.meta_title" rows="2" name="meta_title" min-characters="50" max-characters="60"></custom-textarea>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-2">Meta description</label>
                        <div class="col-md-10">
                            <!--<textarea class="form-control" rows="5" ng-model="new_link.meta_description"></textarea>-->
                            <custom-textarea rows="4" name="meta_description" ng-model="new_link.meta_description" min-characters="160" max-characters="160"></custom-textarea>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-2"></label>
                        <div class="col-md-10">
                            <button ng-click="createLink()" class="btn btn-primary">Save</button>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</section>