<block-ui></block-ui>
<section id="signin" class="body" style="border: 1px solid #5A7A9E;">

<a href="" class="logo">
    <!--<i class="brankic-pen"></i>-->
    <img src="/images/bestprices.png">
</a>

<!--<h3>Welcome back!</h3>-->

<div class="content">
    <ng-include src="'/partials/includes/alert.html'"></ng-include>
    <form name="loginForm" ng-submit="login()">
        <small class="text-danger">{{message}}</small>
        <div class="fields">
            <strong>Email address</strong>
            <input class="form-control" ng-model="credentials.email" name="email" ng-required="true" type="text" placeholder="Your email" />
            <small class="text-danger" ng-show="loginForm.email.$error.required">Email is required</small>
        </div>
        <div class="fields">
            <strong>Password</strong>
            <input class="form-control" ng-model="credentials.password" name="password" ng-required="true" type="password" placeholder="Password" />
            <small class="text-danger" ng-show="loginForm.password.$error.required">Password is required</small>
        </div>

        <div class="actions">
            <input type="submit" class="btn btn-primary btn-lg" value="Sign In to your account">
        </div>
    </form>
</div>

<div class="bottom-wrapper">
    <!--<div class="message">-->
        <!--&lt;!&ndash;<span>Don't have an account?</span>&ndash;&gt;-->
        <!--&lt;!&ndash;<a href="signup.html">Sign up here</a>.&ndash;&gt;-->
    <!--</div>-->
</div>

<script type="text/javascript">
    $(function () {
        var $switcher = $(".signup-switcher a");
        $switcher.click(function (e) {
            e.preventDefault();
            $switcher.removeClass("active");
            $(this).addClass("active");
//            alert($(this).data("class"));
            $(".body").attr("class", $(this).data("class"));
        });
    });
</script>
</section>