<block-ui></block-ui>
<section id="form">
    <div id="wrapper">
        <ng-include src="'/partials/includes/nav.html'"></ng-include>

        <div id="content">
            <div class="menubar">
                <div class="sidebar-toggler visible-xs">
                    <i class="ion-navicon"></i>
                </div>

                <div class="page-title">
                    Edit manufacturer
                </div>
            </div>

            <div class="content-wrapper">
                <ng-include src="'/partials/includes/alert.html'"></ng-include>
                <form id="new-customer" class="form-horizontal" name="editForm" role="form">
                    <div class="form-group">
                        <label class="col-sm-2 col-md-2 control-label">Name*</label>
                        <div class="col-sm-10 col-md-8">
                            <input type="text" class="form-control" name="name" ng-model="manufacturer.name" ng-required="true" />
                            <small class="text-danger" ng-show="editForm.name.$error.required">Name is required</small>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 col-md-2 control-label">Slug*</label>
                        <div class="col-sm-10 col-md-8">
                            <input type="text" name="slug" ng-required="true" ng-model="manufacturer.slug" class="form-control" name="slug" />
                            <small class="text-danger" ng-show="editForm.slug.$error.required">Slug is required</small>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 col-md-2 control-label">Meta title*</label>
                        <div class="col-sm-10 col-md-8">
                            <input type="text" ng-required="true" class="form-control" ng-model="manufacturer.meta_title" name="meta_title" />
                            <small class="text-danger" ng-show="editForm.meta_title.$error.required">Meta title is required</small>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 col-md-2 control-label">Logo</label>
                        <div class="col-sm-10 col-md-8">
                            <input type="text" class="form-control" ng-model="manufacturer.logo" name="logo" />
                            <!--<small class="text-danger" ng-show="editForm.logo.$error.required">Logo is required</small>-->
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 col-md-2 control-label">Founded</label>
                        <div class="col-sm-10 col-md-8">
                            <input type="text" ng-model="manufacturer.founded" class="form-control" name="" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 col-md-2 control-label">Description*</label>
                        <div class="col-sm-10 col-md-8">
                            <!--<textarea></textarea>-->
                            <!--<text-angular></text-angular>-->
                            <textarea ui-tinymce ng-model="manufacturer.about" ng-required="true" name="about" style="height: 600px;"></textarea>
                            <small class="text-danger" ng-show="editForm.about.$error.required">Description is required</small>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 col-md-2 control-label">Meta description*</label>
                        <div class="col-sm-10 col-md-8">
                            <div class="has-feedback">
                                <textarea rows="4" ng-required="true" name="meta_description" ng-model="manufacturer.meta_description" class="form-control"></textarea>
                                <small class="text-danger" ng-show="editForm.meta_description.$error.required">Meta description is required</small>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 col-md-2 control-label">Wikipedia</label>
                        <div class="col-sm-10 col-md-8">
                            <div class="has-feedback">
                                <input type="text" name="wikipedia" ng-model="manufacturer.wikipedia" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 col-md-2 control-label">Official Website</label>
                        <div class="col-sm-10 col-md-8">
                            <div class="has-feedback">
                                <input type="text" ng-model="manufacturer.website" class="form-control">
                            </div>
                        </div>
                    </div>




                    <div class="form-group form-actions">
                        <div class="col-sm-offset-2 col-sm-10">
                            <!--<a href="form.html" class="btn btn-default">Cancel</a>-->
                            <button type="submit" ng-click="editManufacturer()" class="btn btn-success">Save</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

</section>