<block-ui></block-ui>
<section id="form">
<div id="wrapper">
    <ng-include src="'/partials/includes/nav.html'"></ng-include>

    <div id="content">
        <div class="menubar">
            <div class="sidebar-toggler visible-xs">
                <i class="ion-navicon"></i>
            </div>

            <div class="page-title">
                Add a new manufacturer
                <!--<small class="hidden-xs">-->
                <!--<strong>This form has validation</strong>-->
                <!--</small>-->
            </div>
        </div>

        <div class="content-wrapper">
            <ng-include src="'/partials/includes/alert.html'"></ng-include>
            <form id="new-customer" class="form-horizontal" name="newManForm" role="form">
                <div class="form-group">
                    <label class="col-sm-2 col-md-2 control-label">Name*</label>
                    <div class="col-sm-10 col-md-8">
                        <input type="text" class="form-control" name="name" ng-model="new_manufacturer.name" ng-required="true" />
                        <small class="text-danger" ng-show="newManForm.name.$error.required">Name is required</small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 col-md-2 control-label">Slug*</label>
                    <div class="col-sm-10 col-md-8">
                        <input type="text" slug from="new_manufacturer.name" disabled name="slug" ng-required="true" ng-model="new_manufacturer.slug" class="form-control" name="slug" />
                        <small class="text-danger" ng-show="newManForm.slug.$error.required">Slug is required</small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 col-md-2 control-label">Meta title*</label>
                    <div class="col-sm-10 col-md-8">

                        <!--<input type="text" ng-required="true" class="form-control" ng-model="new_manufacturer.meta_title" name="meta_title" />-->
                        <custom-textarea placeholder="{{settings.placeholders.manufacturers.meta_title}}" ng-required="true" ng-model="new_manufacturer.meta_title" name="meta_title" rows="2" min-characters="50" max-characters="60"></custom-textarea>
                        <small class="text-danger" ng-show="newManForm.meta_title.$error.required">Meta title is required</small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 col-md-2 control-label">Logo</label>
                    <div class="col-sm-10 col-md-8">
                        <input type="text" class="form-control" ng-model="new_manufacturer.logo" name="logo" />
                        <!--<small class="text-danger" ng-show="newManForm.logo.$error.required">Logo is required</small>-->
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 col-md-2 control-label">Founded</label>
                    <div class="col-sm-10 col-md-8">
                        <input type="text" ng-model="new_manufacturer.founded" class="form-control" name="" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 col-md-2 control-label">Description*</label>
                    <div class="col-sm-10 col-md-8">
                        <!--<textarea></textarea>-->
                        <!--<text-angular></text-angular>-->
                        <textarea ui-tinymce ng-model="new_manufacturer.about" ng-required="true" name="about" style="height: 600px;"></textarea>
                        <small class="text-danger" ng-show="newManForm.about.$error.required">Description is required</small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 col-md-2 control-label">Meta description*</label>
                    <div class="col-sm-10 col-md-8">
                        <div class="has-feedback">
                            <!--<textarea rows="4" ng-required="true" name="meta_description" ng-model="new_manufacturer.meta_description" class="form-control"></textarea>-->
                            <custom-textarea rows="4" placeholder="{{settings.placeholders.manufacturers.meta_description}}" ng-required="true" name="meta_description" ng-model="new_manufacturer.meta_description" min-characters="160" max-characters="160"></custom-textarea>
                            <small class="text-danger" ng-show="newManForm.meta_description.$error.required">Meta description is required</small>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 col-md-2 control-label">Wikipedia</label>
                    <div class="col-sm-10 col-md-8">
                        <div class="has-feedback">
                            <input type="text" name="wikipedia" ng-model="new_manufacturer.wikipedia" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 col-md-2 control-label">Official Website</label>
                    <div class="col-sm-10 col-md-8">
                        <div class="has-feedback">
                            <input type="text" ng-model="new_manufacturer.website" class="form-control">
                        </div>
                    </div>
                </div>




                <div class="form-group form-actions">
                    <div class="col-sm-offset-2 col-sm-10">
                        <!--<a href="form.html" class="btn btn-default">Cancel</a>-->
                        <button type="submit" ng-click="createManufacturer()" class="btn btn-success">Save</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>



<!--<script type="text/javascript">-->
<!--$(function () {-->

<!--// form validation-->
<!--$('#new-customer').validate({-->
<!--rules: {-->
<!--"customer[first_name]": {-->
<!--required: true-->
<!--},-->
<!--"customer[email]": {-->
<!--required: true,-->
<!--email: true-->
<!--},-->
<!--"customer[address]": {-->
<!--required: true-->
<!--},-->
<!--"customer[notes]": {-->
<!--required: true-->
<!--}-->
<!--},-->
<!--highlight: function (element) {-->
<!--$(element).closest('.form-group').removeClass('success').addClass('error');-->
<!--},-->
<!--success: function (element) {-->
<!--element.addClass('valid').closest('.form-group').removeClass('error').addClass('success');-->
<!--}-->
<!--});-->

<!--// tags with select2-->
<!--$("#customer-tags").select2({-->
<!--placeholder: 'Select tags or add new ones',-->
<!--tags:["supplier", "lead", "client", "friend", "developer", "customer"],-->
<!--tokenSeparators: [",", " "]-->
<!--});-->

<!--// masked input example using phone input-->
<!--$(".mask-phone").mask("(999) 999-9999");-->
<!--$(".mask-cc").mask("9999 9999 9999 9999");-->
<!--});-->
<!--</script>-->
</section>