<block-ui></block-ui>
<section id="form">
<div id="wrapper">
    <ng-include src="'/partials/includes/nav.html'"></ng-include>

    <div id="content">
        <div class="menubar">
            <div class="sidebar-toggler visible-xs">
                <i class="ion-navicon"></i>
            </div>

            <div class="page-title">
                Add a new product
                <!--<small class="hidden-xs">-->
                <!--<strong>This form has validation</strong>-->
                <!--</small>-->
            </div>
        </div>

        <div class="content-wrapper">
            <ng-include src="'/partials/includes/alert.html'"></ng-include>

            <form id="new-customer" class="form-horizontal" name="editForm" role="form">
                <div class="form-group">
                    <label class="col-sm-2 col-md-2 control-label">Title*</label>
                    <div class="col-sm-10 col-md-8">
                        <input type="text" class="form-control" ng-required="true" name="title" ng-model="product.title" />
                        <small class="text-danger" ng-show="editForm.title.$error.required">Title is required</small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 col-md-2 control-label">Slug*</label>
                    <div class="col-sm-10 col-md-8">
                        <input type="text" disabled class="form-control" ng-model="product.slug" ng-required="true" name="slug" />
                        <small class="text-danger" ng-show="editForm.slug.$error.required">Slug is required</small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 col-md-2 control-label">Meta title*</label>
                    <div class="col-sm-10 col-md-8">
                        <input type="text" class="form-control" ng-model="product.meta_title" name="meta_title" />
                        <small class="text-danger" ng-show="editForm.meta_title.$error.required">Meta title is required</small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 col-md-2 control-label">Description*</label>
                    <div class="col-sm-10 col-md-8">

                        <textarea ui-tinymce ng-model="product.description" name="description" style="height: 600px;"></textarea>
                        <small class="text-danger" ng-show="editForm.description.$error.required">Description is required</small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 col-md-2 control-label">Meta description*</label>
                    <div class="col-sm-10 col-md-8">
                        <div class="has-feedback">
                            <textarea rows="4" name="meta_description" ng-model="product.meta_description" class="form-control"></textarea>
                            <small class="text-danger" ng-show="editForm.meta_description.$error.required">Meta description is required</small>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 col-md-2 control-label">Features summary</label>
                    <div class="col-sm-10 col-md-8">
                        <div class="has-feedback">
                            <textarea rows="4" class="form-control" name="features_summary" ng-model="product.features_summary"></textarea>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 col-md-2 control-label">summary</label>
                    <div class="col-sm-10 col-md-8">
                        <div class="has-feedback">
                            <textarea rows="4" class="form-control" name="summary" ng-model="product.summary"></textarea>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 col-md-2 control-label">Wikipedia</label>
                    <div class="col-sm-10 col-md-8">
                        <div class="has-feedback">
                            <input type="text" ng-model="product.wikipedia" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 col-md-2 control-label">Official Website</label>
                    <div class="col-sm-10 col-md-8">
                        <div class="has-feedback">
                            <input type="text" ng-model="product.official_website" class="form-control">
                        </div>
                    </div>
                </div>

                <div class="">
                    <div class="form-group">
                        <label class="col-sm-2 col-md-2 control-label">Category*</label>
                        <div class="col-md-8">
                            <select name="category" ng-model="product.category" class="form-control">
                                <option ng-repeat="cat in categories" value="{{accessors.getId(cat)}}" ng-selected="accessors.getId(cat) == product.category">{{cat.name}}</option>
                                <small class="text-danger" ng-show="editForm.category.$error.required">Category is required</small>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 col-md-2 control-label">Manufacturer*</label>
                        <div class="col-md-8">
                            <select name="manufacturer" ng-model="product.manufacturer" class="form-control">
                                <option ng-repeat="man in manufacturers" value="{{accessors.getId(man)}}" ng-selected="accessors.getId(man) == product.manufacturer">{{man.name}}</option>
                                <small class="text-danger" ng-show="editForm.manufacturer.$error.required">Manufacturer is required</small>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 col-md-2 control-label">Image 1*</label>
                        <div class="col-sm-10 col-md-8">
                            <div class="has-feedback">
                                <input type="text" name="main_image" ng-model="product.photos[0]"  class="form-control">
                                <small class="text-danger" ng-show="editForm.main_image.$error.required">Image 1 must be filled</small>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 col-md-2 control-label">Image 2</label>
                        <div class="col-sm-10 col-md-8">
                            <div class="has-feedback">
                                <input type="text" ng-model="product.photos[1]" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 col-md-2 control-label">Image 3</label>
                        <div class="col-sm-10 col-md-8">
                            <div class="has-feedback">
                                <input type="text" ng-model="product.photos[2]" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 col-md-2 control-label">Image 4</label>
                        <div class="col-sm-10 col-md-8">
                            <div class="has-feedback">
                                <input type="text" ng-model="product.photos[3]" class="form-control">
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 col-md-2 control-label">Videos</label>
                        <div class="col-sm-10 col-md-8">
                            <div class="has-feedback">
                                <input ng-model="product.videos" type="text" class="form-control">
                                <small>seperate multiple link with ','</small>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 col-md-2 control-label">Tags</label>
                        <div class="col-sm-10 col-md-8">
                            <div class="has-feedback">
                                <input ng-model="product.tags" type="text" class="form-control">
                                <small>seperate multiple tags with ','</small>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 col-md-1 control-label">Featured</label>
                        <div class="col-sm-10 col-md-8">
                            <input type="checkbox" ng-model="product.is_featured">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 col-md-1 control-label">Is Hot</label>
                        <div class="col-sm-10 col-md-8">
                            <input type="checkbox" ng-model="product.is_hot">
                        </div>
                    </div>



                </div>


                <div class="form-group form-actions">
                    <div class="col-sm-offset-2 col-sm-10">
                        <!--<a href="form.html" class="btn btn-default">Cancel</a>-->
                        <button type="submit" ng-click="editProduct(draft)" class="btn btn-default">Save as draft</button>
                        <button type="submit" ng-show="hasPermission(['admin', 'qc manager'], currentUser.role)" ng-click="editProduct(published)" class="btn btn-success">Edit as published</button>
                    </div>
                </div>
            </form>

            <br/>
            <br/>
            <button class="btn btn-danger" ng-click="bulkDeleteOffers()">Bulk Delete Offers</button>
            <table class="table">
                  <thead>
                    <tr>
                        <td><strong>Store</strong></td>
                        <td><strong>State</strong></td>
                        <td><strong>Price</strong></td>

                        <td><strong>Url</strong></td>
                        <td><strong>Clicks</strong></td>
                        <td><strong>Action</strong></td>
                    </tr>
                  </thead>
                <tbody>
                    <tr ng-repeat="o in offers">
                        <td><input type="checkbox" ng-click="toggleSelectedOffer(accessors.getId(o))"></td>
                        <td><img src="{{o.store.logo}}" style="width: 70px;">{{o.store.name}}</td>
                        <td>{{o.product_state}}</td>
                        <td>{{o.price}}</td>

                        <td><a href="{{o.link}}" target="_blank">{{o.link}}</a></td>
                        <td></td>
                        <td><span ng-click="deleteOffer(accessors.getId(o))" class="fa fa-trash-o"></span></td>
                    </tr>


                </tbody>
            </table>
            <form name="offerForm">
            <table>

                <tr>
                    <td>
                        <select ng-model="new_offer.store">
                            <option ng-repeat="store in stores" ng-required="true" value="{{accessors.getId(store)}}">{{store.name}}</option>
                        </select>
                    </td>

                    <td>
                        <select ng-model="new_offer.product_state">
                            <option ng-required="true" value="New">New</option>
                            <option ng-required="true" value="Used">Used</option>
                        </select>
                    </td>

                    <td>
                        <input type="url" ng-model="new_offer.link" ng-required="true" class="form-control" placeholder="url">
                    </td>
                    <td>
                        <button ng-click="addOffer(new_offer)" class="btn btn-primary">Save offer</button>
                    </td>
                </tr>
            </table>
            </form>

            <hr>
            <form name="manualOfferForm">
                <table>
                    <tr>
                        <td>
                            <select ng-model="manual_offer.store">
                                <option ng-repeat="store in stores" value="{{accessors.getId(store)}}" ng-required="true">{{store.name}}</option>
                            </select>
                        </td>
                        <td>
                            <select ng-model="manual_offer.product_state">
                                <option ng-required="true" value="New">New</option>
                                <option ng-required="true" value="Used">Used</option>
                            </select>
                        </td>
                        <td>
                            <input ng-model="manual_offer.price" type="number" class="form-control" placeholder="price" ng-required="true" name="price">
                        </td>
                        <td>
                            <input type="url" ng-model="manual_offer.link" class="form-control" placeholder="link" ng-required="true" name="link">
                        </td>
                        <td>
                            <button ng-click="addOffer(manual_offer)" class="btn btn-warning">Add Offer</button>
                        </td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
</div>



<!--<script type="text/javascript">-->
<!--$(function () {-->

<!--// form validation-->
<!--$('#new-customer').validate({-->
<!--rules: {-->
<!--"customer[first_name]": {-->
<!--required: true-->
<!--},-->
<!--"customer[email]": {-->
<!--required: true,-->
<!--email: true-->
<!--},-->
<!--"customer[address]": {-->
<!--required: true-->
<!--},-->
<!--"customer[notes]": {-->
<!--required: true-->
<!--}-->
<!--},-->
<!--highlight: function (element) {-->
<!--$(element).closest('.form-group').removeClass('success').addClass('error');-->
<!--},-->
<!--success: function (element) {-->
<!--element.addClass('valid').closest('.form-group').removeClass('error').addClass('success');-->
<!--}-->
<!--});-->

<!--// tags with select2-->
<!--$("#customer-tags").select2({-->
<!--placeholder: 'Select tags or add new ones',-->
<!--tags:["supplier", "lead", "client", "friend", "developer", "customer"],-->
<!--tokenSeparators: [",", " "]-->
<!--});-->

<!--// masked input example using phone input-->
<!--$(".mask-phone").mask("(999) 999-9999");-->
<!--$(".mask-cc").mask("9999 9999 9999 9999");-->
<!--});-->
<!--</script>-->
</section>