<section id="search">
<div id="wrapper">
<ng-include src="'/partials/includes/nav.html'"></ng-include>
<block-ui></block-ui>
<div id="content">
<div class="menubar">
    <div class="sidebar-toggler visible-xs">
        <i class="ion-navicon"></i>
    </div>

    <div class="page-title">
        {{item_count}} Products

    </div>
    <div class="options pull-right">
        <a href="#/product/new"><i class="fa fa-plus"></i> New product</a>
        <!--<a href="#"><i class="fa fa-download"></i> Download CSV</a>-->
    </div>
</div>

<div class="content-wrapper clearfix">

<div class="filters">
    <h3 class="hidden-xs">Filters</h3>
    <form name="uploadForm">
        <div class="form-group">
            <label>Users</label>
            <select ng-model="pfilter.uploaded_by">
                <option value="">------------------------</option>
                <option ng-repeat="u in usersFilter" value="{{accessors.getId(u)}}">{{u.email}}</option>
            </select>
        </div>
        <div class="form-group">
            <label>Categories</label>
            <select ng-model="pfilter.category">
                <option value="">------------------------</option>
                <option ng-repeat="c in categoriesFilter" value="{{accessors.getId(c)}}">{{c.name}}</option>
            </select>
        </div>
        <div class="form-group">
            <label>Manufacturers</label>
            <select ng-model="pfilter.manufacturer">
                <option value="">------------------------</option>
                <option ng-repeat="m in manufacturersFilter" value="{{accessors.getId(m)}}">{{m.name}}</option>
            </select>
        </div>
        <div>
            <label>Has 0 offers</label>
            <input ng-model="filter_offer_size" type="checkbox">
        </div>
        <div class="form-group">
            <label>Date</label>
            <input ng-model="pfilter.uploaded_on" type="date">
        </div>
        <div class="form-group">
          <label>Sort by recently updated offers</label>
          <input type="checkbox" ng-model="pfilter.offers_last_updated">
        </div>

        <div class="form-group">
            <button ng-click="filterList()" class="btn btn-danger btn-sm">Filter</button>
        </div>

    </form>
</div>

<div class="results">
    <!--<ng-include src="'/partials/includes/search-action.html'"></ng-include>-->
    <p>
        <select ng-show="hasPermission(['admin'], currentUser.role)" ng-model="action" ng-change="performAction()">
            <option>Actions</option>
            <option value="delete">Delete</option>
        </select>

    <form class="form-inline pull-right">
        <div class="form-group">
            <input type="text" class="form-control" ng-model="query" name="query">
            <a ng-click="search()" class="btn btn-primary btn-sm">Search</a>
            <p></p>
        </div>
    </form>
    </p>

    <table class="table" >
        <thead>
        <tr>
            <th tabindex="0" rowspan="1" colspan="1">
                #
            </th>
            <th tabindex="0" rowspan="1" colspan="1">
                Preview
            </th>
            <th tabindex="0" rowspan="1" colspan="1">Image
            </th>
            <th tabindex="0" rowspan="1" colspan="1">Title
            </th>
            <th tabindex="0" rowspan="1" colspan="1">Status
            </th>
            <th tabindex="0" rowspan="1" colspan="1">Category
            </th>
            <th tabindex="0" rowspan="1" colspan="1">Offers
            </th>
            <th tabindex="0" rowspan="1" colspan="1">User</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="product in products">
            <td>
                <input ng-model="fake" name="select-product" ng-change="toggleSelected(accessors.getId(product))" type="checkbox" />
            </td>
            <td>
                <a target="_blank" href="/{{product.slug}}"><span class="fa fa-anchor"></span></a>
            </td>
            <td>
                <a href="#/product/edit/{{accessors.getId(product)}}"><img src="{{product.photos[0]}}" style="width:100px;"></a>
            </td>
            <td><a  href="#/product/edit/{{accessors.getId(product)}}">{{product.title}}</a></td>
            <td class="">{{product.status}}</td>
            <td class="center">{{product.category.name}}</td>
            <td class="center">{{product.offers.length}}</td>
            <td class="center">{{product.uploaded_by.first_name}} {{product.uploaded_by.last_name}}</td>
        </tr>

        </tbody>

    </table>
    <ng-include src="'/partials/includes/pagination.html'"></ng-include>
</div>

</div>
</div>
</div>

</section>

<script type="text/javascript">
    $(function () {
        var $filters = $(".filters .filter input:checkbox");

        $filters.change(function () {
            var $option = $(this).closest(".filter").find(".filter-option");

            if ($(this).is(":checked")) {
                $option.slideDown(150, function () {
                    $option.find("input:text:eq(0)").focus();
                });
            } else {
                $option.slideUp(150);
            }
        });



        $('#datatable-example').dataTable({"bPaginate": false});



    });
</script>
