<block-ui></block-ui>
<section id="form">
    <div id="wrapper">
        <ng-include src="'/partials/includes/nav.html'"></ng-include>

        <div id="content">
            <div class="menubar">
                <div class="sidebar-toggler visible-xs">
                    <i class="ion-navicon"></i>
                </div>

                <div class="page-title">
                    Add a new product
                    <!--<small class="hidden-xs">-->
                    <!--<strong>This form has validation</strong>-->
                    <!--</small>-->
                </div>
            </div>

            <div class="content-wrapper">
                <ng-include src="'/partials/includes/alert.html'"></ng-include>
                <form id="new-customer" name="productForm" class="form-horizontal"  role="form">
                    <div class="form-group">
                        <label class="col-sm-2 col-md-2 control-label">Title*</label>
                        <div class="col-sm-10 col-md-8">
                            <input type="text" ng-model="new_product.title" class="form-control" ng-required="true" name="title" />
                            <small class="text-danger" ng-show="productForm.title.$error.required">Title is required</small>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 col-md-2 control-label">Slug*</label>
                        <div class="col-sm-10 col-md-8">
                            <input type="text" slug ng-model="new_product.slug" from="new_product.title" disabled ng-required="true" class="form-control" name="slug" />
                            <small class="text-danger" ng-show="productForm.slug.$error.required">Slug is required</small>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 col-md-2 control-label">Meta title*</label>
                        <div class="col-sm-10 col-md-8">
                            <!--<input type="text" ng-model="new_product.meta_title" ng-required="true" class="form-control" name="meta_title" />-->
                            <custom-textarea display-placeholder="true" placeholder="{{settings.placeholders.product.meta_title}}" name="meta_title" rows="2" min-characters="50" max-characters="60" ng-required="true" ng-model="new_product.meta_title"></custom-textarea>
                            <small class="text-danger" ng-show="productForm.meta_title.$error.required">Meta title is required</small>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 col-md-2 control-label">Description*</label>
                        <div class="col-sm-10 col-md-8">
                            <!--<textarea></textarea>-->
                            <!--<text-angular></text-angular>-->
                            <textarea ui-tinymce name="description" ng-required="true" ng-model="new_product.description" style="height: 600px;"></textarea>
                            <small class="text-danger" ng-show="productForm.description.$error.required">Description is required</small>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 col-md-2 control-label">Meta description*</label>
                        <div class="col-sm-10 col-md-8">
                            <div class="has-feedback">
                                <!--<textarea rows="4" name="meta_description" ng-required="true" ng-model="new_product.meta_description" class="form-control"></textarea>-->
                                <custom-textarea display-placeholder="true" placeholder="{{settings.placeholders.product.meta_description}}" rows="4" min-characters="160" max-characters="160" name="meta_description" ng-model="new_product.meta_description" ng-required="true"></custom-textarea>
                                <small class="text-danger" ng-show="productForm.meta_description.$error.required">Meta description is required</small>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 col-md-2 control-label">Features summary</label>
                        <div class="col-sm-10 col-md-8">
                            <div class="has-feedback">
                                <custom-textarea rows="3" display-placeholder="false" max-characters="100" min-characters="100" ng-model="new_product.features_summary" name="features_summary" placeholder="AT - Smartphone - iOS - 4G LTE - UMTS - 4 inch screen - 8 megapixel camera - Quad-band"></custom-textarea>
                                <!--<textarea rows="4" class="form-control" name="features_summary" ng-model="new_product.features_summary"></textarea>-->
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 col-md-2 control-label">summary</label>
                        <div class="col-sm-10 col-md-8">
                            <div class="has-feedback">
                                <!--<textarea rows="4" class="form-control" name="summary" ng-model="new_product.summary"></textarea>-->
                                <custom-textarea rows="4" ng-model="new_product.summary" name="summary" max-characters="120" min-characters="120" display-placeholder="false" placeholder="Enjoy a colorful and efficient experience with the iPhone 5c, which comes in five fresh colors and two different capacities. Powered by a 1.3 GHz dual core Apple A6 processor"></custom-textarea>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 col-md-2 control-label">Wikipedia</label>
                        <div class="col-sm-10 col-md-8">
                            <div class="has-feedback">
                                <input type="text" name="wikipedia" ng-model="new_product.wikipedia" class="form-control">
                                <!--<small ng-show="productForm.title.$error.required">Title is required</small>-->
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 col-md-2 control-label">Official Website</label>
                        <div class="col-sm-10 col-md-8">
                            <div class="has-feedback">
                                <input type="text" ng-model="new_product.official_website" class="form-control">
                            </div>
                        </div>
                    </div>

                    <div class="">
                        <div class="form-group">
                            <label class="col-sm-2 col-md-2 control-label">Category*</label>
                            <div class="col-md-8">
                                <select name="category" ng-required="true" ng-model="new_product.category" class="form-control">
                                    <option ng-repeat="cat in categories_options" value="{{accessors.getId(cat)}}">{{cat.name}}</option>

                                </select>
                                <small class="text-danger" ng-show="productForm.category.$error.required">Category is required</small>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 col-md-2 control-label">Manufacturer</label>
                            <div class="col-md-8">
                                <select name="manufacturer" ng-required="true" ng-model="new_product.manufacturer" class="form-control">
                                    <option ng-repeat="man in manufacturers_options" value="{{accessors.getId(man)}}">{{man.name}}</option>
                                </select>
                                <small class="text-danger" ng-show="productForm.manufacturer.$error.required">Manufacturer is required</small>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 col-md-2 control-label">Image 1*</label>
                            <div class="col-sm-10 col-md-8">
                                <div class="has-feedback">
                                    <input type="text" name="image1" ng-model="image1" ng-required="true" class="form-control">
                                    <small class="text-danger" ng-show="productForm.image1.$error.required">Image 1 is required</small>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 col-md-2 control-label">Image 2</label>
                            <div class="col-sm-10 col-md-8">
                                <div class="has-feedback">
                                    <input type="url" ng-model="image2" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 col-md-2 control-label">Image 3</label>
                            <div class="col-sm-10 col-md-8">
                                <div class="has-feedback">
                                    <input type="text" ng-model="image3" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 col-md-2 control-label">Image 4</label>
                            <div class="col-sm-10 col-md-8">
                                <div class="has-feedback">
                                    <input type="text" ng-model="image4" class="form-control">
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 col-md-2 control-label">Videos</label>
                            <div class="col-sm-10 col-md-8">
                                <div class="has-feedback">
                                    <input ng-model="new_product.videos" type="text" class="form-control">
                                    <small>seperate multiple link with ','</small>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 col-md-2 control-label">Tags</label>
                            <div class="col-sm-10 col-md-8">
                                <div class="has-feedback">
                                    <input ng-model="new_product.tags" type="text" class="form-control">
                                    <small>seperate multiple tags with ','</small>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 col-md-1 control-label">Is Hot</label>
                            <div class="col-sm-10 col-md-8">
                                <input type="checkbox" ng-model="new_product.is_hot">
                            </div>
                        </div>

                    </div>

                    <div class="form-group form-actions">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" ng-click="createProduct(draft)" class="btn btn-default">Save as draft</button>
                            <!--<a href="form.html" class="btn btn-default">Cancel</a>-->
                            <button type="submit" ng-show="hasPermission(['admin', 'qc manager'], currentUser.role)" ng-click="createProduct(published)" class="btn btn-success">Publish product</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>



    <!--<script type="text/javascript">-->
    <!--$(function () {-->

    <!--// form validation-->
    <!--$('#new-customer').validate({-->
    <!--rules: {-->
    <!--"customer[first_name]": {-->
    <!--required: true-->
    <!--},-->
    <!--"customer[email]": {-->
    <!--required: true,-->
    <!--email: true-->
    <!--},-->
    <!--"customer[address]": {-->
    <!--required: true-->
    <!--},-->
    <!--"customer[notes]": {-->
    <!--required: true-->
    <!--}-->
    <!--},-->
    <!--highlight: function (element) {-->
    <!--$(element).closest('.form-group').removeClass('success').addClass('error');-->
    <!--},-->
    <!--success: function (element) {-->
    <!--element.addClass('valid').closest('.form-group').removeClass('error').addClass('success');-->
    <!--}-->
    <!--});-->

    <!--// tags with select2-->
    <!--$("#customer-tags").select2({-->
    <!--placeholder: 'Select tags or add new ones',-->
    <!--tags:["supplier", "lead", "client", "friend", "developer", "customer"],-->
    <!--tokenSeparators: [",", " "]-->
    <!--});-->

    <!--// masked input example using phone input-->
    <!--$(".mask-phone").mask("(999) 999-9999");-->
    <!--$(".mask-cc").mask("9999 9999 9999 9999");-->
    <!--});-->
    <!--</script>-->
</section>