<block-ui></block-ui>
<section id="datatables">
    <div id="wrapper">
        <ng-include src="'/partials/includes/nav.html'"></ng-include>

        <!-- Content -->
        <div id="content">
            <div class="menubar">
                <div class="sidebar-toggler visible-xs">
                    <i class="ion-navicon"></i>
                </div>

                <div class="page-title">
                    {{item_count}} Todos
                  
                </div>
            </div>

            <div class="content-wrapper">

                <p>
                    <select ng-show="hasPermission(['admin'])" ng-model="action" ng-change="performAction()">
                        <option>Actions</option>
                        <option value="delete">Delete</option>
                    </select>

                <form class="form-inline" name="sitemapForm" >
                    <div class="form-group">
                        <input type="text" ng-model="new_sitemap.url" class="form-control" name="url" placeholder="url" required>
                    </div>
			
			<div class="form-group">
				<input type="text" name="" ng-model="new_sitemap.priority" placeholder="priority" class="form-control">
			</div>
			<div class="form-group">
				<input type="text" name="" ng-model="new_sitemap.frequency" placeholder="Frequency" class="form-control">
			</div>
						

			<div class="form-group">
                <button type="submit" ng-click="create()" class="btn btn-success">Add</button>
			</div>			

                </form>
                </p>

                <table class="table">
                    <thead>
                    <tr>
                        <th ng-show="hasPermission(['admin'], currentUser.role)" tabindex="0" rowspan="1" colspan="1">
                            #
                        </th>
                        <th tabindex="0" rowspan="1" colspan="1">URL
                        </th>
                        <th tabindex="0" rowspan="1" colspan="1">PRIORITY
                        </th>
                        <th tabindex="0" rowspan="1" colspan="1">FREQUENCY
                        </th>
                        
                    </tr>
                    </thead>
                        <tr ng-repeat="sitemap in sitemaps">
                            <td>{{accessors.getId(sitemap)}}</td>
                            <td>{{sitemap.url}}</td>
                            <td>{{sitemap.priority}}</td>
                            <td>{{sitemap.frequency}}</td>
                            
                        </tr>

                    <tbody>
                    





                    </tbody>

                </table>

                <ng-include src="'/partials/includes/pagination.html'"></ng-include>

            </div>

        </div>


    </div>


</section>

