<block-ui></block-ui>
<section id="form">
    <div id="wrapper">
        <ng-include src="'/partials/includes/nav.html'"></ng-include>

        <div id="content">
            <div class="menubar">
                <div class="sidebar-toggler visible-xs">
                    <i class="ion-navicon"></i>
                </div>

                <div class="page-title">
                    Edit store

                </div>
            </div>

            <div class="content-wrapper">
                <ng-include src="'/partials/includes/alert.html'"></ng-include>
                <form id="new-customer" class="form-horizontal" name="editForm" role="form">
                    <div class="form-group">
                        <label class="col-sm-2 col-md-2 control-label">Name*</label>
                        <div class="col-sm-10 col-md-8">
                            <input type="text" class="form-control" ng-model="store.name" name="name" ng-required="true" />
                            <small class="text-danger" ng-show="editForm.name.$error.required">Name is required</small>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 col-md-2 control-label">Slug*</label>
                        <div class="col-sm-10 col-md-8">
                            <input type="text" class="form-control" name="slug" ng-model="store.slug" ng-required="true" />
                            <small class="text-danger" ng-show="editForm.slug.$error.required">Slug is required</small>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 col-md-2 control-label">Meta title*</label>
                        <div class="col-sm-10 col-md-8">
                            <input type="text" class="form-control" name="meta_title" ng-model="store.meta_title" ng-required="true" />
                            <small class="text-danger" ng-show="editForm.meta_title.$error.required">Meta title is required</small>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 col-md-2 control-label">Logo</label>
                        <div class="col-sm-10 col-md-8">
                            <input type="text" class="form-control" name="" ng-model="store.logo" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 col-md-2 control-label">About*</label>
                        <div class="col-sm-10 col-md-8">
                            <!--<textarea></textarea>-->
                            <!--<text-angular></text-angular>-->
                            <textarea ui-tinymce ng-model="store.about" ng-required="true" name="about" style="height: 600px;"></textarea>
                            <small class="text-danger" ng-show="editForm.about.$error.required">About is required</small>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 col-md-2 control-label">Meta description*</label>
                        <div class="col-sm-10 col-md-8">
                            <div class="has-feedback">
                                <textarea rows="4" name="meta_description" ng-model="store.meta_description" ng-required="true" class="form-control"></textarea>
                                <small class="text-danger" ng-show="editForm.name.$error.required">Name is required</small>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 col-md-2 control-label">Delivery note</label>
                        <div class="col-sm-10 col-md-8">
                            <div class="has-feedback">
                                <input type="text" ng-model="store.delivery_note" class="form-control">
                            </div>
                        </div>
                    </div>


                    <div class="form-group">
                        <label class="col-sm-2 col-md-2 control-label">Website</label>
                        <div class="col-sm-10 col-md-8">
                            <div class="has-feedback">
                                <input type="text" ng-model="store.website" class="form-control">
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 col-md-2 control-label">Price xpath*</label>
                        <div class="col-sm-10 col-md-8">
                            <div class="has-feedback">
                                <input type="text" ng-model="store.price_xpath" name="price_xpath" ng-required="true" class="form-control">
                                <small class="text-danger" ng-show="editForm.price_xpath.$error.required">Price xpath is required</small>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 col-md-2 control-label">Affiliate Query</label>
                        <div class="col-sm-10 col-md-8">
                            <div class="has-feedback">
                                <input type="text" ng-model="store.affiliate_query" class="form-control">
                                <!--<small class="text-danger" ng-show="editForm.price_xpath.$error.required">Price xpath is required</small>-->
                            </div>
                        </div>
                    </div>
		
			<div class="form-group">
				<label class="col-sm-2 col-md-2 control-label">Search path</label>
				<div class="col-sm-10 col-md-8">
					<div class="has-feedback">
						<input type="text" ng-model="store.search_path" class="form-control">
					</div>
				</div>
			</div>
		
                    <div class="form-group">
                        <label class="col-sm-2 col-md-2 control-label">Address</label>
                        <div class="col-sm-10 col-md-8">
                            <div class="has-feedback">
                                <input type="text" ng-model="store.address" name="address"  class="form-control">

                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 col-md-2 control-label">Email</label>
                        <div class="col-sm-10 col-md-8">
                            <div class="has-feedback">
                                <input type="email" ng-model="store.email" name="email"  class="form-control">

                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 col-md-2 control-label">Telephone</label>
                        <div class="col-sm-10 col-md-8">
                            <div class="has-feedback">
                                <input type="text" ng-model="store.tel" name="tel"  class="form-control">

                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 col-md-2 control-label">Is Dynamic/Uses Cloudflare</label>
                        <div class="col-sm-10 col-md-8">
                            <div class="has-feedback">
                                <input type="text" ng-model="store.is_dynamic" name="is_dynamic"  class="form-control">

                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 col-md-2 control-label">Accepted payments</label>
                        <div class="col-sm-10 col-md-8">
                            <div class="has-feedback">
                                <input type="text" ng-model="store.accepted_payments" name="accepted_payments"  class="form-control">

                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 col-md-2 control-label">Rating</label>
                        <div class="col-sm-10 col-md-8">
                            <div class="has-feedback">
                                <input type="text" ng-model="store.rating" name="rating"  class="form-control">

                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 col-md-2 control-label">Trusted shop</label>
                        <div class="col-sm-10 col-md-8">
                            <div class="has-feedback">
                                <input type="checkbox" ng-model="store.trusted_shop"> True

                            </div>
                        </div>
                    </div>







                    <div class="form-group form-actions">
                        <div class="col-sm-offset-2 col-sm-10">
                            <!--<a href="form.html" class="btn btn-default">Cancel</a>-->
                            <button type="submit" ng-click="editStore()" class="btn btn-success">Edit Store</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
