<block-ui></block-ui>
<section id="form">
    <div id="wrapper">
        <ng-include src="'/partials/includes/nav.html'"></ng-include>

        <div id="content">
            <div class="menubar">
                <div class="sidebar-toggler visible-xs">
                    <i class="ion-navicon"></i>
                </div>

                <div class="page-title">
                    Add a new store
                    <!--<small class="hidden-xs">-->
                    <!--<strong>This form has validation</strong>-->
                    <!--</small>-->
                </div>
            </div>

            <div class="content-wrapper">
                <ng-include src="'/partials/includes/alert.html'"></ng-include>
                <form id="new-customer" class="form-horizontal" name="storeForm" role="form">
                    <div class="form-group">
                        <label class="col-sm-2 col-md-2 control-label">Name*</label>
                        <div class="col-sm-10 col-md-8">
                            <input type="text" class="form-control" ng-model="new_store.name" name="name" ng-required="true" />
                            <small class="text-danger" ng-show="storeForm.name.$error.required">Name is required</small>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 col-md-2 control-label">Slug*</label>
                        <div class="col-sm-10 col-md-8">
                            <input type="text" slug from="new_store.name" disabled class="form-control" name="slug" ng-model="new_store.slug" ng-required="true" />
                            <small class="text-danger" ng-show="storeForm.slug.$error.required">Slug is required</small>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 col-md-2 control-label">Meta title*</label>
                        <div class="col-sm-10 col-md-8">
                            <!--<input type="text" class="form-control" name="meta_title" ng-model="new_store.meta_title" ng-required="true" />-->
                           <custom-textarea rows="2" name="meta_title" ng-required="true" ng-model="new_store.meta_title" min-characters="50" max-characters="60"></custom-textarea>
                            <small class="text-danger" ng-show="storeForm.meta_title.$error.required">Meta title is required</small>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 col-md-2 control-label">Logo</label>
                        <div class="col-sm-10 col-md-8">
                            <input type="text" class="form-control" name="" ng-model="new_store.logo" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 col-md-2 control-label">About*</label>
                        <div class="col-sm-10 col-md-8">
                            <!--<textarea></textarea>-->
                            <!--<text-angular></text-angular>-->
                            <textarea ui-tinymce ng-model="new_store.about" ng-required="true" name="about" style="height: 600px;"></textarea>
                            <small class="text-danger" ng-show="storeForm.about.$error.required">About is required</small>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 col-md-2 control-label">Meta description*</label>
                        <div class="col-sm-10 col-md-8">
                            <div class="has-feedback">
                                <!--<textarea rows="4" name="meta_description" ng-model="new_store.meta_description" ng-required="true" class="form-control"></textarea>-->
                                <custom-textarea rows="4" name="meta_description" ng-model="new_store.meta_description" ng-required="true" min-characters="160" max-characters="160"></custom-textarea>
                                <small class="text-danger" ng-show="storeForm.name.$error.required">Name is required</small>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 col-md-2 control-label">Delivery note</label>
                        <div class="col-sm-10 col-md-8">
                            <div class="has-feedback">
                                <input type="text" ng-model="new_store.delivery_note" class="form-control">
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 col-md-2 control-label">Website</label>
                        <div class="col-sm-10 col-md-8">
                            <div class="has-feedback">
                                <input type="text" ng-model="new_store.website" class="form-control">
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 col-md-2 control-label">Price xpath*</label>
                        <div class="col-sm-10 col-md-8">
                            <div class="has-feedback">
                                <input type="text" ng-model="new_store.price_xpath" name="price_xpath" ng-required="true" class="form-control">
                                <small class="text-danger" ng-show="storeForm.price_xpath.$error.required">Price xpath is required</small>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 col-md-2 control-label">Affiliate Query</label>
                        <div class="col-sm-10 col-md-8">
                            <div class="has-feedback">
                                <input type="text" ng-model="new_store.affiliate_query" class="form-control">
                                <!--<small class="text-danger" ng-show="editForm.price_xpath.$error.required">Price xpath is required</small>-->
                            </div>
                        </div>
                    </div>
			
			<div class="form-group">
				<label class="col-sm-2 col-md-2 control-label">Search path</label>
				<div class="col-sm-10 col-md-8">
					<div class="has-feedback">
						<input type="text" ng-model="new_store.search_path" class="form-control">
					</div>
				</div>
			</div>

                    <div class="form-group">
                        <label class="col-sm-2 col-md-2 control-label">Address</label>
                        <div class="col-sm-10 col-md-8">
                            <div class="has-feedback">
                                <input type="text" ng-model="new_store.address" name="address"  class="form-control">

                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 col-md-2 control-label">Email</label>
                        <div class="col-sm-10 col-md-8">
                            <div class="has-feedback">
                                <input type="email" ng-model="new_store.email" name="email"  class="form-control">

                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 col-md-2 control-label">Telephone</label>
                        <div class="col-sm-10 col-md-8">
                            <div class="has-feedback">
                                <input type="text" ng-model="new_store.tel" name="tel"  class="form-control">

                            </div>
                        </div>
                    </div>

                     <div class="form-group">
                        <label class="col-sm-2 col-md-2 control-label">is Dynamic Site/Uses Cloudflare</label>
                        <div class="col-sm-10 col-md-8">
                            <div class="has-feedback">
                                <input type="text" ng-model="new_store.is_dynamic" name="is_dynamic"  class="form-control">

                            </div>
                        </div>
                    </div>

                     <div class="form-group">
                        <label class="col-sm-2 col-md-2 control-label">Accepted payments</label>
                        <div class="col-sm-10 col-md-8">
                            <div class="has-feedback">
                                <input type="text" ng-model="new_store.accepted_payments" name="accepted_payments"  class="form-control">

                            </div>
                        </div>
                    </div>

                     <div class="form-group">
                        <label class="col-sm-2 col-md-2 control-label">Rating</label>
                        <div class="col-sm-10 col-md-8">
                            <div class="has-feedback">
                                <input type="text" ng-model="new_store.rating" name="rating"  class="form-control">

                            </div>
                        </div>
                    </div>



                    <div class="form-group">
                        <label class="col-sm-2 col-md-2 control-label">Trusted shop</label>
                        <div class="col-sm-10 col-md-8">
                            <div class="has-feedback">
                                <input type="checkbox" ng-model="new_store.trusted_shop"> True

                            </div>
                        </div>
                    </div>







                    <div class="form-group form-actions">
                        <div class="col-sm-offset-2 col-sm-10">
                            <!--<a href="form.html" class="btn btn-default">Cancel</a>-->
                            <button type="submit" ng-click="createStore()" class="btn btn-success">Create store</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>



    <!--<script type="text/javascript">-->
    <!--$(function () {-->

    <!--// form validation-->
    <!--$('#new-customer').validate({-->
    <!--rules: {-->
    <!--"customer[first_name]": {-->
    <!--required: true-->
    <!--},-->
    <!--"customer[email]": {-->
    <!--required: true,-->
    <!--email: true-->
    <!--},-->
    <!--"customer[address]": {-->
    <!--required: true-->
    <!--},-->
    <!--"customer[notes]": {-->
    <!--required: true-->
    <!--}-->
    <!--},-->
    <!--highlight: function (element) {-->
    <!--$(element).closest('.form-group').removeClass('success').addClass('error');-->
    <!--},-->
    <!--success: function (element) {-->
    <!--element.addClass('valid').closest('.form-group').removeClass('error').addClass('success');-->
    <!--}-->
    <!--});-->

    <!--// tags with select2-->
    <!--$("#customer-tags").select2({-->
    <!--placeholder: 'Select tags or add new ones',-->
    <!--tags:["supplier", "lead", "client", "friend", "developer", "customer"],-->
    <!--tokenSeparators: [",", " "]-->
    <!--});-->

    <!--// masked input example using phone input-->
    <!--$(".mask-phone").mask("(999) 999-9999");-->
    <!--$(".mask-cc").mask("9999 9999 9999 9999");-->
    <!--});-->
    <!--</script>-->
</section>
