<section id="search">
<div id="wrapper">
<ng-include src="'/partials/includes/nav.html'"></ng-include>

<div id="content">
<div class="menubar">
    <div class="sidebar-toggler visible-xs">
        <i class="ion-navicon"></i>
    </div>

    <div class="page-title">
       {{item_count}} Stores

    </div>
    <div class="options pull-right">
        <a href="#/store/new"><i class="fa fa-plus"></i> New store</a>
        <!--<a href="#"><i class="fa fa-download"></i> Download CSV</a>-->
    </div>
</div>

<div class="content-wrapper clearfix">


<div class="results">



    <table class="table">
        <thead>
        <tr>
            <th tabindex="0" rowspan="1" colspan="1">
                <input class="toggle-all" type="checkbox" />
            </th>
            <th tabindex="0" rowspan="1" colspan="1">Store
            </th>
            <th tabindex="0" rowspan="1" colspan="1">Slug
            </th>
            <th tabindex="0" rowspan="1" colspan="1">Trusted
            </th>
            <th tabindex="0" rowspan="1" colspan="1">Xpath
            </th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="store in stores">
            <td>
                <input name="select-product" type="checkbox" />
            </td>
            <td>
                <img class="img-responsive product-img" src="{{store.logo}}" />
               <a href="#/store/edit/{{accessors.getId(store)}}">{{store.name}}</a>
            </td>
            <td>{{store.slug}}</td>
            <td class="">{{store.trusted_shop}}</td>
            <td class="center">{{store.price_xpath}}</td>
        </tr>

        </tbody>
    </table>

    <ng-include src="'/partials/includes/pagination.html'"></ng-include>
</div>

</div>
</div>
</div>

</section>


