<section id="search">
<div id="wrapper">
<ng-include src="'/partials/includes/nav.html'"></ng-include>
<block-ui></block-ui>
<div id="content">
<div class="menubar">
    <div class="sidebar-toggler visible-xs">
        <i class="ion-navicon"></i>
    </div>

    <div class="page-title">
        {{item_count}} Subscribers

    </div>
    <div class="options pull-right">
        <a href="#/product/new"><i class="fa fa-plus"></i> New product</a>
        <!--<a href="#"><i class="fa fa-download"></i> Download CSV</a>-->
    </div>
</div>

<div class="content-wrapper clearfix">

<div class="filters">
    <h3 class="hidden-xs">Filters</h3>

</div>

<div class="results">
    <!--<ng-include src="'/partials/includes/search-action.html'"></ng-include>-->
    
    <table class="table" >
        <thead>
        <tr>
            
            <th tabindex="0" rowspan="1" colspan="1">Email
            </th>
            <th tabindex="0" rowspan="1" colspan="1">Status
            </th>
            <th tabindex="0" rowspan="1" colspan="1">For
            </th>
            <th tabindex="0" rowspan="1" colspan="1">Subscribed On
            </th>
            
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="subscriber in subscribers">
            
            <td class="">{{subscriber.email}}</td>
            <td class="center">{{subscriber.status}}</td>
            <td class="center">{{subscriber.subscribe_for}}</td>
            <td class="center">{{subscriber.subscribe_on}}</td>
        </tr>

        </tbody>

    </table>
    <ng-include src="'/partials/includes/pagination.html'"></ng-include>
</div>

</div>
</div>
</div>

</section>

<script type="text/javascript">
    $(function () {
        var $filters = $(".filters .filter input:checkbox");

        $filters.change(function () {
            var $option = $(this).closest(".filter").find(".filter-option");

            if ($(this).is(":checked")) {
                $option.slideDown(150, function () {
                    $option.find("input:text:eq(0)").focus();
                });
            } else {
                $option.slideUp(150);
            }
        });



        $('#datatable-example').dataTable({"bPaginate": false});



    });
</script>
