<block-ui></block-ui>
<section id="datatables">
<div id="wrapper">
<ng-include src="'/partials/includes/nav.html'"></ng-include>

<!-- Content -->
<div id="content">
<div class="menubar">
    <div class="sidebar-toggler visible-xs">
        <i class="ion-navicon"></i>
    </div>

    <div class="page-title">
       {{item_count}} Terms
        <a href="#/terms/new" class="btn btn-danger">New term</a>
    </div>
</div>

<div class="content-wrapper">

<table class="table">
<thead>
<tr>
    <th tabindex="0" rowspan="1" colspan="1">Title
    </th>
    <th tabindex="0" rowspan="1" colspan="1">Slug
    </th>
    <th tabindex="0" rowspan="1" colspan="1">Status
    </th>
    <th tabindex="0" rowspan="1" colspan="1">Medium
    </th>
</tr>
</thead>


<tbody>
<tr ng-repeat="term in terms">
    <td>
        <a href="#/terms/edit/{{accessors.getId(term)}}">{{term.title}}</a>
    </td>
    <td>{{term.slug}}</td>
    <td>{{term.status}}</td>
    <td>{{term.medium}}</td>
</tr>





</tbody>



</table>

    <ul class="pagination">
        <li ng-click="paginate(previous)">
            <span aria-hidden="true">&laquo; Previous</span>
        </li>
        <li>
            <span ng-click="paginate(next)" aria-hidden="true">Next &raquo;</span>
        </li>
    </ul>

</div>

</div>


</div>


</section>
