<block-ui></block-ui>
<section id="form">
    <div id="wrapper">
        <ng-include src="'/partials/includes/nav.html'"></ng-include>

        <div id="content">
            <div class="menubar">
                <div class="sidebar-toggler visible-xs">
                    <i class="ion-navicon"></i>
                </div>

                <div class="page-title">
                    New terms

                </div>
            </div>

            <div class="content-wrapper">
                <ng-include src="'/partials/includes/alert.html'"></ng-include>


                <form class="form-horizontal col-md-8" name="editForm">
                    <div class="form-group">
                        <label class="col-md-2">Title</label>
                        <div class="col-md-10">
                            <input ng-model="term.title" name="title" ng-required="true" class="form-control" type="text">
                            <small class="text-danger" ng-show="editForm.title.$error.required">Title is required</small>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2">Slug</label>
                        <div class="col-md-10">
                            <input class="form-control" slug disabled from="term.title" name="slug" ng-model="term.slug" ng-required="true" type="text">
                            <small class="text-danger" ng-show="editForm.slug.$error.required">Slug is required</small>
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <label class="col-md-2">Status</label>
                        <div class="col-md-10">
                            <select name="status" ng-model="term.status" class="form-control">
                                <option ng-repeat="st in options" value="{{st}}">{{st}}</option>
                            </select>
                        </div>
                    </div>
 

                    <div class="form-group">
                        <label class="col-md-2"></label>
                        <div class="col-md-10">
                            <button ng-click="create()" class="btn btn-primary">Save</button>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</section>
