<block-ui></block-ui>
<section id="datatables">
    <div id="wrapper">
        <ng-include src="'/partials/includes/nav.html'"></ng-include>

        <!-- Content -->
        <div id="content">
            <div class="menubar">
                <div class="sidebar-toggler visible-xs">
                    <i class="ion-navicon"></i>
                </div>

                <div class="page-title">
                    {{item_count}} Todos
                  
                </div>
            </div>

            <div class="content-wrapper">

                <p>
                    <select ng-show="hasPermission(['admin'])" ng-model="action" ng-change="performAction()">
                        <option>Actions</option>
                        <option value="delete">Delete</option>
                    </select>

                <form class="form-inline" name="todoForm" >
                    <div class="form-group">
                        <input type="text" ng-model="new_todo.title" class="form-control" name="title" placeholder="TITLE" required>
                    </div>
			<div class="form-group" class="form-control">
				<select ng-model="new_todo.category" class="form-control" name="category">
					<option ng-repeat="category in categories" value="{{category.slug}}">{{category.name}}</option>
				</select>
			</div>
			<div class="form-group">
				<input type="text" name="" ng-model="new_todo.features" placeholder="Features" class="form-control">
			</div>
			<div class="form-group">
				<input type="text" name="" ng-model="new_todo.wikipedia" placeholder="WIKIPEDIA" class="form-control">
			</div>

			<div class="form-group">
				<input type="text" name="" ng-model="new_todo.official_url" placeholder="OFFICIAL URL" class="form-control">
			</div>
			<div class="form-group">
				<select ng-model="new_todo.manufacturer" name="manufacturer" class="form-control">
					<option  ng-repeat="manu in manufacturers" value="{{manu.slug}}">{{manu.name}}</option>
				</select>
			</div>
			<div class="form-group">
				<input type="text" ng-model="new_todo.ranking" name="" placeholder="RANKING" class="form-control">
			</div>

			<div class="form-group">
                <button type="submit" ng-click="create()" class="btn btn-success">Add</button>
			</div>			

                </form>
                </p>

                <table class="table">
                    <thead>
                    <tr>
                        <th ng-show="hasPermission(['admin'], currentUser.role)" tabindex="0" rowspan="1" colspan="1">
                            #
                        </th>
                        <th tabindex="0" rowspan="1" colspan="1">TITLE
                        </th>
                        <th tabindex="0" rowspan="1" colspan="1">CATEGORY
                        </th>
                        <th tabindex="0" rowspan="1" colspan="1">FEATURE
                        </th>
                        <th tabindex="0" rowspan="1" colspan="1">WIKI
                        </th>
                        <th tabindex="0" rowspan="1" colspan="1">OFFICIAL URL
                        </th>
                        <th tabindex="0" rowspan="1" colspan="1">MANUFACTURER
                        </th>
                        <th tabindex="0" rowspan="1" colspan="1">RANKING
                        </th>

                        <th tabindex="0" rowspan="1" colspan="1">STATUS
                        </th>

                    </tr>
                    </thead>
                        <tr ng-repeat="todo in todos">
                            <td>{{todo.title}}</td>
                            <td>{{todo.category}}</td>
                            <td>{{todo.features}}</td>
                            <td>{{todo.wikipedia}}</td>
                            <td>{{todo.official_url}}</td>
                            <td>{{todo.manufacturer}}</td>
                            <td>{{todo.ranking}}</td>
                            <td>{{todo.status}}</td>
                        </tr>

                    <tbody>
                    





                    </tbody>

                </table>

                <ng-include src="'/partials/includes/pagination.html'"></ng-include>

            </div>

        </div>


    </div>


</section>

