<block-ui></block-ui>
<section id="datatables">
    <div id="wrapper">
        <ng-include src="'/partials/includes/nav.html'"></ng-include>

        <!-- Content -->
        <div id="content">
            <div class="menubar">
                <div class="sidebar-toggler visible-xs">
                    <i class="ion-navicon"></i>
                </div>

                <div class="page-title">
                    Users list
                    <small class="pull-right">
                        <a class="btn btn-danger" href="#/user/new">Create User</a>
                    </small>
                </div>
            </div>

            <div class="content-wrapper">

                <p>
                    <select ng-model="action" ng-change="performAction()">
                        <option>Actions</option>
                        <option value="delete">Delete</option>
                    </select>


                </p>

                <table class="table">
                    <thead>
                    <tr>
                        <th tabindex="0" rowspan="1" colspan="1">#
                        </th>
                        <th tabindex="0" rowspan="1" colspan="1">Fullname
                        </th>
                        <th tabindex="0" rowspan="1" colspan="1">Email
                        </th>
                        <th tabindex="0" rowspan="1" colspan="1">Role
                        </th>
                        <th tabindex="0" rowspan="1" colspan="1">Profile picture
                        </th>
                        
                    </tr>
                    </thead>


                    <tbody>
                    <tr ng-repeat="user in users">
                        <td>
                            <input ng-model="fake" name="select-product" ng-change="toggleSelected(accessors.getId(user))" type="checkbox" />
                        </td>
                        <td>
                            <a href="#/user/edit/{{accessors.getId(user)}}">{{ user.first_name}} {{user.last_name}}</a>
                        </td>
                        <td>{{user.email}}</td>
                        <td>{{user.role}}</td>
                       
                        <td class="center"><img style="width: 50px;" src="{{user.photo}}"></td>
                    </tr>





                    </tbody>

                </table>
                <ng-include src="'/partials/includes/pagination.html'"></ng-include>


            </div>

        </div>


    </div>


</section>

