<block-ui></block-ui>
<section id="form">
    <div id="wrapper">
        <ng-include src="'/partials/includes/nav.html'"></ng-include>

        <div id="content">
            <div class="menubar">
                <div class="sidebar-toggler visible-xs">
                    <i class="ion-navicon"></i>
                </div>

                <div class="page-title">
                    New user

                </div>
            </div>

            <div class="content-wrapper">
                <ng-include src="'/partials/includes/alert.html'"></ng-include>
                <form id="new-customer" class="form-horizontal" name="editForm" role="form">
                    <div class="form-group">
                        <label class="col-sm-2 col-md-2 control-label">First name*</label>
                        <div class="col-sm-10 col-md-8">
                            <input type="text" class="form-control" name="first_name" ng-required="true" ng-model="user.first_name" />
                            <small ng-show="editForm.first_name.$error.required">First name is required</small>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 col-md-2 control-label">Last name*</label>
                        <div class="col-sm-10 col-md-8">
                            <input type="text" class="form-control" name="last_name" ng-model="user.last_name" ng-required="true" />
                            <small ng-show="editForm.last_name.$error.required">Last name is required</small>

                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 col-md-2 control-label">Email*</label>
                        <div class="col-sm-10 col-md-8">
                            <input type="email" ng-required="true" class="form-control" ng-model="user.email" name="email" />
                            <small ng-show="editForm.email.$error.required">Email is required</small>

                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 col-md-2 control-label">Profile</label>
                        <div class="col-sm-10 col-md-8">
                            <input type="text" class="form-control" name="photo" ng-model="user.photo"  />


                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 col-md-2 control-label">Facebook Url</label>
                        <div class="col-sm-10 col-md-8">
                            <input type="url" class="form-control" ng-model="user.fb_url" name="facebook" />
                            <!--<small ng-show="userForm.facebook.$error.required">Email is required</small>-->

                        </div>
                    </div>


                    <div class="form-group">
                        <label class="col-sm-2 col-md-2 control-label">Twitter Handle</label>
                        <div class="col-sm-10 col-md-8">
                            <input type="text"  class="form-control" ng-model="user.twitter_handle" name="twitter" />
                            <!--<small ng-show="userForm.email.$error.required">Email is required</small>-->

                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 col-md-2 control-label">Google plus</label>
                        <div class="col-sm-10 col-md-8">
                            <input type="text"  class="form-control" ng-model="user.google_plus" name="googleplus" />
                            <!--<small ng-show="userForm.email.$error.required">Email is required</small>-->

                        </div>
                    </div>



                    <div class="form-group">
                        <label class="col-sm-2 col-md-2 control-label">Role</label>
                        <div class="col-sm-10 col-md-8">
                            <select name="role" ng-required="true" ng-model="user.role">
                                <option ng-repeat="r in roles" value="{{r}}" ng-selected="r == user.role">{{r}}</option>
                            </select>
                            <small ng-show="editForm.role.$error.required">Role is required</small>

                        </div>
                    </div>

                    <div class="form-group form-actions">
                        <div class="col-sm-offset-2 col-sm-10">
                            <!--<a href="form.html" class="btn btn-default">Cancel</a>-->
                            <button ng-click="editUser()" class="btn btn-success">Edit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>