script(async="", src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js")
// bestprices-box-ad
ins.adsbygoogle(style="display:inline-block;width:300px;height:250px", data-ad-client="ca-pub-0564528186799166", data-ad-slot="5694687582")
script.
  (adsbygoogle = window.adsbygoogle || []).push({});
