script(id='compare-prices-template', type='text/x-handlebars-template').
    <div class="compare-prices-component">
        <p class="inline-block">RECOMMENDED DEALS</p>
        <table class="pure-table">
            {{#each data.offers}}
            <tr>
                <td><img src="{{store.logo}}" style="width:80px;"/></td>
                <td class="pure-hidden-phone"><span itemprop="name">{{../data.title}}</span></td>
                <td><span>From<span class="text-color-red">&nbsp; N<span>{{price}}</span></span></span></td>
                <td class="pure-hidden-phone"><img src="http://bestprices.ng/images/v1/trusted.png" style="width:30px;"/></td>
                <td><a href="{{afflink this}}" itemprop="url" target="_blank" class="pure-button button-orange" onclick="_gaq.push(['_trackEvent', 'Offers Component', 'Click', '{{../data.title}} - {{store.name}}']);">go to Store</a></td>
            </tr>
            {{/each}}
        </table>
        <p class="center-align">We found {{offers.length}}+ {{data.title}} &nbsp;<a href="http://bestprices.ng/{{data.slug}}?utm_source=bestprices&utm_medium=prices_component&utm_campaign=bestprices_component" class="pure-button button-orange margin-bottom-5">View Deals</a></p>
    </div>
script(id='recent-news-template', type='text/x-handlebars-template').
    {{#each data}}

    <div class="pure-u-md-1-6 pure-u-1 news-item"><a href="http://{{article_type}}.bestprices.ng/{{slug}}?utm_source=bestprices&utm_medium=recent_news&utm_campaign=bestprices_product_page"><img src="{{thumbnail}}"/></a>
        <h3 class="no-margin"><a href="http://{{article_type}}.bestprices.ng/{{slug}}?utm_source=bestprices&utm_medium=recent_news&utm_campaign=bestprices_product_page">{{title}}</a></h3>

    </div>
    {{/each}}
script(id="recommended-products-template", type="text/x-handlebars-template").
    {{#each data}}
    <div class="product-display-box pure-u-xs-1-1 pure-u-md-1-6 pure-u-1">
    <a href="/{{slug}}?utm_source=bestprices&utm_medium=similar_products&utm_campaign=bestprices_product_page">
       <img src="{{photos.[0]}}" style="max-width:180px;max-height:120px;margin-left:auto;margin-right:auto;"/>
       <h1>
    <a href="/{{slug}}?utm_source=bestprices&utm_medium=similar_products&utm_campaign=bestprices_product_page" class="undecorated-link">{{title}}</a></h1>
    <h3>N{{offers.[0].price}}</h3>
    <p><a href="/{{slug}}?utm_source=bestprices&utm_medium=similar_products&utm_campaign=bestprices_product_page" class="undecorated-link">from {{offers.length}} stores</a></p>
    <div class="compare-prices"><a href="/{{slug}}?utm_source=bestprices&utm_medium=similar_products&utm_campaign=bestprices_product_page" class="undecorated-link href">Compare Prices</a></div>
    </a></div>
    {{/each}}
script(id='popular-posts-template', type='text/x-handlebars-template').
    {{#each data}}

        <li><img src="{{thumbnail}}"/><a href="http://{{article_type}}.bestprices.ng/{{slug}}?utm_source=bestprices&utm_medium=sidebar_popular_posts&utm_campaign=bestprices_sidebar" class="undecorated-link">{{title}}</a></li>

    {{/each}}
script(id='hot-products-template', type='text/x-handlebars-template').
    {{#each data}}
    <div class="pure-g">
            <div style="text-align:center;" class="pure-u-1">
              <p class="no-margin"><img src="{{photos.[0]}}" style="max-width:180px;max-height:120px;display:block;margin-left:auto;margin-right:auto;"/></p>
              <h4 class="display-block no-margin">{{title}}</h4><span class="display-block text-color-red no-margin">₦{{offers.[0].price}}</span>
              <p class="no-margin"><a href="http://bestprices.ng/{{slug}}?utm_source=bestprices&utm_medium=sidebar_hot_products&utm_campaign=bestprices_sidebar" class="undecorated-link">Compare</a></p>
            </div>
          </div>
    {{/each}}
script(id='email-subscribe-template', type='text/x-handlers-template').
    <div id="email-subscribe-box" style="margin-left:auto; margin-right:auto;margin-top:10px;background-color:#f8f8f8;" class="standard-padding pure-u-1 pure-u-md-12-24">
                <div style="margin-left:auto; margin-right:auto;">
                  <p class="no-margin">Get Email Updates (It's Free)</p>
                    <div id="email-subscribe-message" style="display:none;" class="pure-u-1">
                          <p>Thank You</p>
                        </div>
                  <form class="pure-form" id="email-subscribe-form">
                    <fieldset>
                      <div id="subscribe-input-container" class="pure-g">

                        <div class="pure-u-md-18-24 pure-u-1">
                          <input type="email" id="subscribe-email-textfield" placeholder="Enter your Email Address" class="pure-u-1"/>
                        </div>
                        <div class="pure-u-md-2-24 pure-u-1 margin-left-5">
                          <input type="submit" name="subscribe-email-button" id="subscribe-email-button" class="pure-button button-red"/>
                        </div>
                      </div>
                    </fieldset>
                  </form>
                </div>
              </div>