.store
            h5 Filter by store
            .checkbox
              label(for="konga")
                input#konga(type="checkbox", value="Hotel")
                | Konga.com (
                span 23
                | )
            .checkbox
              label(for="jumia")
                input#jumia(type="checkbox", value="Hotel")
                | Jumia.com.ng (
                span 12
                | )
            .checkbox
              label(for="afriqbuy")
                input#afriqbuy(type="checkbox", value="Hotel")
                | Afriqbuy (
                span 2
                | )
            .checkbox
              label(for="dealdey")
                input#dealdey(type="checkbox", value="Hotel")
                | Dealdey (
                span 4
                | )
            .checkbox
              label(for="smartbuy")
                input#smartbuy(type="checkbox", value="Hotel")
                | Smart Buy (
                span 8
                | )
            .checkbox
              label(for="payporte")
                input#payporte(type="checkbox", value="Hotel")
                | PayPorte (
                span 8
                | )
            .checkbox
              label(for="glo")
                input#glo(type="checkbox", value="Hotel")
                | Gloo Nigeria (
                span 9
                | )