section.footer
    .container
        .visible-xs
          a(href='tel:#{settings.phone}')
            .contact
              p
                i.fa.fa-phone
                                           
              p #{settings.phone}
                               
          a(href='mailto:#{settings.email}')
            .contact
              p
                i.fa.fa-envelope
                                           
              p #{settings.email}
          
          if links
            if links.pages                     
              .footer-links
                each link in links.pages
                  a(href=link.url, target=link.target)= link.title
                  span 

            if links.social                     
              .footer-links
                each link in links.social
                  a(href=link.url, target=link.target)= link.title
                  span 
                
                               
          p  &copy; 2015 Bestprices.ng
                         
        .hidden-xs
          .trade
            .trademark
              img(src='/images/BestPrices.png', alt='BestPrices Logo', style="width:100px;")
                                           
              p &copy; All Right Reserved.
          
          if links
            if links.pages
              .group
                h5.footer-head Pages
                each link in links.pages                 
                  a(href=link.url, target=link.target)= link.title
                  br
            if links.social
              .group
                h5.footer-head Social Media
                each link in links.social                
                  a(href=link.url, target=link.target)= link.title
                  br
            
                                 
          .group
            h5.footer-head Contacts
                                     
            a(href='#') #{settings.phone}
            br
                                     
            a(href='mailto:#{settings.email}') #{settings.email}
            br