nav.navbar.navbar-default.navbar-static-top
    .container-fluid
        .navbar-header
          button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
            span.sr-only Toggle navigation                         
            span.icon-bar
                                    
            span.icon-bar
                                     
            span.icon-bar
                               
          a.navbar-brand(href='#{domain}')
            img(src="#{settings.cdn}/images/BestPrices.png", style="max-width:200px;margin-top:-15px;")
                         
        #navbar.navbar-collapse.collapse
          form.navbar-form.navbar-left(role='search', method="GET", action="#{domain}/search")
            .input-group
              .input-group-btn
                select.form-control
                  option Compare
              if search                             
                input.form-control(type='text', name="search", value="#{search}" aria-label='...', placeholder='Enter a product name')
              else
                input.form-control(type='text', name="search", value="" aria-label='...', placeholder='Enter a product name')
                                     
              .input-group-btn
                button.btn.btn-default(type="submit", style="min-height:34px;")
                  i.fa.fa-search
                  span.hidden-xs Search
                               
          ul.nav.navbar-nav.navbar-right.hidden-xs
            if links.top
                                     
              if links.top.HowTo
                if page.name == 'HowTo'
                  li.active
                    a(href='#{links.top.HowTo.url}', target=links.top.HowTo.target) How To
                else
                  li
                    a(href='#{links.top.HowTo.url}', target=links.top.HowTo.target) How To

                                  
              if links.top.Blog
                if page.name == 'Blog'
                  li.active
                    a(href='#{links.top.Blog.url}', target=links.top.Blog.target) Blog
                else
                  li
                    a(href='#{links.top.Blog.url}', target=links.top.Blog.target) Blog
          ul.nav.navbar-nav.navbar-right.visible-xs
            each menu in nav_menu
              li
                a(href="#{domain}/categories/#{menu.slug}")= menu.name
            
    if nav_menu         
      nav.links.hidden-xs
        ul.nav-links
          - var priority_menus = nav_menu.slice(0,6)
          - var others = nav_menu.slice(6, nav_menu.length)
          each menu in priority_menus
            // Edited by Emeka 
            //Remove dropdown class from li
            li.dropdown
              if menu.children.length > 0
                a.toplevelnavitem.dropdown-toggle(href="#{domain}/categories/#{menu.slug}", data-toggle="dropdown", role="button", aria-haspopup="true", aria-expanded="false")
                  | #{menu.name}
                  
                  span.caret
              else
                a(href="#{domain}/categories/#{menu.slug}")
                  | #{menu.name}
              if menu.children.length > 0
                ul.dropdown-menu(aria-labelledby="drop2")
                  each sub in menu.children
                    li
                      a.toplevelnavitem(href="#{domain}/categories/#{sub.slug}")= sub.name
          li.dropdown
            a(href="#") Others
              ul.dropdown-menu(aria-labelledby="drop2")
                each menu in others
                  li.dropdown
                    if menu.children.length > 0
                      a.dropdown-toggle(href="#{domain}/categories/#{menu.slug}", data-toggle="dropdown", role="button", aria-haspopup="true", aria-expanded="false")
                        | #{menu.name}
                        
                        span.caret
                    else
                      a(href="#{domain}/categories/#{menu.slug}")
                        | #{menu.name}

                  
