script(async="", src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js")
ins.adsbygoogle(style="display:inline-block;width:300px;height:90px", data-ad-client="ca-pub-0564528186799166", data-ad-slot="8128465184")
script.
  (adsbygoogle = window.adsbygoogle || []).push({});
