.recently-viewed-items.hidden-xs
      .container
        h3 Latest in Stock
        .recent
          .thumbnail
            img(src="/images/v3/iphone.jpg", width="100%")
            .caption
              h5 IPhone 6 Plus
              .about
                .price
                  span In 9 stores
                  p &#8358;16,000
                .compare-button
                  button.btn.btn-compare Compare
          .thumbnail
            img(src="/images/v3/iphone.jpg", width="100%")
            .caption
              h5 IPhone 6 Plus
              .about
                .price
                  span In 9 stores
                  p &#8358;16,000
                .compare-button
                  button.btn.btn-compare Compare
          .thumbnail
            img(src="/images/v3/iphone.jpg", width="100%")
            .caption
              h5 IPhone 6 Plus
              .about
                .price
                  span In 9 stores
                  p &#8358;16,000
                .compare-button
                  button.btn.btn-compare Compare
          .thumbnail
            img(src="/images/v3/iphone.jpg", width="100%")
            .caption
              h5 IPhone 6 Plus
              .about
                .price
                  span In 9 stores
                  p &#8358;16,000
                .compare-button
                  button.btn.btn-compare Compare
          .thumbnail
            img(src="/images/v3/iphone.jpg", width="100%")
            .caption
              h5 IPhone 6 Plus
              .about
                .price
                  span In 9 stores
                  p &#8358;16,000
                .compare-button
                  button.btn.btn-compare Compare