.news-stories.hidden-xs
      .container
        .thumbnail
          img(src="img/shutterstock.jpg", width="100%")
          .caption
            .about
              p News
              span  &#183; 
              p 27 July, 2015
            h4 Hello - Facebook new Andriod App is now available to Nigerians
        .thumbnail
          img(src="img/shutterstock.jpg", width="100%")
          .caption
            .about
              p News
              span  &#183; 
              p 27 July, 2015
            h4 Hello - Facebook new Andriod App is now available to Nigerians
        .thumbnail
          img(src="img/shutterstock.jpg", width="100%")
          .caption
            .about
              p News
              span  &#183; 
              p 27 July, 2015
            h4 Hello - Facebook new Andriod App is now available to Nigerians
