if page.name != 'Shopping'
    div#fb-root
    script.
        (function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=1508320122751157&version=v2.0";
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));

if page.name == "Shopping"
    script(src="https://cdnjs.cloudflare.com/ajax/libs/react/0.13.3/react.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/react/0.13.3/JSXTransformer.js")
    script(type="text/jsx", src="/javascripts/components/react/subscribe-box.js")
    script(type="text/jsx").
        React.render(<SubscribeBox title="#{settings.subscribeTitle}" button="#{settings.subscribeButtonTitle}" placeholder="#{settings.subscribePlaceholder}" successMessage="#{settings.subscribeSuccessMessage}" />, document.getElementById("subscribe-box"))

    - //script for sidebar filter by brands
    if page.sub_name == "Product"
        script(type="text/javascript", src="https://cdnjs.cloudflare.com/ajax/libs/raty/2.7.0/jquery.raty.min.js")
        script(type="text/jsx", src="/javascripts/components/react/recent-products.js")
        script(type="text/jsx").
            React.render(<RecentProducts domain="" query="#{product.title}" currency="#{settings.currency}"/>, document.getElementById("similar-products"))
        script.
            $(function(){
                $('div.store-star-rating').raty({
                    path:"https://cdnjs.cloudflare.com/ajax/libs/raty/2.7.0/images",
                  readOnly: true,
                  score: function() {
                    return $(this).attr('data-rating');
                  }
                });
            });

    script.
        $(function(){
            $(".filter-with-brand").click(function(e){
                alert(window.location.href);
            })
        })

script.
    //twitter follow button script
    window.twttr=(function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],t=window.twttr||{};if(d.getElementById(id))return t;js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);t._e=[];t.ready=function(f){t._e.push(f);};return t;}(document,"script","twitter-wjs"));
script.
    $(".toplevelnavitem").click(function(){
            window.location.href = $(this).attr("href");
        });
