.sidebar.hidden-xs
  .manufacturer
    h5 Filter by Price
    ul
      - var counter = 0
      each price, index in facets.facet_queries
        if price != 0
          li
            a(href="/search?search=#{search}&price_range=#{index}") #{settings.price_facets_string[counter]} (#{price})
        - counter = counter + 1
  .manufacturer
    h5 Filter by Brands
    ul
      - var i = 0
      - var brands = facets.facet_fields.brand
      while i < brands.length - 1
        if brands[i+1] != 0
          li
            a(href="/search?search=#{search}&brand=#{brands[i]}") #{brands[i]} (#{brands[i+1]})
        - i += 2
  .manufacturer
    h5 Filter by Category
    ul
      - var i = 0
      - var categories = facets.facet_fields.category
      while i < categories.length - 1
        if categories[i+1] != 0
          li
            a(href="/search?search=#{search}&category=#{categories[i]}") #{categories[i]} (#{categories[i+1]})
        - i += 2
      
    