.recommendations.hidden-xs
  .popular-products
    h4 People also viewed
    .thumbnail
      img(src="img/nexus%205.png", width="100%")
      .caption
        h5 Google Nexus 5
        .about
          .price
            span In 9 stores
            p &#8358;16,000
    .thumbnail
      img(src="img/nexus%205.png", width="100%")
      .caption
        h5 Google Nexus 5
        .about
          .price
            span In 9 stores
            p &#8358;16,000
    .thumbnail
      img(src="img/nexus%205.png", width="100%")
      .caption
        h5 Google Nexus 5
        .about
          .price
            span In 9 stores
            p &#8358;16,000
    .thumbnail
      img(src="img/nexus%205.png", width="100%")
      .caption
        h5 Google Nexus 5
        .about
          .price
            span In 9 stores
            p &#8358;16,000